openapi: 3.1.0
info:
  title: Exa Public API
  version: 2.0.0
servers:
  - url: https://api.exa.ai
security:
  - apiKey: []
  - bearer: []
paths:
  /search:
    post:
      operationId: search
      summary: Search
      description: 使用经 Exa 提示工程优化的 query 执行搜索，并获取相关结果列表。还可选择获取页面内容。
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.007"
          max: "0.015"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: b5947044c4b78efa9552a7c89b306d95
                results:
                  - title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    id: https://arxiv.org/abs/2307.06435
                    image: https://arxiv.org/pdf/2307.06435.pdf/page_1.png
                    favicon: https://arxiv.org/favicon.ico
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: 这篇关于大语言模型（LLM）的综述论文重点介绍了关键进展……
                resolvedSearchType: neural
                costDollars:
                  total: 0.007
                  search:
                    neural: 0.007
              schema:
                $ref: "#/components/schemas/SearchResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/SearchStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: 需要支付。对于使用 API 密钥的请求，这是标准错误封装（积分已用尽或超出预算）。对于按 x402 定价的端点，未使用 API
            密钥的请求会收到 tag 为 `X402_PAYMENT_REQUIRED` 的 x402 支付质询：即扩展了 x402
            支付元数据（`x402Version`、`resource`、`accepts` 和可选的
            `extensions`）的错误封装，用于说明如何支付该请求。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /contents:
    post:
      operationId: getContents
      summary: Contents
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.001"
          max: "0.010"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentsRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: e492118ccdedcba5088bfc4357a8a125
                results:
                  - id: https://arxiv.org/abs/2307.06435
                    title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: 这篇关于大语言模型（LLM）的综述论文重点介绍了关键进展……
                statuses:
                  - id: https://arxiv.org/abs/2307.06435
                    status: success
                    source: cached
                costDollars:
                  total: 0.003
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: 需要支付。对于使用 API 密钥的请求，这是标准错误封装（积分已用尽或超出预算）。对于按 x402 定价的端点，未使用 API
            密钥的请求会收到 tag 为 `X402_PAYMENT_REQUIRED` 的 x402 支付质询：即扩展了 x402
            支付元数据（`x402Version`、`resource`、`accepts` 和可选的
            `extensions`）的错误封装，用于说明如何支付该请求。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /answer:
    post:
      operationId: answer
      summary: 回答
      description: 根据 query 执行搜索，并根据 query 类型生成直接回答或附带引用来源的详细摘要。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnswerRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
                answer: $350 billion.
                citations:
                  - id: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    url: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    title: SpaceX valued at $350bn as company agrees to buy shares from ...
                    author: Dan Milmo
                    publishedDate: 2024-12-11T00:00:00.000Z
                    text: SpaceX valued at $350bn as company agrees to buy shares from ...
                costDollars:
                  total: 0.005
              schema:
                $ref: "#/components/schemas/AnswerResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AnswerStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /findSimilar:
    post:
      operationId: findSimilar
      summary: 查找相似链接
      description: 查找与所提供 URL 相似的链接，并可选择获取其页面内容。已弃用：请优先使用描述来源的 query 调用 `/search`。
      x-exa-lifecycle: deprecated
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindSimilarRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            Deprecation:
              description: 表示此操作已弃用。
              schema:
                type: string
              example: "true"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindSimilarResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /monitors:
    post:
      operationId: createMonitor
      summary: 创建监控器
      description: |-
        创建一个新的监控器，以便按 schedule 定期运行 Exa search。

        监控器会按重复 schedule 自动执行您的 search query，并将结果发送到您的 webhook 端点，同时自动去重：

        - **基于日期的过滤**仅获取自上次运行以来的内容

        - **语义去重**会跟踪之前的输出，仅呈现新的进展

        响应中包含 `webhookSecret`，该值仅在创建时返回一次。请妥善保存，以便验证 webhook 签名。
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSearchMonitorParameters"
      responses:
        "201":
          description: 创建的监控器及 webhook 密钥
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listMonitors
      summary: 列出监控器
      description: 列出已认证团队的所有监控器。支持按状态过滤和基于 cursor 的分页。
      tags:
        - Monitors
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum:
              - active
              - paused
              - disabled
            description: 按状态过滤监控器
        - in: query
          name: cursor
          schema:
            type: string
            description: 上一响应中的分页 cursor
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: 每页结果数
            default: 50
        - in: query
          name: name
          schema:
            type: string
            maxLength: 250
            description: 按名称过滤监控器（不区分大小写的子字符串匹配）
        - in: query
          name: metadata
          schema:
            description: 按元数据键值对过滤监控器（精确匹配，AND 语义）。使用方括号表示法：`metadata[key]=value`。
            type: object
            propertyNames:
              type: string
            additionalProperties:
              type: string
          style: deepObject
          explode: true
          description: 按元数据键值对过滤监控器（精确匹配，AND 语义）。使用方括号表示法：`metadata[key]=value`。
      responses:
        "200":
          description: 分页监控器列表
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/batch:
    post:
      operationId: batchMonitors
      summary: 对监控器执行批量操作
      description: >-
        对符合所提供过滤条件的监控器执行批量操作。


        支持的操作：

        - **delete**：永久删除匹配的监控器

        - **pause**：暂停匹配的监控器

        - **unpause**：取消暂停匹配的监控器


        使用 `dry_run: true`（默认值）可在执行操作前预览会受影响的监控器。结果通过 `limit` 参数分页；循环执行，直至
        `has_more` 为 `false`，以处理所有匹配的监控器。
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchMonitorsRequest"
      responses:
        "200":
          description: 批量操作结果
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}:
    get:
      operationId: getMonitor
      summary: 获取监控器
      description: 通过 ID 获取单个监控器。
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: 监控器 ID
          required: true
          description: 监控器 ID
      responses:
        "200":
          description: 监控器
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    patch:
      operationId: updateMonitor
      summary: 更新监控器
      description: 更新现有监控器。所有 field 均为可选。对于 `search`，您可以仅发送包含要更改 field 的部分对象。将
        `trigger` 设为 `null` 可移除 schedule。
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: 监控器 ID
          required: true
          description: 监控器 ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSearchMonitorParameters"
      responses:
        "200":
          description: 已更新的监控器
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteMonitor
      summary: 删除监控器
      description: 删除监控器。此操作无法撤销。
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: 监控器 ID
          required: true
          description: 监控器 ID
      responses:
        "200":
          description: 已删除的监控器
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/trigger:
    post:
      operationId: triggerMonitor
      summary: 触发监控器
      description: 立即触发一次运行，不受 schedule 影响。适用于状态为 `active` 或 `paused` 的监控器。
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: 监控器 ID
          required: true
          description: 监控器 ID
      responses:
        "200":
          description: 监控器是否已触发
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs:
    get:
      operationId: listRuns
      summary: 列出运行
      description: 使用基于 cursor 的分页列出某个监控器的所有运行。运行按时间倒序返回。
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: 监控器 ID
          required: true
          description: 监控器 ID
        - in: query
          name: cursor
          schema:
            type: string
            description: 上一响应中的分页 cursor
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: 每页结果数
            default: 50
      responses:
        "200":
          description: 分页运行列表
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorRunsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs/{runId}:
    get:
      operationId: getRun
      summary: 获取运行
      description: 通过 ID 获取单个运行；如果运行已完成，则包含完整输出。
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: 监控器 ID
          required: true
          description: 监控器 ID
        - in: path
          name: runId
          schema:
            type: string
            description: 运行 ID
          required: true
          description: 运行 ID
      responses:
        "200":
          description: 运行
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitorRun"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /agent/runs:
    post:
      operationId: createAgentRun
      summary: 创建运行
      description: "创建异步 Agent 运行。默认情况下，API 会立即返回运行对象。设置 `Accept: text/event-stream`
        可流式传输运行生命周期事件，直至运行进入终止状态。"
      tags:
        - Agent
      parameters:
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ExaBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentRunRequest"
            examples:
              simple:
                summary: 简单研究运行
                value:
                  query: What are the most important AI infrastructure funding rounds announced
                    this week?
              structuredOutput:
                summary: 结构化输出
                value:
                  query: Find recent Series A or Series B AI infrastructure funding rounds.
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - round
                            - amount
                            - sourceUrl
                          properties:
                            name:
                              type: string
                            round:
                              type: string
                            amount:
                              type: string
                            sourceUrl:
                              type: string
                              format: uri
              inputRows:
                summary: 处理输入行
                value:
                  query: For each company, find one current executive and cite a source.
                  input:
                    data:
                      - company: Apple
                        domain: apple.com
                      - company: Microsoft
                        domain: microsoft.com
                    exclusion:
                      - company: Apple
                        person: Tim Cook
              contactFields:
                summary: 结构化输出中的联系人字段
                value:
                  query: Find engineering leaders at AI infrastructure companies that raised a
                    Series A or B in the last 6 months.
                  effort: auto
                  outputSchema:
                    type: object
                    required:
                      - people
                    properties:
                      people:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - linkedin_url
                          properties:
                            name:
                              type: string
                            contact_email:
                              type: string
                              format: email
                            linkedin_url:
                              type: string
                              format: uri
              dataSources:
                summary: 连接数据源
                value:
                  query: Find 10 fast-growing B2B SaaS companies and their estimated web traffic.
                  dataSources:
                    - provider: similarweb
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - domain
                            - monthlyVisits
                          properties:
                            name:
                              type: string
                            domain:
                              type: string
                            monthlyVisits:
                              type: number
                              description: 来自 Similarweb
      responses:
        "200":
          description: Agent 运行已创建
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
              examples:
                running:
                  summary: 运行已接受
                  value:
                    id: agent_run_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: agent_run
                    status: running
                    stopReason: null
                    createdAt: 2026-05-07T18:31:00.000Z
                    completedAt: null
                    request:
                      query: What are the most important AI infrastructure funding rounds announced
                        this week?
                    output:
                      text: ""
                      structured: null
                      grounding: []
                    usage:
                      agentComputeUnits: 0
                      searches: 0
                      emails: 0
                      phoneNumbers: 0
                    costDollars:
                      total: 0
                      agentCompute: 0
                      search: 0
                      emails: 0
                      phoneNumbers: 0
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                lifecycle:
                  summary: 运行生命周期事件
                  value: |-
                    id: 1
                    event: agent_run.created
                    data: {"id":"agent_run_01j...","status":"queued","createdAt":"2026-05-07T21:21:52.051Z"}

                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: 无效请求。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: 未找到团队上下文或身份验证信息。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: 已达到 Agent 运行并发限制。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 服务器错误或运行超时。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    get:
      operationId: listAgentRuns
      summary: 列出运行
      description: 列出团队的 Agent 运行，按最新到最早排序。
      tags:
        - Agent
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: 每页结果数
            default: 20
        - in: query
          name: cursor
          schema:
            description: 用于分页的 cursor。请使用上一次运行列表响应中的 `nextCursor` 值。
            $ref: "#/components/schemas/AgentRunId"
      responses:
        "200":
          description: 分页后的 Agent 运行
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunList"
        "400":
          description: 无效请求。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: 未找到团队上下文或身份验证信息。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 服务器错误或运行超时。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}:
    get:
      operationId: getAgentRun
      summary: 获取运行
      description: 按 ID 获取单个 Agent 运行。
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent 运行 ID。
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent 运行 ID。
      responses:
        "200":
          description: Agent 运行
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: 无效请求。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: 未找到团队上下文或身份验证信息。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 未找到运行。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: 已达到 Agent 运行并发限制。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 服务器错误或运行超时。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    delete:
      operationId: deleteAgentRun
      summary: 删除运行
      description: 删除已存储的 Agent 运行。
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent 运行 ID。
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent 运行 ID。
      responses:
        "200":
          description: Agent 运行已删除
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAgentRunResponse"
        "400":
          description: 无效请求。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: 未找到团队上下文或身份验证信息。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 未找到运行。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: 已达到 Agent 运行并发限制。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 服务器错误或运行超时。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/cancel:
    post:
      operationId: cancelAgentRun
      summary: 取消运行
      description: 立即取消处于排队或运行状态的 Agent 运行，且不返回任何结果。取消前产生的用量将计费。如果运行已进入终止状态，API 将返回现有运行。
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent 运行 ID。
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent 运行 ID。
      responses:
        "200":
          description: Agent 运行
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: 无效请求。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: 未找到团队上下文或身份验证信息。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 未找到运行。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: 已达到 Agent 运行并发限制。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 服务器错误或运行超时。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/stop:
    post:
      operationId: stopAgentRun
      summary: 停止运行
      description: "提前结束正在运行的 Agent 运行，并返回截至目前收集的结果。停止前产生的用量将计费。目前仅支持 `max` effort
        的运行，且需要 `Exa-Beta: agent-max-effort-2026-07-27` header。如果运行已进入终止状态，API
        将返回现有运行。"
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent 运行 ID。
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent 运行 ID。
        - $ref: "#/components/parameters/ExaBetaHeader"
      responses:
        "200":
          description: Agent 运行
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: 无效请求。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: 未找到团队上下文或身份验证信息。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 未找到运行。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: 已达到 Agent 运行并发限制。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 服务器错误或运行超时。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/events:
    get:
      operationId: listAgentRunEvents
      summary: 列出运行事件
      description: "列出 Agent 运行的已存储事件。设置 `Accept: text/event-stream`
        可将已存储事件作为服务器发送事件重放。使用 `cursor` 进行 JSON 分页，或使用 `Last-Event-ID` 进行 SSE
        重放。"
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent 运行 ID。
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent 运行 ID。
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: 每页结果数
            default: 20
        - in: query
          name: cursor
          schema:
            type: string
            description: 用于分页的 cursor。请使用上一次事件列表响应中的 `nextCursor` 值。
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/LastEventId"
      responses:
        "200":
          description: Agent 运行事件
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunEventList"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                replay:
                  summary: 重放的运行事件
                  value: |
                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: 无效请求。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: 未找到团队上下文或身份验证信息。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 未找到运行。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: 已达到 Agent 运行并发限制。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 服务器错误或运行超时。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /batches:
    post:
      operationId: createBatch
      summary: 创建批次
      description: 创建要异步运行的请求批次。每个请求都会被分派至目标路由，批次完成后即可下载结果。
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - $ref: "#/components/parameters/BatchesBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatchRequest"
            examples:
              searchBatch:
                summary: search 和 agent 运行请求批次
                value:
                  requests:
                    - customId: row-1
                      method: POST
                      url: /search
                      body:
                        query: Latest AI infrastructure funding rounds
                    - customId: row-2
                      method: POST
                      url: /agent/runs
                      body:
                        query: Summarize this week's vector database launches
                  metadata:
                    project: weekly-digest
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: in_progress
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listBatches
      summary: 列出批次
      description: 列出团队的批次，按最新到最早排序。
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
            description: 来自先前响应的分页 cursor
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            description: 每页返回的最大批次数。省略时默认为 100；没有上限。
            default: 100
        - in: query
          name: status
          schema:
            type: string
            const: completed
            description: 将列表筛选为已完成的批次。仅支持 `completed` 值；其他任何值均会返回 400。已完成批次的列表按过期时间排序，并使用独立的
              cursor，因此请在每个基于 cursor 分页的请求中都发送 `status=completed`。
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                object: list
                data:
                  - id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: batch
                    status: completed
                    requestCounts:
                      total: 2
                      completed: 2
                      failed: 0
                    createdAt: 2026-06-06T12:00:00.000Z
                    expiresAt: 2026-06-13T12:00:00.000Z
                    endedAt: 2026-06-06T12:01:30.000Z
                    resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                    metadata:
                      project: weekly-digest
                hasMore: false
                nextCursor: null
              schema:
                $ref: "#/components/schemas/BatchList"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}:
    get:
      operationId: getBatch
      summary: 获取批次
      description: 按 ID 获取单个批次。
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: 批次 ID。
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: 批次 ID。
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: completed
                requestCounts:
                  total: 2
                  completed: 2
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: 2026-06-06T12:01:30.000Z
                resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteBatch
      summary: 删除批次
      description: 软删除处于终止状态的批次。
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: 批次 ID。
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: 批次 ID。
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch.deleted
                deleted: true
              schema:
                $ref: "#/components/schemas/DeletedBatch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}/cancel:
    post:
      operationId: cancelBatch
      summary: 取消批次
      description: 请求取消批次。该批次将停止调度新请求，并在完成正在处理的工作后进入 `cancelled` 状态。取消已处于 `cancelling`
        或 `cancelled` 状态的批次是幂等操作，并会原样返回该批次。已进入终止状态（`completed` 或
        `expired`）的批次无法取消，该请求将返回 409。
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: 批次 ID。
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: 批次 ID。
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: cancelling
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /v0/teams/me:
    get:
      operationId: teams-me-get
      summary: 获取团队信息
      description: 返回已认证团队的信息，包括当前并发使用情况和限制。
      tags:
        - Teams
      responses:
        "200":
          description: 已成功获取团队信息
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetsTeamInfo"
  /v0/websets:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-create
      summary: 创建 Webset
      description: |-
        创建一个新的 Webset，可选择配置 search、导入和增强。Webset 创建后将自动开始处理。

        您可以指定 `externalId`，以便使用自己的标识符引用 Webset，简化 integration。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetParameters"
      responses:
        "201":
          description: Webset 已创建
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "409":
          description: 具有此 externalId 的 Webset 已存在
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-list
      summary: 列出所有 Websets
      description: |-
        返回 Websets 列表。

        您可以使用 `cursor` 参数对结果进行分页。

        您可以使用 `search` 参数按 ID、外部 ID 或标题筛选 Websets。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 用于对结果分页的 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 100
            type: number
          required: false
          description: 要返回的 Websets 数量
        - in: query
          name: search
          schema:
            minLength: 2
            maxLength: 50
            type: string
          required: false
          description: 按 ID、外部 ID 或标题筛选 Websets 的搜索词
      responses:
        "200":
          description: Websets 列表
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetsResponse"
  /v0/websets/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-get
      summary: 获取 Webset
      description: |-
        按 `id` 或 `externalId` 返回 Webset，包括其状态、search、导入、增强和监控。

        传入 `expand=items` 可在响应中包含最多 100 个项目。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webset 的 id 或 externalId。
          required: true
        - in: query
          name: expand
          schema:
            items:
              enum:
                - items
              type: string
            type: array
          required: false
          description: 使用指定资源扩展响应
      responses:
        "200":
          description: Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWebsetResponse"
        "404":
          description: 未找到 Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    post:
      operationId: websets-update
      summary: 更新 Webset
      description: 更新 Webset 的 `title` 或 `metadata`。search、导入和增强通过各自的端点管理。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webset 的 id 或 externalId
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebsetRequest"
      responses:
        "200":
          description: Webset 已更新
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: 未找到 Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: websets-delete
      summary: 删除 Webset
      description: |-
        删除 Webset。

        删除后，该 Webset 及其所有项目将不再可用。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webset 的 id 或 externalId
          required: true
      responses:
        "200":
          description: Webset 已删除
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: 未找到 Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/websets/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-cancel
      summary: 取消正在运行的 Webset
      description: |-
        取消正在对 Webset 执行的所有操作。

        所有增强或 search 都将停止，Webset 将被标记为 `idle`。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webset 的 id 或 externalId
          required: true
      responses:
        "200":
          description: Webset 已取消
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
  /v0/websets/{webset}/searches:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-create
      summary: 创建 Search
      description: |-
        为 Webset 创建新的 Search。

        默认情况下，会复用之前的 Search 结果，并根据新的 criteria 对其进行评估。
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset 的 id
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetSearchParameters"
      responses:
        "200":
          description: Webset Search 已创建
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-searches-get
      summary: 获取 Search
      description: 按 id 获取 Search
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset 的 id
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Search 的 id
          required: true
      responses:
        "200":
          description: 已获取 Search
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-cancel
      summary: 取消正在运行的 Search
      description: |-
        取消当前正在运行的 Search。

        你可以使用 `websets/:webset/cancel` 端点一次取消所有 search。
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset 的 id
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Search 的 id
          required: true
      responses:
        "200":
          description: Search 已取消
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/enrichments:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-create
      summary: 创建 Enrichment
      description: 为 Webset 创建 Enrichment。
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset 的 id 或 externalId
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnrichmentParameters"
      responses:
        "200":
          description: Enrichment 已创建
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}:
    servers:
      - url: https://api.exa.ai/websets
    patch:
      operationId: websets-enrichments-update
      summary: 更新 Enrichment
      description: 更新 Webset 的 Enrichment 配置。
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnrichmentParameters"
      responses:
        "200":
          description: ""
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-enrichments-get
      summary: 获取 Enrichment
      description: 返回 Webset 中配置的 Enrichment，包括其状态、描述、格式和选项。
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset 的 id 或 externalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Enrichment 的 id
          required: true
      responses:
        "200":
          description: Enrichment
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
    delete:
      operationId: websets-enrichments-delete
      summary: 删除 Enrichment
      description: 删除 Enrichment 时，所有正在运行的增强任务都将被取消，且此 Enrichment 生成的所有现有
        `enrichment_result` 将不再可用。
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset 的 id 或 externalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Enrichment 的 id
          required: true
      responses:
        "200":
          description: Enrichment 已删除
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-cancel
      summary: 取消正在运行的 Enrichment
      description: 所有正在运行的增强任务都将被取消。Enrichment 一旦取消便无法恢复。
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset 的 id 或 externalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Enrichment 的 id
          required: true
      responses:
        "200":
          description: Enrichment 已取消
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/items/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-get
      summary: 获取项目
      description: 返回一个 Webset 项目。
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset 的 id 或 externalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Webset 项目的 id
          required: true
      responses:
        "200":
          description: Webset 项目
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
    delete:
      operationId: websets-items-delete
      summary: 删除项目
      description: |-
        从 Webset 中删除一个项目。

        这将取消该项目正在进行的所有增强流程。
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset 的 id 或 externalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Webset 项目的 id
          required: true
      responses:
        "200":
          description: Webset 项目已删除
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
  /v0/websets/{webset}/items:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-list
      summary: 列出 Webset 的所有项目
      description: |-
        返回 Webset 项目列表。

        你可以使用 `cursor` 参数对项目进行分页。
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset 的 id 或 externalId
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 用于对结果进行分页的 cursor
        - in: query
          name: limit
          schema:
            default: 20
            minimum: 1
            maximum: 100
            type: integer
          required: false
          description: 要返回的结果数量
        - in: query
          name: sourceId
          schema:
            type: string
          required: false
          description: source 的 id
      responses:
        "200":
          description: Webset 项目
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetItemResponse"
  /v0/websets/preview:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-preview
      summary: 预览 webset
      description: >-
        在创建 Webset 前，预览 search query 将如何被拆解。此端点会执行与创建 Webset 时相同的 query
        分析，让你可以预先查看检测到的实体类型、生成的 search criteria 以及可用的增强列。


        使用此功能可帮助用户在确认创建完整 Webset 前，了解其 search 将如何被解读。
      tags:
        - Websets Preview
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: search
          schema:
            type: boolean
          required: false
          description: 是否搜索项目预览列表
      requestBody:
        required: true
        description: 搜索参数
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewWebsetParameters"
      responses:
        "200":
          description: Webset 预览
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewWebsetResponse"
        "422":
          description: 无法从 query 中检测到实体或 criteria
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/monitors:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: monitors-create
      summary: 创建监控器
      description: |-
        创建新的 `Monitor`，以持续使用最新数据更新你的 Websets。

        Monitor 会按照你定义的 schedule 自动运行，确保你的 Websets 无需手动干预即可保持最新：

        - **查找新内容**：执行 `search` 操作，发现符合 criteria 的新项目
        - **更新现有内容**：运行 `refresh` 操作，更新项目的页面内容和增强信息
        - **自动调度**：配置 `cron` 表达式和 `timezone`，实现精确的调度控制
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitorParameters"
      responses:
        "201":
          description: Monitor 创建成功
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    get:
      operationId: monitors-list
      summary: 列出监控器
      description: 列出 Webset 的所有监控器。
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 用于对结果进行分页的 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 要返回的结果数量
        - in: query
          name: websetId
          schema:
            type: string
          required: false
          description: 要列出监控器的 Webset 的 id
      responses:
        "200":
          description: 监控器列表
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorsResponse"
  /v0/monitors/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-get
      summary: 获取监控器
      description: 获取特定监控器。
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Monitor 的 id
          required: true
      responses:
        "200":
          description: 监控器详细信息
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    patch:
      operationId: monitors-update
      summary: 更新监控器
      description: 更新监控器配置。
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Monitor 的 id
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMonitor"
      responses:
        "200":
          description: Monitor 更新成功
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    delete:
      operationId: monitors-delete
      summary: 删除监控器
      description: 删除监控器。
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Monitor 的 id
          required: true
      responses:
        "200":
          description: Monitor 删除成功
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
  /v0/monitors/{monitor}/runs:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-list
      summary: 列出监控器运行
      description: 列出 Monitor 的所有运行。
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: 要列出运行的 Monitor 的 id
          required: true
      responses:
        "200":
          description: 监控器运行列表
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorRunsResponse"
  /v0/monitors/{monitor}/runs/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-get
      summary: 获取监控器运行
      description: 获取特定监控器运行。
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: 要获取运行的 Monitor 的 id
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: 监控器运行详细信息
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorRun"
  /v0/imports:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: imports-create
      summary: 创建导入
      description: |-
        创建新的导入，以将你的数据上传到 Websets。导入可用于：

        - **增强**：借助 AI 驱动的增强引擎，为你的数据补充额外信息
        - **Search**：使用 Websets 的 agent 驱动的 search 和自然语言过滤器查询你的数据
        - **排除**：防止重复或已知结果出现在你的 search 中

        创建导入后，你可以在 `uploadValidUntil` 前将数据上传到返回的 `uploadUrl`（默认 1 小时）。
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImportParameters"
      responses:
        "201":
          description: 导入创建成功
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateImportResponse"
    get:
      operationId: imports-list
      summary: 列出导入
      description: 列出该 Webset 的所有导入。
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 用于对结果进行分页的 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 要返回的结果数量
      responses:
        "200":
          description: 导入列表
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListImportsResponse"
  /v0/imports/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: imports-get
      summary: 获取导入
      description: 获取指定导入。
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: 导入的 ID
          required: true
      responses:
        "200":
          description: 导入详情
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    patch:
      operationId: imports-update
      summary: 更新导入
      description: 更新导入配置。
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: 导入的 ID
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateImport"
      responses:
        "200":
          description: 导入更新成功
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    delete:
      operationId: imports-delete
      summary: 删除导入
      description: 删除导入。
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: 导入的 ID
          required: true
      responses:
        "200":
          description: 导入删除成功
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
  /v0/webhooks:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: webhooks-create
      summary: 创建 Webhook
      description: |-
        创建一个 Webhook，在所选事件发生时将其投递到您的 URL。

        响应中包含用于验证投递的签名 `secret`；该值仅在创建时返回。
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookParameters"
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
    get:
      operationId: webhooks-list
      summary: 列出 webhook
      description: |-
        返回您团队中处于活动状态的 Webhook。

        您可以使用 `cursor` 参数对结果进行分页。
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 用于对结果进行分页的 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 要返回的结果数量
      responses:
        "200":
          description: Webhook 列表
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
  /v0/webhooks/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-get
      summary: 获取 Webhook
      description: 按 ID 返回一个 Webhook，包括其状态、订阅的事件、目标 URL 和元数据。不返回签名 `secret`。
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webhook 的 ID
          required: true
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: 未找到 Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    patch:
      operationId: webhooks-update
      summary: 更新 Webhook
      description: 更新 Webhook 的目标 URL、订阅事件或元数据。未提供的字段保持不变。
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webhook 的 ID
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookParameters"
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: 未找到 Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: webhooks-delete
      summary: 删除 Webhook
      description: 删除一个 Webhook。其状态将变为 `inactive`，从而停止向其 URL 进行后续 Webhook 投递。
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webhook 的 ID
          required: true
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: 未找到 Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/webhooks/{id}/attempts:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-attempts-list
      summary: 列出 webhook 尝试
      description: 按降序列出 Webhook 的所有投递尝试。
      tags:
        - Webhooks Attempts
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webhook 的 ID
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 用于对结果进行分页的 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 要返回的结果数量
        - in: query
          name: eventType
          schema:
            enum:
              - webset.created
              - webset.deleted
              - webset.paused
              - webset.idle
              - webset.search.created
              - webset.search.canceled
              - webset.search.completed
              - webset.search.updated
              - import.created
              - import.completed
              - webset.item.created
              - webset.item.enriched
              - monitor.created
              - monitor.updated
              - monitor.deleted
              - monitor.run.created
              - monitor.run.completed
              - webset.export.created
              - webset.export.completed
            type: string
          required: false
          description: 用于过滤的事件类型
        - in: query
          name: successful
          schema:
            type: boolean
          required: false
          description: 按成功状态过滤尝试
      responses:
        "200":
          description: Webhook 尝试列表
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhookAttemptsResponse"
  /v0/events:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: events-list
      summary: 列出所有事件
      description: |-
        列出系统中已发生的所有事件。

        您可以使用 `cursor` 参数对结果进行分页。
      tags:
        - Events
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 用于对结果进行分页的 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 要返回的结果数量
        - in: query
          name: types
          schema:
            items:
              enum:
                - webset.created
                - webset.deleted
                - webset.paused
                - webset.idle
                - webset.search.created
                - webset.search.canceled
                - webset.search.completed
                - webset.search.updated
                - import.created
                - import.completed
                - webset.item.created
                - webset.item.enriched
                - monitor.created
                - monitor.updated
                - monitor.deleted
                - monitor.run.created
                - monitor.run.completed
                - webset.export.created
                - webset.export.completed
              type: string
            type: array
          required: false
          description: 用于过滤的事件类型
        - in: query
          name: createdBefore
          schema:
            format: date-time
            type: string
          required: false
          description: 过滤在此时间戳当日或之前创建的事件（含该时间戳）。必须是有效的 ISO 8601 datetime 字符串。所有时间均为 UTC。
        - in: query
          name: createdAfter
          schema:
            format: date-time
            type: string
          required: false
          description: 过滤在此时间戳当日或之后创建的事件（含该时间戳）。必须是有效的 ISO 8601 datetime 字符串。所有时间均为 UTC。
      responses:
        "200":
          description: 事件列表
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEventsResponse"
  /v0/events/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: events-get
      summary: 获取事件
      description: |-
        按 ID 获取单个事件。

        您可以通过创建 Webhook 来订阅事件。
      tags:
        - Events
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: 事件的 ID
          required: true
      responses:
        "200":
          description: ""
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "404":
          description: 未找到事件
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 请求的唯一标识符。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
components:
  schemas:
    SearchRequest:
      type: object
      properties:
        includeDomains:
          anyOf:
            - maxItems: 1200
              type: array
              items:
                type: string
              description: 要包含在搜索中的域名或域名路径列表。每个条目可以是主机名（例如 `example.com`）、带路径前缀的主机名（例如
                `example.com/docs`），或通配符子域名（例如
                `*.example.com`）。如果指定，仅会返回来自匹配域名或路径的结果。请使用此参数进行域名或路径过滤，而不要在
                query 中添加 `site:` 运算符。
              example:
                - arxiv.org
                - exa.ai/blog
            - type: "null"
        excludeDomains:
          anyOf:
            - maxItems: 1200
              type: array
              items:
                type: string
              description: 要从搜索结果中排除的域名或域名路径列表。每个条目可以是主机名（例如 `example.com`）、带路径前缀的主机名（例如
                `example.com/docs`），或通配符子域名（例如
                `*.example.com`）。如果指定，不会返回来自匹配域名或路径的结果。请使用此参数进行域名或路径过滤，而不要在
                query 中添加 `site:` 运算符。
              example:
                - docs.python.org/3
            - type: "null"
        startCrawlDate:
          anyOf:
            - type: string
              description: 已弃用且无效；API 会忽略此参数。必须采用 ISO 8601 格式指定。
              example: 2023-01-01T00:00:00.000Z
              format: date-time
              deprecated: true
            - type: "null"
        endCrawlDate:
          anyOf:
            - type: string
              description: 已弃用且无效；API 会忽略此参数。必须采用 ISO 8601 格式指定。
              example: 2023-12-31T00:00:00.000Z
              format: date-time
              deprecated: true
            - type: "null"
        startPublishedDate:
          anyOf:
            - type: string
              description: 仅返回发布日期晚于此日期的链接。必须采用 ISO 8601 格式指定。
              example: 2023-01-01T00:00:00.000Z
              format: date-time
            - type: "null"
        endPublishedDate:
          anyOf:
            - type: string
              description: 仅返回发布日期早于此日期的链接。必须采用 ISO 8601 格式指定。
              example: 2023-12-31T00:00:00.000Z
              format: date-time
            - type: "null"
        numResults:
          anyOf:
            - type: integer
              minimum: 1
              maximum: 100
              description: 要返回的结果数量。限制因搜索类型而异。公开可用的最大限制为 100 个结果。如需更高限制，请联系销售团队（hello@exa.ai）。
              example: 10
              default: 10
            - type: "null"
        context:
          anyOf:
            - description: 已弃用：请改用 highlights 或 text。以合并的上下文字符串形式返回页面内容。
              deprecated: true
              oneOf:
                - type: boolean
                  description: 已弃用：请改用 highlights 或 text。以合并的上下文字符串形式返回页面内容。
                  example: true
                  deprecated: true
                - type: object
                  properties:
                    maxCharacters:
                      type: integer
                      minimum: 1
                      maximum: 10000
                      description: 已弃用。上下文字符串的最大字符限制。支持的最大值为 10000。
                      example: 10000
                  description: 已弃用：请改用 highlights 或 text。以合并的上下文字符串形式返回页面内容。
                  deprecated: true
            - type: "null"
        moderation:
          anyOf:
            - type: boolean
              description: 启用内容审核，以从搜索结果中筛除不安全内容。
              example: true
              default: false
            - type: "null"
        contents:
          anyOf:
            - description: 用于控制 text、highlights、summary、extras 和新鲜度的 content options。
              $ref: "#/components/schemas/ContentsOptions"
            - type: "null"
        query:
          type: string
          minLength: 1
          description: 用于搜索的 query 字符串。
          example: Latest developments in LLM capabilities
        additionalQueries:
          anyOf:
            - minItems: 1
              maxItems: 10
              type: array
              items:
                type: string
              description: 用于 deep-search 变体的附加 query。仅适用于 deep-search 类型。提供后，这些 query 将与主
                query 一同使用，以获得更广泛的结果。
              example:
                - LLM advancements
                - large language model progress
            - type: "null"
        type:
          anyOf:
            - type: string
              enum:
                - instant
                - fast
                - auto
                - deep-lite
                - deep
                - deep-reasoning
              description: 要使用的搜索模式。`auto`（默认）是一种兼顾质量和速度的平衡模式，建议大多数应用使用。`fast`
                可在较低延迟下返回高质量结果，适合面向用户的搜索和交互式工作流。`instant`
                针对最短响应时间进行了优化，以牺牲部分搜索深度换取速度，适用于聊天、语音 agent
                和自动补全等实时场景。`deep-lite` 执行轻量级研究并提供综合结果，延迟稳定在 4 秒，比完整深度搜索更低。`deep`
                执行全面的多步骤研究并生成综合结果，而 `deep-reasoning` 则为复杂分析和决策任务提供更强的推理能力。
              example: auto
              default: auto
            - type: "null"
        category:
          anyOf:
            - type: string
              enum:
                - company
                - publication
                - news
                - personal site
                - financial report
                - people
              description: 要重点关注的数据类别。已知类别包括 `company`、`publication`、`news`、`personal
                site`、`financial report` 和
                `people`。也接受其他字符串，并将其用作搜索的类别提示。`people` 和 `company`
                类别在查找人物资料和公司页面时效果更佳。`publication`
                类别会返回研究论文、预印本和期刊文章等学术文献，以及作者、发表平台和引用来源等结构化元数据。注意：`company` 和
                `people`
                类别仅支持有限的过滤条件。这些类别不支持以下参数：`startPublishedDate`、`endPublishedDate`、`excludeDomains`。使用不支持的参数将导致
                400 错误。
              example: publication
            - type: "null"
        userLocation:
          anyOf:
            - type: string
              description: 用户所在国家/地区的双字母 ISO 国家代码，例如 US。
              example: US
            - type: "null"
[...]
