openapi: 3.1.0
info:
  version: 1.0.0
  title: Team Management API
  description: 用于管理团队内 API 密钥的 API。提供创建、列出、更新和删除 API 密钥的 CRUD 操作，并支持基于团队的访问控制。该
    API 按团队启用。请联系 support@exa.ai 申请访问权限。
servers:
  - url: https://admin-api.exa.ai/team-management
security:
  - apikey: []
paths:
  /api-keys:
    post:
      operationId: create-api-key
      summary: 创建 API 密钥
      description: 为已认证的团队创建新的 API 密钥。可选择指定 API 密钥的名称、速率限制和预算。
      x-codeSamples:
        - lang: bash
          label: Create API key with name and rate limit
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Production API Key",
                "rateLimit": 1000
              }'
        - lang: python
          label: Create API key with name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Production API Key',
                'rateLimit': 1000
            }

            response = requests.post(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Create API key with name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'POST',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Production API Key',
                rateLimit: 1000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Create API key without optional parameters
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: API 密钥的可选名称
                  example: Production API Key
                rateLimit:
                  type: integer
                  description: API 密钥的可选速率限制（每秒请求数）
                  example: 1000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: API 密钥的可选支出预算，单位为美分。设为 null 可移除预算。
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: API 密钥创建成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: API 密钥的唯一标识符
                      name:
                        type: string
                        description: API 密钥的名称
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: 速率限制，单位为每秒请求数
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: API 密钥的支出预算，单位为美分
                      isOverBudget:
                        type: boolean
                        description: API 密钥当前是否超出预算
                      teamId:
                        type: string
                        format: uuid
                        description: 此密钥所属的团队 ID
                      userId:
                        type: string
                        format: uuid
                        description: 创建此密钥的用户 ID
                      createdAt:
                        type: string
                        format: date-time
                        description: 密钥的创建时间
        "400":
          description: 请求无效 - 参数无效
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - No user found for team
                      - Rate limit cannot exceed team's limit of 500 QPS
                      - "Unexpected parameters: invalidParam. Allowed: name,
                        rateLimit, budgetCents."
        "401":
          description: 未授权 - 服务密钥无效或缺失
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
      tags:
        - Team Management
      security:
        - apikey: []
    get:
      operationId: list-api-keys
      summary: 列出 API 密钥
      description: 返回已认证团队的所有 API 密钥。包含每个密钥的 ID、名称和速率限制。
      parameters:
        - name: api_key_id
          in: query
          required: false
          schema:
            type: string
          description: 用于获取特定密钥的可选 API 密钥 ID。
      x-codeSamples:
        - lang: bash
          label: List all API keys
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: List all API keys
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: List all API keys
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'GET',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: API 密钥列表获取成功
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      apiKeys:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            rateLimit:
                              type:
                                - integer
                                - "null"
                              description: 速率限制，单位为每秒请求数
                            budgetCents:
                              type:
                                - integer
                                - "null"
                              description: API 密钥的支出预算，单位为美分
                            isOverBudget:
                              type: boolean
                              description: API 密钥当前是否超出预算
                  - type: object
                    properties:
                      apiKey:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          rateLimit:
                            type:
                              - integer
                              - "null"
                            description: 速率限制，单位为每秒请求数
                          budgetCents:
                            type:
                              - integer
                              - "null"
                            description: API 密钥的支出预算，单位为美分
                          isOverBudget:
                            type: boolean
                            description: API 密钥当前是否超出预算
                          teamId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
        "400":
          description: 请求无效 - API 密钥 ID 格式无效
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: 未授权 - 服务密钥无效或缺失
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: 禁止访问 - 权限不足，无法访问此 API 密钥
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Insufficient permissions to access this API key
        "404":
          description: 未找到 - 找不到 API 密钥或团队
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - API key not found
                      - Team not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}:
    get:
      operationId: get-api-key
      summary: 获取 API 密钥
      description: 根据 ID 获取特定 API 密钥的详细信息。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: API 密钥的唯一标识符。
      x-codeSamples:
        - lang: bash
          label: Get a specific API key
          source: >
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY'
      responses:
        "200":
          description: API 密钥获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: 速率限制，单位为每秒请求数
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: API 密钥的支出预算，单位为美分
                      isOverBudget:
                        type: boolean
                        description: API 密钥当前是否超出预算
                      teamId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
        "400":
          description: 请求无效 - API 密钥 ID 格式无效
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: 未授权 - 服务密钥无效或缺失
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: 未找到 - API 密钥不存在
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    put:
      operationId: update-api-key
      summary: 更新 API 密钥
      description: 更新现有 API 密钥的名称和/或速率限制。只能更新属于已认证团队的 API 密钥。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 要更新的 API 密钥的唯一标识符。
      x-codeSamples:
        - lang: bash
          label: Update API key name and rate limit
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Updated Production Key",
                "rateLimit": 2000
              }'
        - lang: python
          label: Update API key name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Updated Production Key',
                'rateLimit': 2000
            }

            response = requests.put(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Update API key name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'PUT',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Updated Production Key',
                rateLimit: 2000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Update only the name
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "New Name Only"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: API 密钥的可选新名称
                  example: Updated Production Key
                rateLimit:
                  type: integer
                  description: API 密钥的可选新速率限制（每秒请求数）
                  example: 2000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: API 密钥的可选新支出预算，单位为美分。设为 null 可移除预算。
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: API 密钥更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: 速率限制，单位为每秒请求数
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: API 密钥的支出预算，单位为美分
                      isOverBudget:
                        type: boolean
                        description: API 密钥当前是否超出预算
                      teamId:
                        type: string
                        format: uuid
                      userId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
        "400":
          description: 请求无效 - 参数无效
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: 未授权 - 服务密钥无效或缺失
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: 禁止访问 - API 密钥属于其他团队
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: 未找到 - API 密钥不存在
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    delete:
      operationId: delete-api-key
      summary: 删除 API 密钥
      description: 删除 API 密钥。只能删除属于已认证团队的 API 密钥。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 要删除的 API 密钥的唯一标识符。
      x-codeSamples:
        - lang: bash
          label: Delete an API key
          source: >
            curl -X DELETE
            'https://admin-api.exa.ai/team-management/api-keys/{id}' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Delete an API key
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            response = requests.delete(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: Delete an API key
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'DELETE',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: API 密钥删除成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: 请求无效 - 参数无效
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: 未授权 - 服务密钥无效或缺失
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: 禁止访问 - API 密钥属于其他团队
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: 未找到 - API 密钥不存在
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}/usage:
    get:
      operationId: get-api-key-usage
      summary: 获取 API 密钥用量
      description: 获取特定 API 密钥在指定时间段内的用量分析和计费数据。从计费系统返回按定价类型划分的成本明细。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: API 密钥的唯一标识符。
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 用量周期的开始日期（ISO 8601 格式）。默认为 30 天前。必须在过去 6 个月（180 天）内。
          example: 2025-01-01T00:00:00Z
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 用量周期的结束日期（ISO 8601 格式）。默认为当前时间。
          example: 2025-01-31T23:59:59Z
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - hour
              - day
              - month
          description: 用于对结果分组的时间粒度。当前预留供未来增强功能使用，不会改变响应结构。默认为 'day'。
          example: day
      x-codeSamples:
        - lang: bash
          label: Get usage for the last 30 days (default)
          source: >
            curl -X GET
            'https://admin-api.exa.ai/team-management/api-keys/{id}/usage' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: bash
          label: Get usage for a specific date range
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}/usage?start_date=2025-01-01&end_date=2025-01-31' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Get usage for a specific date range
          source: |
            import requests
            from datetime import datetime, timedelta

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            params = {
                'start_date': '2025-01-01T00:00:00Z',
                'end_date': '2025-01-31T23:59:59Z'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys/{id}/usage',
                headers=headers,
                params=params
            )

            print(response.json())
        - lang: javascript
          label: Get usage for a specific date range
          source: >
            const params = new URLSearchParams({
              start_date: '2025-01-01T00:00:00Z',
              end_date: '2025-01-31T23:59:59Z'
            });


            const response = await fetch(
              `https://admin-api.exa.ai/team-management/api-keys/{id}/usage?${params}`,
              {
                method: 'GET',
                headers: {
                  'x-api-key': 'YOUR-SERVICE-KEY'
                }
              }
            );


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: 用量数据获取成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: API 密钥的唯一标识符。
                  api_key_id:
                    type: string
                    format: uuid
                    description: API 密钥 ID。
                  api_key_name:
                    type:
                      - string
                      - "null"
                    description: API 密钥的名称
                  team_id:
                    type: string
                    format: uuid
                    description: 此密钥所属的团队 ID
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                        description: 用量周期开始时间
                      end:
                        type: string
                        format: date-time
                        description: 用量周期结束时间
                  total_cost_usd:
                    type: number
                    description: 该周期的总成本（美元）
                    example: 45.67
                  cost_breakdown:
                    type: array
                    description: 按定价类型划分的成本明细
                    items:
                      type: object
                      properties:
                        price_id:
                          type: string
                          description: 定价的唯一标识符
                        price_name:
                          type: string
                          description: 定价名称（例如，“神经搜索”、“内容检索”）
                        quantity:
                          type: number
                          description: 消耗总量
                        amount_usd:
                          type: number
                          description: 此定价类型的成本（美元）
                  metadata:
                    type: object
                    properties:
                      generated_at:
                        type: string
                        format: date-time
                        description: 此报告的生成时间
              example:
                id: key_abc123def456
                api_key_id: 550e8400-e29b-41d4-a716-446655440000
                api_key_name: Production API Key
                team_id: 660e8400-e29b-41d4-a716-446655440000
                period:
                  start: 2025-01-01T00:00:00Z
                  end: 2025-01-31T23:59:59Z
                total_cost_usd: 45.67
                cost_breakdown:
                  - price_id: price_neural_search
                    price_name: Neural Search
                    quantity: 1000
                    amount_usd: 30
                  - price_id: price_content_retrieval
                    price_name: Content Retrieval
                    quantity: 500
                    amount_usd: 15.67
                metadata:
                  generated_at: 2025-02-01T10:30:00Z
        "400":
          description: 请求无效 - 参数无效
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid API key ID format.
                      - Invalid date format. Use ISO 8601 format (YYYY-MM-DD or
                        YYYY-MM-DDTHH:mm:ss)
                      - start_date must be before end_date
                      - Date range too far in the past. start_date must be
                        within the last 6 months.
                      - "Invalid group_by parameter. Must be one of: hour, day,
                        month"
        "401":
          description: 未授权 - 服务密钥无效或缺失
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: 未找到 - API 密钥不存在
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
        "500":
          description: 内部服务器错误 - 获取用量数据失败
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to fetch usage data. Please try again later.
      tags:
        - Team Management
      security:
        - apikey: []
components:
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: x-api-key
      description: 用于团队身份验证的服务 API 密钥
