openapi: 3.1.0
info:
  version: 1.0.0
  title: Team Management API
  description: API para gestionar API keys dentro de los equipos. Proporciona
    operaciones CRUD para crear, listar, actualizar y eliminar API keys con
    controles de acceso basados en equipos. La API se habilita por equipo.
    Contacta con support@exa.ai para solicitar acceso.
servers:
  - url: https://admin-api.exa.ai/team-management
security:
  - apikey: []
paths:
  /api-keys:
    post:
      operationId: create-api-key
      summary: Crear API key
      description: Crea una nueva API key para el equipo autenticado. Opcionalmente,
        especifica un nombre, un límite de tasa y un presupuesto para la API
        key.
      x-codeSamples:
        - lang: bash
          label: Create API key with name and rate limit
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Production API Key",
                "rateLimit": 1000
              }'
        - lang: python
          label: Create API key with name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Production API Key',
                'rateLimit': 1000
            }

            response = requests.post(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Create API key with name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'POST',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Production API Key',
                rateLimit: 1000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Create API key without optional parameters
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nombre opcional para la API key
                  example: Production API Key
                rateLimit:
                  type: integer
                  description: Límite de tasa opcional para la API key (solicitudes por segundo)
                  example: 1000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: Presupuesto de gasto opcional para la API key, en centavos.
                    Establécelo en null para eliminar el presupuesto.
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: API key creada correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Identificador único de la API key
                      name:
                        type: string
                        description: Nombre de la API key
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Límite de tasa en solicitudes por segundo
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Presupuesto de gasto para la API key, en centavos
                      isOverBudget:
                        type: boolean
                        description: Indica si la API key supera actualmente su presupuesto
                      teamId:
                        type: string
                        format: uuid
                        description: ID del equipo al que pertenece esta key
                      userId:
                        type: string
                        format: uuid
                        description: ID del usuario que creó esta key
                      createdAt:
                        type: string
                        format: date-time
                        description: Cuándo se creó la key
        "400":
          description: "Solicitud incorrecta: parámetros no válidos"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - No user found for team
                      - Rate limit cannot exceed team's limit of 500 QPS
                      - "Unexpected parameters: invalidParam. Allowed: name,
                        rateLimit, budgetCents."
        "401":
          description: "No autorizado: key de servicio no válida o ausente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
      tags:
        - Team Management
      security:
        - apikey: []
    get:
      operationId: list-api-keys
      summary: Listar API keys
      description: Devuelve todas las API keys que pertenecen al equipo autenticado.
        Incluye el ID, el nombre y el límite de tasa de cada key.
      parameters:
        - name: api_key_id
          in: query
          required: false
          schema:
            type: string
          description: ID de API key opcional para recuperar una key específica.
      x-codeSamples:
        - lang: bash
          label: List all API keys
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: List all API keys
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: List all API keys
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'GET',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: Lista de API keys recuperada correctamente
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      apiKeys:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            rateLimit:
                              type:
                                - integer
                                - "null"
                              description: Límite de tasa en solicitudes por segundo
                            budgetCents:
                              type:
                                - integer
                                - "null"
                              description: Presupuesto de gasto para la API key, en centavos
                            isOverBudget:
                              type: boolean
                              description: Indica si la API key supera actualmente su presupuesto
                  - type: object
                    properties:
                      apiKey:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          rateLimit:
                            type:
                              - integer
                              - "null"
                            description: Límite de tasa en solicitudes por segundo
                          budgetCents:
                            type:
                              - integer
                              - "null"
                            description: Presupuesto de gasto para la API key, en centavos
                          isOverBudget:
                            type: boolean
                            description: Indica si la API key supera actualmente su presupuesto
                          teamId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
        "400":
          description: "Solicitud incorrecta: formato de ID de API key no válido"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: "No autorizado: key de servicio no válida o ausente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: "Prohibido: permisos insuficientes para acceder a esta API key"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Insufficient permissions to access this API key
        "404":
          description: "No encontrado: no se encontró la API key o el equipo"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - API key not found
                      - Team not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}:
    get:
      operationId: get-api-key
      summary: Obtener API key
      description: Recupera los detalles de una API key específica mediante su ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: El identificador único de la API key.
      x-codeSamples:
        - lang: bash
          label: Get a specific API key
          source: >
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY'
      responses:
        "200":
          description: API key recuperada correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Límite de tasa en solicitudes por segundo
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Presupuesto de gasto para la API key, en centavos
                      isOverBudget:
                        type: boolean
                        description: Indica si la API key supera actualmente su presupuesto
                      teamId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
        "400":
          description: "Solicitud incorrecta: formato de ID de API key no válido"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: "No autorizado: key de servicio no válida o ausente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: "No encontrado: la API key no existe"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    put:
      operationId: update-api-key
      summary: Actualizar API key
      description: Actualiza el nombre o el límite de tasa de una API key existente.
        Solo se pueden actualizar las API keys que pertenezcan al equipo
        autenticado.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: El identificador único de la API key que se va a actualizar.
      x-codeSamples:
        - lang: bash
          label: Update API key name and rate limit
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Updated Production Key",
                "rateLimit": 2000
              }'
        - lang: python
          label: Update API key name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Updated Production Key',
                'rateLimit': 2000
            }

            response = requests.put(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Update API key name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'PUT',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Updated Production Key',
                rateLimit: 2000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Update only the name
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "New Name Only"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nuevo nombre opcional para la API key
                  example: Updated Production Key
                rateLimit:
                  type: integer
                  description: Nuevo límite de tasa opcional para la API key (solicitudes por
                    segundo)
                  example: 2000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: Nuevo presupuesto de gasto opcional para la API key, en centavos.
                    Establécelo en null para eliminar el presupuesto.
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: API key actualizada correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Límite de tasa en solicitudes por segundo
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Presupuesto de gasto para la API key, en centavos
                      isOverBudget:
                        type: boolean
                        description: Indica si la API key supera actualmente su presupuesto
                      teamId:
                        type: string
                        format: uuid
                      userId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
        "400":
          description: "Solicitud incorrecta: parámetros no válidos"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: "No autorizado: key de servicio no válida o ausente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: "Prohibido: la API key pertenece a un equipo diferente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: "No encontrado: la API key no existe"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    delete:
      operationId: delete-api-key
      summary: Eliminar API key
      description: Elimina una API key. Solo se pueden eliminar las API keys que
        pertenezcan al equipo autenticado.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: El identificador único de la API key que se va a eliminar.
      x-codeSamples:
        - lang: bash
          label: Delete an API key
          source: >
            curl -X DELETE
            'https://admin-api.exa.ai/team-management/api-keys/{id}' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Delete an API key
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            response = requests.delete(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: Delete an API key
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'DELETE',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: API key eliminada correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: "Solicitud incorrecta: parámetros no válidos"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: "No autorizado: key de servicio no válida o ausente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: "Prohibido: la API key pertenece a un equipo diferente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: "No encontrado: la API key no existe"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}/usage:
    get:
      operationId: get-api-key-usage
      summary: Obtener uso de la API key
      description: Recupera análisis de uso y datos de facturación de una API key
        específica durante un periodo determinado. Devuelve el desglose de
        costos por tipo de precio desde el sistema de facturación.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: El identificador único de la API key.
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Fecha de inicio del periodo de uso (formato ISO 8601). De forma
            predeterminada, corresponde a hace 30 días. Debe estar dentro de los
            últimos 6 meses (180 días).
          example: 2025-01-01T00:00:00Z
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Fecha de finalización del periodo de uso (formato ISO 8601). De
            forma predeterminada, corresponde a la hora actual.
          example: 2025-01-31T23:59:59Z
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - hour
              - day
              - month
          description: Granularidad temporal para agrupar resultados. Actualmente está
            reservada para futuras mejoras y no cambia la estructura de la
            respuesta. El valor predeterminado es 'day'.
          example: day
      x-codeSamples:
        - lang: bash
          label: Get usage for the last 30 days (default)
          source: >
            curl -X GET
            'https://admin-api.exa.ai/team-management/api-keys/{id}/usage' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: bash
          label: Get usage for a specific date range
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}/usage?start_date=2025-01-01&end_date=2025-01-31' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Get usage for a specific date range
          source: |
            import requests
            from datetime import datetime, timedelta

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            params = {
                'start_date': '2025-01-01T00:00:00Z',
                'end_date': '2025-01-31T23:59:59Z'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys/{id}/usage',
                headers=headers,
                params=params
            )

            print(response.json())
        - lang: javascript
          label: Get usage for a specific date range
          source: >
            const params = new URLSearchParams({
              start_date: '2025-01-01T00:00:00Z',
              end_date: '2025-01-31T23:59:59Z'
            });


            const response = await fetch(
              `https://admin-api.exa.ai/team-management/api-keys/{id}/usage?${params}`,
              {
                method: 'GET',
                headers: {
                  'x-api-key': 'YOUR-SERVICE-KEY'
                }
              }
            );


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: Datos de uso recuperados correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: El identificador único de la API key.
                  api_key_id:
                    type: string
                    format: uuid
                    description: El ID de la API key.
                  api_key_name:
                    type:
                      - string
                      - "null"
                    description: El nombre de la API key
                  team_id:
                    type: string
                    format: uuid
                    description: El ID del equipo al que pertenece esta key
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                        description: Inicio del periodo de uso
                      end:
                        type: string
                        format: date-time
                        description: Finalización del periodo de uso
                  total_cost_usd:
                    type: number
                    description: Costo total en USD para el periodo
                    example: 45.67
                  cost_breakdown:
                    type: array
                    description: Desglose de costos por tipo de precio
                    items:
                      type: object
                      properties:
                        price_id:
                          type: string
                          description: Identificador único del precio
                        price_name:
                          type: string
                          description: Nombre del precio (p. ej., "Neural Search", "Content Retrieval")
                        quantity:
                          type: number
                          description: Cantidad total consumida
                        amount_usd:
                          type: number
                          description: Costo en USD para este tipo de precio
                  metadata:
                    type: object
                    properties:
                      generated_at:
                        type: string
                        format: date-time
                        description: Cuándo se generó este informe
              example:
                id: key_abc123def456
                api_key_id: 550e8400-e29b-41d4-a716-446655440000
                api_key_name: Production API Key
                team_id: 660e8400-e29b-41d4-a716-446655440000
                period:
                  start: 2025-01-01T00:00:00Z
                  end: 2025-01-31T23:59:59Z
                total_cost_usd: 45.67
                cost_breakdown:
                  - price_id: price_neural_search
                    price_name: Neural Search
                    quantity: 1000
                    amount_usd: 30
                  - price_id: price_content_retrieval
                    price_name: Content Retrieval
                    quantity: 500
                    amount_usd: 15.67
                metadata:
                  generated_at: 2025-02-01T10:30:00Z
        "400":
          description: "Solicitud incorrecta: parámetros no válidos"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid API key ID format.
                      - Invalid date format. Use ISO 8601 format (YYYY-MM-DD or
                        YYYY-MM-DDTHH:mm:ss)
                      - start_date must be before end_date
                      - Date range too far in the past. start_date must be
                        within the last 6 months.
                      - "Invalid group_by parameter. Must be one of: hour, day,
                        month"
        "401":
          description: "No autorizado: key de servicio no válida o ausente"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: "No encontrado: la API key no existe"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
        "500":
          description: "Error interno del servidor: no se pudieron obtener los datos de uso"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to fetch usage data. Please try again later.
      tags:
        - Team Management
      security:
        - apikey: []
components:
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: x-api-key
      description: API key de servicio para la autenticación del equipo
