openapi: 3.1.0
info:
  title: Exa Public API
  version: 2.0.0
servers:
  - url: https://api.exa.ai
security:
  - apiKey: []
  - bearer: []
paths:
  /search:
    post:
      operationId: search
      summary: Search
      description: Exa의 prompt 엔지니어링 질의로 search를 수행하고 관련 result 목록을 가져옵니다. 필요에 따라
        contents도 가져올 수 있습니다.
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.007"
          max: "0.015"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: 확인
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: b5947044c4b78efa9552a7c89b306d95
                results:
                  - title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    id: https://arxiv.org/abs/2307.06435
                    image: https://arxiv.org/pdf/2307.06435.pdf/page_1.png
                    favicon: https://arxiv.org/favicon.ico
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: 대규모 언어 모델(LLM)에 관한 이 개요 논문은 주요 발전 사항을 다룹니다...
                resolvedSearchType: neural
                costDollars:
                  total: 0.007
                  search:
                    neural: 0.007
              schema:
                $ref: "#/components/schemas/SearchResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/SearchStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: 결제가 필요합니다. API 키 요청의 경우 이는 표준 오류 envelope입니다(credits 소진 또는 예산 초과).
            x402 가격이 적용되는 엔드포인트에서 API 키 없이 요청하면 태그 `X402_PAYMENT_REQUIRED`가 포함된
            x402 결제 challenge가 반환됩니다. 이 challenge는 요청 결제 방법을 설명하는 x402 결제
            metadata(`x402Version`, `resource`, `accepts`, 선택적 `extensions`)로
            확장된 envelope입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /contents:
    post:
      operationId: getContents
      summary: Contents
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.001"
          max: "0.010"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentsRequest"
      responses:
        "200":
          description: 확인
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: e492118ccdedcba5088bfc4357a8a125
                results:
                  - id: https://arxiv.org/abs/2307.06435
                    title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: 대규모 언어 모델(LLM)에 관한 이 개요 논문은 주요 발전 사항을 다룹니다...
                statuses:
                  - id: https://arxiv.org/abs/2307.06435
                    status: success
                    source: cached
                costDollars:
                  total: 0.003
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: 결제가 필요합니다. API 키 요청의 경우 이는 표준 오류 envelope입니다(credits 소진 또는 예산 초과).
            x402 가격이 적용되는 엔드포인트에서 API 키 없이 요청하면 태그 `X402_PAYMENT_REQUIRED`가 포함된
            x402 결제 challenge가 반환됩니다. 이 challenge는 요청 결제 방법을 설명하는 x402 결제
            metadata(`x402Version`, `resource`, `accepts`, 선택적 `extensions`)로
            확장된 envelope입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /answer:
    post:
      operationId: answer
      summary: Answer
      description: 질의를 기반으로 search를 수행하고, 질의 유형에 따라 직접적인 답변 또는 citations가 포함된 상세
        summary를 생성합니다.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnswerRequest"
      responses:
        "200":
          description: 확인
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
                answer: $350 billion.
                citations:
                  - id: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    url: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    title: SpaceX valued at $350bn as company agrees to buy shares from ...
                    author: Dan Milmo
                    publishedDate: 2024-12-11T00:00:00.000Z
                    text: SpaceX valued at $350bn as company agrees to buy shares from ...
                costDollars:
                  total: 0.005
              schema:
                $ref: "#/components/schemas/AnswerResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AnswerStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /findSimilar:
    post:
      operationId: findSimilar
      summary: 유사한 링크 찾기
      description: "제공된 URL과 유사한 링크를 찾고 필요에 따라 해당 contents를 가져옵니다. 지원 중단: 소스를 설명하는 질의와
        함께 `/search`를 사용하는 것이 좋습니다."
      x-exa-lifecycle: deprecated
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindSimilarRequest"
      responses:
        "200":
          description: 확인
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            Deprecation:
              description: 이 작업이 지원 중단되었음을 나타냅니다.
              schema:
                type: string
              example: "true"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindSimilarResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /monitors:
    post:
      operationId: createMonitor
      summary: monitor 생성
      description: >-
        일정에 따라 반복 Exa search를 실행하는 새 Monitor를 생성합니다.


        Monitors는 반복 일정에 따라 search 질의를 자동으로 실행하고, 자동 중복 제거를 통해 결과를 웹훅 엔드포인트로
        전달합니다.


        - **날짜 기반 필터링**은 마지막 실행 이후의 content만 가져옵니다.


        - **시맨틱 중복 제거**는 이전 output을 추적하여 새로운 변경 사항만 표시합니다.


        response에는 생성 시 한 번만 반환되는 `webhookSecret`이 포함됩니다. 웹훅 서명 검증을 위해 안전하게
        저장하세요.
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSearchMonitorParameters"
      responses:
        "201":
          description: 웹훅 secret이 포함된 생성된 monitor
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listMonitors
      summary: monitor 목록 조회
      description: 인증된 team의 모든 monitor를 나열합니다. 상태별 필터링과 cursor 기반 페이지네이션을 지원합니다.
      tags:
        - Monitors
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum:
              - active
              - paused
              - disabled
            description: 상태로 monitor 필터링
        - in: query
          name: cursor
          schema:
            type: string
            description: 이전 response의 페이지네이션 cursor
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: 페이지당 result 수
            default: 50
        - in: query
          name: name
          schema:
            type: string
            maxLength: 250
            description: 이름으로 monitor 필터링(대소문자를 구분하지 않는 부분 문자열 일치)
        - in: query
          name: metadata
          schema:
            description: "metadata 키-값 쌍으로 monitor를 필터링합니다(정확히 일치, AND 조건). 대괄호 표기법을 사용하세요:
              `metadata[key]=value`."
            type: object
            propertyNames:
              type: string
            additionalProperties:
              type: string
          style: deepObject
          explode: true
          description: "metadata 키-값 쌍으로 monitor를 필터링합니다(정확히 일치, AND 조건). 대괄호 표기법을 사용하세요:
            `metadata[key]=value`."
      responses:
        "200":
          description: 페이지네이션된 monitor 목록
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/batch:
    post:
      operationId: batchMonitors
      summary: monitor 일괄 작업 수행
      description: >-
        제공된 필터와 일치하는 monitor에 일괄 작업을 수행합니다.


        지원되는 작업:

        - **delete**: 일치하는 monitor를 영구적으로 제거합니다

        - **pause**: 일치하는 monitor를 일시 중지합니다

        - **unpause**: 일치하는 monitor의 일시 중지를 해제합니다


        작업을 수행하기 전에 영향을 받는 monitor를 미리 보려면 `dry_run: true`(기본값)를 사용하세요. 결과는
        `limit` 매개변수로 페이지네이션됩니다. 일치하는 모든 monitor를 처리하려면 `has_more`가 `false`가 될
        때까지 반복하세요.
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchMonitorsRequest"
      responses:
        "200":
          description: batch 작업 결과
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}:
    get:
      operationId: getMonitor
      summary: monitor 조회
      description: ID로 단일 monitor를 가져옵니다.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: monitor ID
          required: true
          description: monitor ID
      responses:
        "200":
          description: monitor
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    patch:
      operationId: updateMonitor
      summary: monitor 업데이트
      description: 기존 monitor를 업데이트합니다. 모든 field는 선택 사항입니다. `search`에는 변경하려는 field만
        포함한 부분 객체를 보낼 수 있습니다. 일정을 제거하려면 `trigger`를 `null`로 설정하세요.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: monitor ID
          required: true
          description: monitor ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSearchMonitorParameters"
      responses:
        "200":
          description: 업데이트된 monitor
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteMonitor
      summary: monitor 삭제
      description: monitor를 삭제합니다. 이 작업은 되돌릴 수 없습니다.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: monitor ID
          required: true
          description: monitor ID
      responses:
        "200":
          description: 삭제된 monitor
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/trigger:
    post:
      operationId: triggerMonitor
      summary: monitor 실행 트리거
      description: 일정과 관계없이 즉시 실행을 트리거합니다. 상태가 `active` 또는 `paused`인 monitor에서 작동합니다.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: monitor ID
          required: true
          description: monitor ID
      responses:
        "200":
          description: monitor가 트리거되었는지 여부
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs:
    get:
      operationId: listRuns
      summary: 실행 목록 조회
      description: cursor 기반 페이지네이션을 사용하여 monitor의 모든 실행을 나열합니다. 실행은 시간 역순으로 반환됩니다.
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: monitor ID
          required: true
          description: monitor ID
        - in: query
          name: cursor
          schema:
            type: string
            description: 이전 response의 페이지네이션 cursor
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: 페이지당 result 수
            default: 50
      responses:
        "200":
          description: 페이지네이션된 실행 목록
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorRunsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs/{runId}:
    get:
      operationId: getRun
      summary: 실행 조회
      description: ID로 단일 실행을 가져오며, 실행이 완료된 경우 전체 output을 포함합니다.
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: monitor ID
          required: true
          description: monitor ID
        - in: path
          name: runId
          schema:
            type: string
            description: 실행 ID
          required: true
          description: 실행 ID
      responses:
        "200":
          description: 실행
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitorRun"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /agent/runs:
    post:
      operationId: createAgentRun
      summary: 실행 생성
      description: "비동기 Agent 실행을 생성합니다. 기본적으로 API는 실행 객체를 즉시 반환합니다. 실행이 최종 상태에 도달할
        때까지 실행 수명 주기 이벤트를 스트리밍하려면 `Accept: text/event-stream`을 설정하세요."
      tags:
        - Agent
      parameters:
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ExaBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentRunRequest"
            examples:
              simple:
                summary: 간단한 리서치 실행
                value:
                  query: What are the most important AI infrastructure funding rounds announced
                    this week?
              structuredOutput:
                summary: 구조화된 output
                value:
                  query: Find recent Series A or Series B AI infrastructure funding rounds.
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - round
                            - amount
                            - sourceUrl
                          properties:
                            name:
                              type: string
                            round:
                              type: string
                            amount:
                              type: string
                            sourceUrl:
                              type: string
                              format: uri
              inputRows:
                summary: 입력 행 처리
                value:
                  query: For each company, find one current executive and cite a source.
                  input:
                    data:
                      - company: Apple
                        domain: apple.com
                      - company: Microsoft
                        domain: microsoft.com
                    exclusion:
                      - company: Apple
                        person: Tim Cook
              contactFields:
                summary: 구조화된 output의 연락처 field
                value:
                  query: Find engineering leaders at AI infrastructure companies that raised a
                    Series A or B in the last 6 months.
                  effort: auto
                  outputSchema:
                    type: object
                    required:
                      - people
                    properties:
                      people:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - linkedin_url
                          properties:
                            name:
                              type: string
                            contact_email:
                              type: string
                              format: email
                            linkedin_url:
                              type: string
                              format: uri
              dataSources:
                summary: 데이터 소스 연결
                value:
                  query: Find 10 fast-growing B2B SaaS companies and their estimated web traffic.
                  dataSources:
                    - provider: similarweb
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - domain
                            - monthlyVisits
                          properties:
                            name:
                              type: string
                            domain:
                              type: string
                            monthlyVisits:
                              type: number
                              description: Similarweb 제공
      responses:
        "200":
          description: Agent 실행 생성됨
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
              examples:
                running:
                  summary: 실행 수락됨
                  value:
                    id: agent_run_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: agent_run
                    status: running
                    stopReason: null
                    createdAt: 2026-05-07T18:31:00.000Z
                    completedAt: null
                    request:
                      query: What are the most important AI infrastructure funding rounds announced
                        this week?
                    output:
                      text: ""
                      structured: null
                      grounding: []
                    usage:
                      agentComputeUnits: 0
                      searches: 0
                      emails: 0
                      phoneNumbers: 0
                    costDollars:
                      total: 0
                      agentCompute: 0
                      search: 0
                      emails: 0
                      phoneNumbers: 0
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                lifecycle:
                  summary: 실행 수명 주기 이벤트
                  value: |-
                    id: 1
                    event: agent_run.created
                    data: {"id":"agent_run_01j...","status":"queued","createdAt":"2026-05-07T21:21:52.051Z"}

                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: 잘못된 요청입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: team 컨텍스트 또는 인증을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent 실행 concurrency limit에 도달했습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 서버 오류 또는 실행 시간 초과입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    get:
      operationId: listAgentRuns
      summary: 실행 목록 조회
      description: team의 Agent 실행을 최신순으로 나열합니다.
      tags:
        - Agent
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: 페이지당 결과 수
            default: 20
        - in: query
          name: cursor
          schema:
            description: 페이지 매김용 커서입니다. 이전 실행 목록 response의 `nextCursor` 값을 사용하세요.
            $ref: "#/components/schemas/AgentRunId"
      responses:
        "200":
          description: 페이지로 나뉜 Agent 실행 목록
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunList"
        "400":
          description: 잘못된 요청입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: team 컨텍스트 또는 인증을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 서버 오류 또는 실행 시간 초과입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}:
    get:
      operationId: getAgentRun
      summary: 실행 조회
      description: ID로 Agent 실행 하나를 조회합니다.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent 실행 ID.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent 실행 ID.
      responses:
        "200":
          description: Agent 실행
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: 잘못된 요청입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: team 컨텍스트 또는 인증을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 실행을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent 실행 concurrency limit에 도달했습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 서버 오류 또는 실행 시간 초과입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    delete:
      operationId: deleteAgentRun
      summary: 실행 삭제
      description: 저장된 Agent 실행을 삭제합니다.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent 실행 ID.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent 실행 ID.
      responses:
        "200":
          description: Agent 실행 삭제됨
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAgentRunResponse"
        "400":
          description: 잘못된 요청입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: team 컨텍스트 또는 인증을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 실행을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent 실행 concurrency limit에 도달했습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 서버 오류 또는 실행 시간 초과입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/cancel:
    post:
      operationId: cancelAgentRun
      summary: 실행 취소
      description: 결과를 반환하지 않고 대기 중이거나 실행 중인 Agent 실행을 즉시 취소합니다. 취소 전까지 발생한 사용량에 대해
        요금이 청구됩니다. 실행이 이미 최종 상태에 도달한 경우 API는 기존 실행을 반환합니다.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent 실행 ID.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent 실행 ID.
      responses:
        "200":
          description: Agent 실행
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: 잘못된 요청입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: team 컨텍스트 또는 인증을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 실행을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent 실행 concurrency limit에 도달했습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 서버 오류 또는 실행 시간 초과입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/stop:
    post:
      operationId: stopAgentRun
      summary: 실행 중지
      description: "실행 중인 Agent 실행을 조기에 완료하고 지금까지 수집한 결과를 반환합니다. 중지 전까지 발생한 사용량에 대해
        요금이 청구됩니다. 현재 `max` effort 실행에서만 지원되며 `Exa-Beta:
        agent-max-effort-2026-07-27` header가 필요합니다. 실행이 이미 최종 상태에 도달한 경우 API는 기존
        실행을 반환합니다."
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent 실행 ID.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent 실행 ID.
        - $ref: "#/components/parameters/ExaBetaHeader"
      responses:
        "200":
          description: Agent 실행
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: 잘못된 요청입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: team 컨텍스트 또는 인증을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 실행을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent 실행 concurrency limit에 도달했습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 서버 오류 또는 실행 시간 초과입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/events:
    get:
      operationId: listAgentRunEvents
      summary: 실행 이벤트 목록 조회
      description: "Agent 실행의 저장된 이벤트를 나열합니다. 저장된 이벤트를 서버 전송 이벤트로 replay하려면 `Accept:
        text/event-stream`을 설정하세요. JSON 페이지 매김에는 `cursor`를, SSE replay에는
        `Last-Event-ID`를 사용하세요."
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent 실행 ID.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent 실행 ID.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: 페이지당 결과 수
            default: 20
        - in: query
          name: cursor
          schema:
            type: string
            description: 페이지 매김용 커서입니다. 이전 이벤트 목록 response의 `nextCursor` 값을 사용하세요.
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/LastEventId"
      responses:
        "200":
          description: Agent 실행 이벤트
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunEventList"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                replay:
                  summary: 재전송된 실행 이벤트
                  value: |
                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: 잘못된 요청입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: team 컨텍스트 또는 인증을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 실행을 찾을 수 없습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent 실행 concurrency limit에 도달했습니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: 서버 오류 또는 실행 시간 초과입니다.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /batches:
    post:
      operationId: createBatch
      summary: batch 생성
      description: 비동기로 실행할 요청 batch를 생성합니다. 각 요청은 대상 경로로 전송되며, batch가 완료되면 결과를 다운로드할
        수 있습니다.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - $ref: "#/components/parameters/BatchesBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatchRequest"
            examples:
              searchBatch:
                summary: search 및 agent 실행 요청 batch
                value:
                  requests:
                    - customId: row-1
                      method: POST
                      url: /search
                      body:
                        query: Latest AI infrastructure funding rounds
                    - customId: row-2
                      method: POST
                      url: /agent/runs
                      body:
                        query: Summarize this week's vector database launches
                  metadata:
                    project: weekly-digest
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: in_progress
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listBatches
      summary: batch 목록 조회
      description: team의 batch를 최신순으로 나열합니다.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
            description: 이전 response의 페이지 매김 커서
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            description: 페이지당 반환할 최대 batch 수입니다. 생략하면 기본값은 100이며 상한은 없습니다.
            default: 100
        - in: query
          name: status
          schema:
            type: string
            const: completed
            description: 완료된 batch만 표시하도록 목록을 필터링합니다. `completed`만 지원되는 값이며, 다른 값을 지정하면 400이
              반환됩니다. 완료된 목록은 만료 순으로 정렬되고 별도의 커서를 사용하므로 커서로 페이지를 매기는 모든 요청에
              `status=completed`를 계속 포함하세요.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                object: list
                data:
                  - id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: batch
                    status: completed
                    requestCounts:
                      total: 2
                      completed: 2
                      failed: 0
                    createdAt: 2026-06-06T12:00:00.000Z
                    expiresAt: 2026-06-13T12:00:00.000Z
                    endedAt: 2026-06-06T12:01:30.000Z
                    resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                    metadata:
                      project: weekly-digest
                hasMore: false
                nextCursor: null
              schema:
                $ref: "#/components/schemas/BatchList"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}:
    get:
      operationId: getBatch
      summary: batch 조회
      description: ID로 batch 하나를 조회합니다.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: Batch ID.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: Batch ID.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: completed
                requestCounts:
                  total: 2
                  completed: 2
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: 2026-06-06T12:01:30.000Z
                resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteBatch
      summary: batch 삭제
      description: 최종 상태의 batch를 소프트 삭제합니다.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: Batch ID.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: Batch ID.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch.deleted
                deleted: true
              schema:
                $ref: "#/components/schemas/DeletedBatch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}/cancel:
    post:
      operationId: cancelBatch
      summary: batch 취소
      description: batch 취소를 요청합니다. batch는 새 요청의 예약을 중지하고 진행 중인 작업을 처리한 후 `cancelled`
        상태가 됩니다. 이미 `cancelling` 또는 `cancelled` 상태인 batch를 취소해도 멱등적으로 처리되며 변경되지
        않은 batch를 반환합니다. 이미 최종 상태(`completed` 또는 `expired`)에 도달한 batch는 취소할 수
        없으며 요청은 409로 실패합니다.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: Batch ID.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: Batch ID.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: cancelling
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /v0/teams/me:
    get:
      operationId: teams-me-get
      summary: team 정보 조회
      description: 현재 concurrency 사용량 및 limits를 포함한 인증된 team 정보를 반환합니다.
      tags:
        - Teams
      responses:
        "200":
          description: team 정보를 성공적으로 조회했습니다
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetsTeamInfo"
  /v0/websets:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-create
      summary: Webset 생성
      description: >-
        선택적 search, import 및 enrichment 구성으로 새 Webset을 생성합니다. Webset은 생성되면 자동으로
        처리를 시작합니다.


        더 쉽게 연동할 수 있도록 자체 식별자로 Webset을 참조하는 `externalId`를 지정할 수 있습니다.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetParameters"
      responses:
        "201":
          description: Webset 생성됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자입니다.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "409":
          description: 이 externalId를 사용하는 Webset이 이미 존재합니다
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자입니다.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-list
      summary: 모든 Websets 목록 조회
      description: |-
        Webset 목록을 반환합니다.

        `cursor` 매개변수를 사용해 결과를 페이지 매김할 수 있습니다.

        `search` 매개변수를 사용해 ID, 외부 ID 또는 제목으로 Webset을 찾도록 결과를 필터링할 수 있습니다.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 결과 페이지 매김에 사용할 커서
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 100
            type: number
          required: false
          description: 반환할 Webset 수
        - in: query
          name: search
          schema:
            minLength: 2
            maxLength: 50
            type: string
          required: false
          description: ID, 외부 ID 또는 제목으로 Webset을 필터링할 검색어
      responses:
        "200":
          description: Webset 목록
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자입니다.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetsResponse"
  /v0/websets/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-get
      summary: Webset 조회
      description: >-
        상태, search, import, enrichment 및 monitor를 포함하여 `id` 또는 `externalId`로
        Webset을 반환합니다.


        response에 처음 100개의 item까지 포함하려면 `expand=items`를 전달하세요.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webset의 id 또는 externalId입니다.
          required: true
        - in: query
          name: expand
          schema:
            items:
              enum:
                - items
              type: string
            type: array
          required: false
          description: 지정된 resource를 포함하도록 response 확장
      responses:
        "200":
          description: Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자입니다.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWebsetResponse"
        "404":
          description: Webset을 찾을 수 없습니다
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자입니다.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    post:
      operationId: websets-update
      summary: Webset 업데이트
      description: Webset의 `title` 또는 `metadata`를 업데이트합니다. search, import 및
        enrichment는 각각의 엔드포인트를 통해 관리됩니다.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webset의 id 또는 externalId
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebsetRequest"
      responses:
        "200":
          description: Webset 업데이트됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Webset을 찾을 수 없음
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: websets-delete
      summary: Webset 삭제
      description: |-
        Webset을 삭제합니다.

        삭제된 Webset과 해당 Webset의 모든 Item은 더 이상 사용할 수 없습니다.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webset의 id 또는 externalId
          required: true
      responses:
        "200":
          description: Webset 삭제됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Webset을 찾을 수 없음
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/websets/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-cancel
      summary: 실행 중인 Webset 취소
      description: |-
        Webset에서 수행 중인 모든 작업을 취소합니다.

        enrichment 또는 search가 중지되고 Webset의 상태가 `idle`로 변경됩니다.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Webset의 id 또는 externalId
          required: true
      responses:
        "200":
          description: Webset 취소됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
  /v0/websets/{webset}/searches:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-create
      summary: Search 생성
      description: |-
        Webset에 새 Search를 생성합니다.

        기본적으로 이전 Search 결과를 재사용하고 새 criteria에 따라 평가합니다.
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset의 id
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetSearchParameters"
      responses:
        "200":
          description: Webset Search 생성됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-searches-get
      summary: Search 조회
      description: id로 Search를 조회합니다
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset의 id
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Search의 id
          required: true
      responses:
        "200":
          description: Search 조회됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-cancel
      summary: 실행 중인 Search 취소
      description: |-
        현재 실행 중인 Search를 취소합니다.

        `websets/:webset/cancel` 엔드포인트를 사용하면 모든 search를 한 번에 취소할 수 있습니다.
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset의 id
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Search의 id
          required: true
      responses:
        "200":
          description: Search 취소됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/enrichments:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-create
      summary: Enrichment 생성
      description: Webset에 Enrichment를 생성합니다.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset의 id 또는 externalId
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnrichmentParameters"
      responses:
        "200":
          description: Enrichment 생성됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}:
    servers:
      - url: https://api.exa.ai/websets
    patch:
      operationId: websets-enrichments-update
      summary: Enrichment 업데이트
      description: Webset의 Enrichment 구성을 업데이트합니다.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnrichmentParameters"
      responses:
        "200":
          description: ""
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-enrichments-get
      summary: Enrichment 조회
      description: 상태, 설명, 형식, 옵션을 포함하여 Webset에 구성된 Enrichment를 반환합니다.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset의 id 또는 externalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Enrichment의 id
          required: true
      responses:
        "200":
          description: Enrichment
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
    delete:
      operationId: websets-enrichments-delete
      summary: Enrichment 삭제
      description: Enrichment를 삭제하면 실행 중인 모든 enrichment가 취소되며, 이 Enrichment에서 생성된 기존
        `enrichment_result`는 더 이상 사용할 수 없습니다.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset의 id 또는 externalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Enrichment의 id
          required: true
      responses:
        "200":
          description: Enrichment 삭제됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-cancel
      summary: 실행 중인 Enrichment 취소
      description: 실행 중인 모든 enrichment가 취소됩니다. 취소된 Enrichment는 재개할 수 없습니다.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset의 id 또는 externalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Enrichment의 id
          required: true
      responses:
        "200":
          description: Enrichment 취소됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/items/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-get
      summary: Item 조회
      description: Webset Item을 반환합니다.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset의 id 또는 externalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Webset Item의 id
          required: true
      responses:
        "200":
          description: Webset Item
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
    delete:
      operationId: websets-items-delete
      summary: Item 삭제
      description: |-
        Webset에서 Item을 삭제합니다.

        해당 Item에 대해 진행 중인 모든 enrichment가 취소됩니다.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset의 id 또는 externalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Webset Item의 id
          required: true
      responses:
        "200":
          description: Webset Item 삭제됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
  /v0/websets/{webset}/items:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-list
      summary: Webset의 모든 Items 목록 조회
      description: |-
        Webset Item 목록을 반환합니다.

        `cursor` 매개변수를 사용해 Item 목록을 페이지네이션할 수 있습니다.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Webset의 id 또는 externalId
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 결과 페이지네이션에 사용할 cursor
        - in: query
          name: limit
          schema:
            default: 20
            minimum: 1
            maximum: 100
            type: integer
          required: false
          description: 반환할 결과 수
        - in: query
          name: sourceId
          schema:
            type: string
          required: false
          description: 소스의 id
      responses:
        "200":
          description: Webset Item 목록
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetItemResponse"
  /v0/websets/preview:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-preview
      summary: webset 미리보기
      description: >-
        webset을 생성하기 전에 search 질의가 어떻게 분석되는지 미리 확인합니다. 이 엔드포인트는 webset 생성 시 수행되는
        것과 동일한 질의 분석을 수행하므로 감지된 엔터티 유형, 생성된 search criteria, 사용 가능한 enrichment
        열을 미리 확인할 수 있습니다.


        전체 webset 생성을 진행하기 전에 사용자가 자신의 search가 어떻게 해석되는지 이해하도록 도울 때 사용하세요.
      tags:
        - Websets Preview
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: search
          schema:
            type: boolean
          required: false
          description: Item 미리 보기 목록을 search할지 여부
      requestBody:
        required: true
        description: Search parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewWebsetParameters"
      responses:
        "200":
          description: webset 미리 보기
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewWebsetResponse"
        "422":
          description: 질의에서 엔터티 또는 criteria를 감지할 수 없음
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/monitors:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: monitors-create
      summary: Monitor 생성
      description: |-
        Websets를 최신 데이터로 지속적으로 업데이트하는 새 `Monitor`를 생성합니다.

        Monitor는 지정한 일정에 따라 자동으로 실행되어 수동 개입 없이 Websets를 최신 상태로 유지합니다.

        - **새 콘텐츠 찾기**: `search` 작업을 실행하여 criteria에 맞는 새 Item을 찾습니다
        - **기존 콘텐츠 업데이트**: `refresh` 작업을 실행하여 Item 콘텐츠와 enrichment를 업데이트합니다
        - **자동 일정 관리**: 정밀한 일정 제어를 위해 `cron` 표현식과 `timezone`을 구성합니다
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitorParameters"
      responses:
        "201":
          description: Monitor가 성공적으로 생성됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    get:
      operationId: monitors-list
      summary: Monitors 목록 조회
      description: Webset의 모든 monitor를 나열합니다.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 결과 페이지네이션에 사용할 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 반환할 결과 수
        - in: query
          name: websetId
          schema:
            type: string
          required: false
          description: monitor를 나열할 Webset의 id
      responses:
        "200":
          description: monitor 목록
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorsResponse"
  /v0/monitors/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-get
      summary: Monitor 조회
      description: 특정 monitor를 조회합니다.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Monitor의 id
          required: true
      responses:
        "200":
          description: Monitor 세부 정보
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    patch:
      operationId: monitors-update
      summary: Monitor 업데이트
      description: monitor 구성을 업데이트합니다.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Monitor의 id
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMonitor"
      responses:
        "200":
          description: Monitor가 성공적으로 업데이트됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    delete:
      operationId: monitors-delete
      summary: Monitor 삭제
      description: monitor를 삭제합니다.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Monitor의 id
          required: true
      responses:
        "200":
          description: Monitor가 성공적으로 삭제됨
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
  /v0/monitors/{monitor}/runs:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-list
      summary: Monitor 실행 목록 조회
      description: Monitor의 모든 실행을 나열합니다.
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: 실행을 나열할 Monitor의 id
          required: true
      responses:
        "200":
          description: Monitor 실행 목록
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorRunsResponse"
  /v0/monitors/{monitor}/runs/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-get
      summary: Monitor 실행 조회
      description: 특정 Monitor 실행을 조회합니다.
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: 실행을 조회할 Monitor의 id
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Monitor 실행 세부 정보
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorRun"
  /v0/imports:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: imports-create
      summary: Import 생성
      description: >-
        데이터를 Websets에 업로드할 새 import를 생성합니다. import는 다음 용도로 사용할 수 있습니다.


        - **Enrich**: AI 기반 enrichment 엔진을 사용해 추가 정보로 데이터를 보강합니다

        - **Search**: 자연어 필터를 사용하는 Websets의 에이전트 기반 search로 데이터를 질의합니다

        - **Exclude**: search 결과에 중복되거나 이미 알려진 결과가 표시되지 않도록 합니다


        import를 생성한 후에는 `uploadValidUntil`까지(기본값: 1시간) 반환된 `uploadUrl`에 데이터를
        업로드할 수 있습니다.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImportParameters"
      responses:
        "201":
          description: import가 성공적으로 생성되었습니다
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateImportResponse"
    get:
      operationId: imports-list
      summary: Imports 목록 조회
      description: Webset의 모든 import를 나열합니다.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 결과 페이지네이션에 사용할 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 반환할 결과 수
      responses:
        "200":
          description: import 목록
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListImportsResponse"
  /v0/imports/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: imports-get
      summary: Import 조회
      description: 특정 import를 가져옵니다.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Import의 id
          required: true
      responses:
        "200":
          description: Import 세부 정보
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    patch:
      operationId: imports-update
      summary: Import 업데이트
      description: import 구성을 업데이트합니다.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Import의 id
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateImport"
      responses:
        "200":
          description: Import가 성공적으로 업데이트되었습니다
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    delete:
      operationId: imports-delete
      summary: Import 삭제
      description: import를 삭제합니다.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Import의 id
          required: true
      responses:
        "200":
          description: Import가 성공적으로 삭제되었습니다
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
  /v0/webhooks:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: webhooks-create
      summary: Webhook 생성
      description: |-
        선택한 events가 발생할 때 URL로 전송되도록 웹훅을 생성합니다.

        response에는 deliveries를 검증하는 데 사용되는 서명 `secret`이 포함되며, 생성 시에만 반환됩니다.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookParameters"
      responses:
        "200":
          description: 웹훅
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
    get:
      operationId: webhooks-list
      summary: 웹훅 목록 조회
      description: |-
        team의 활성 웹훅을 반환합니다.

        `cursor` 매개변수를 사용하여 결과를 페이지네이션할 수 있습니다.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 결과 페이지네이션에 사용할 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 반환할 결과 수
      responses:
        "200":
          description: 웹훅 목록
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
  /v0/webhooks/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-get
      summary: Webhook 조회
      description: id로 웹훅을 반환하며, 상태, 구독한 events, 대상 URL 및 metadata를 포함합니다. 서명
        `secret`은 반환되지 않습니다.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: 웹훅의 id
          required: true
      responses:
        "200":
          description: 웹훅
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: 웹훅을 찾을 수 없음
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    patch:
      operationId: webhooks-update
      summary: Webhook 업데이트
      description: 웹훅의 대상 URL, 구독한 events 또는 metadata를 업데이트합니다. 생략된 fields는 변경되지 않습니다.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: 웹훅의 id
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookParameters"
      responses:
        "200":
          description: 웹훅
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: 웹훅을 찾을 수 없음
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: webhooks-delete
      summary: Webhook 삭제
      description: 웹훅을 삭제합니다. 상태가 `inactive`로 변경되어 이후 해당 URL로의 웹훅 deliveries가 중지됩니다.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: 웹훅의 id
          required: true
      responses:
        "200":
          description: 웹훅
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: 웹훅을 찾을 수 없음
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/webhooks/{id}/attempts:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-attempts-list
      summary: 웹훅 시도 목록 조회
      description: 웹훅의 모든 전송 시도를 내림차순으로 나열합니다.
      tags:
        - Webhooks Attempts
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: 웹훅의 ID
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 결과 페이지네이션에 사용할 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 반환할 결과 수
        - in: query
          name: eventType
          schema:
            enum:
              - webset.created
              - webset.deleted
              - webset.paused
              - webset.idle
              - webset.search.created
              - webset.search.canceled
              - webset.search.completed
              - webset.search.updated
              - import.created
              - import.completed
              - webset.item.created
              - webset.item.enriched
              - monitor.created
              - monitor.updated
              - monitor.deleted
              - monitor.run.created
              - monitor.run.completed
              - webset.export.created
              - webset.export.completed
            type: string
          required: false
          description: 필터링할 이벤트 유형
        - in: query
          name: successful
          schema:
            type: boolean
          required: false
          description: 성공 상태로 시도 필터링
      responses:
        "200":
          description: 웹훅 시도 목록
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhookAttemptsResponse"
  /v0/events:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: events-list
      summary: 모든 Events 목록 조회
      description: |-
        시스템에서 발생한 모든 events를 나열합니다.

        `cursor` 매개변수를 사용하여 결과를 페이지네이션할 수 있습니다.
      tags:
        - Events
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 결과 페이지네이션에 사용할 cursor
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 반환할 결과 수
        - in: query
          name: types
          schema:
            items:
              enum:
                - webset.created
                - webset.deleted
                - webset.paused
                - webset.idle
                - webset.search.created
                - webset.search.canceled
                - webset.search.completed
                - webset.search.updated
                - import.created
                - import.completed
                - webset.item.created
                - webset.item.enriched
                - monitor.created
                - monitor.updated
                - monitor.deleted
                - monitor.run.created
                - monitor.run.completed
                - webset.export.created
                - webset.export.completed
              type: string
            type: array
          required: false
          description: 필터링할 이벤트 유형
        - in: query
          name: createdBefore
          schema:
            format: date-time
            type: string
          required: false
          description: 이 timestamp 이전 또는 해당 시점에 생성된 events를 필터링합니다(포함). 유효한 ISO 8601
            datetime 문자열이어야 합니다. 모든 시간은 UTC입니다.
        - in: query
          name: createdAfter
          schema:
            format: date-time
            type: string
          required: false
          description: 이 timestamp 이후 또는 해당 시점에 생성된 events를 필터링합니다(포함). 유효한 ISO 8601
            datetime 문자열이어야 합니다. 모든 시간은 UTC입니다.
      responses:
        "200":
          description: events 목록
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEventsResponse"
  /v0/events/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: events-get
      summary: Event 조회
      description: |-
        id로 단일 Event를 가져옵니다.

        웹훅을 생성하여 Events를 구독할 수 있습니다.
      tags:
        - Events
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: 이벤트의 id
          required: true
      responses:
        "200":
          description: ""
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "404":
          description: 이벤트를 찾을 수 없음
          headers:
            X-Request-Id:
              schema:
                type: string
              description: 요청의 고유 식별자.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
components:
  schemas:
    SearchRequest:
      type: object
      properties:
        includeDomains:
          anyOf:
            - maxItems: 1200
              type: array
              items:
                type: string
              description: "search에 포함할 도메인 또는 도메인 경로 목록입니다. 각 항목은 호스트 이름(예: `example.com`),
                경로 접두사가 포함된 호스트 이름(예: `example.com/docs`) 또는 와일드카드 하위 도메인(예:
                `*.example.com`)일 수 있습니다. 지정하면 일치하는 도메인 또는 경로의 결과만 반환됩니다. 질의에
                `site:` 연산자를 추가하는 대신 이 매개변수를 사용하여 도메인 또는 경로를 필터링하세요."
              example:
                - arxiv.org
                - exa.ai/blog
            - type: "null"
        excludeDomains:
          anyOf:
            - maxItems: 1200
              type: array
              items:
                type: string
              description: "search 결과에서 제외할 도메인 또는 도메인 경로 목록입니다. 각 항목은 호스트 이름(예:
                `example.com`), 경로 접두사가 포함된 호스트 이름(예: `example.com/docs`) 또는
                와일드카드 하위 도메인(예: `*.example.com`)일 수 있습니다. 지정하면 일치하는 도메인 또는 경로의
                결과는 반환되지 않습니다. 질의에 `site:` 연산자를 추가하는 대신 이 매개변수를 사용하여 도메인 또는 경로를
                필터링하세요."
              example:
                - docs.python.org/3
            - type: "null"
        startCrawlDate:
          anyOf:
            - type: string
              description: 지원 중단되었으며 효과가 없습니다. API에서 무시됩니다. ISO 8601 형식으로 지정해야 합니다.
              example: 2023-01-01T00:00:00.000Z
              format: date-time
              deprecated: true
            - type: "null"
        endCrawlDate:
          anyOf:
            - type: string
              description: 지원 중단되었으며 효과가 없습니다. API에서 무시됩니다. ISO 8601 형식으로 지정해야 합니다.
              example: 2023-12-31T00:00:00.000Z
              format: date-time
              deprecated: true
            - type: "null"
        startPublishedDate:
          anyOf:
            - type: string
              description: 이 날짜 이후에 게시된 링크만 반환됩니다. ISO 8601 형식으로 지정해야 합니다.
              example: 2023-01-01T00:00:00.000Z
              format: date-time
            - type: "null"
        endPublishedDate:
          anyOf:
            - type: string
              description: 이 날짜 이전에 게시된 링크만 반환됩니다. ISO 8601 형식으로 지정해야 합니다.
              example: 2023-12-31T00:00:00.000Z
              format: date-time
            - type: "null"
        numResults:
          anyOf:
            - type: integer
              minimum: 1
              maximum: 100
[...]
