openapi: 3.1.0
info:
  version: 1.0.0
  title: Team Management API
  description: team 내 API 키를 관리하기 위한 API입니다. team 기반 액세스 제어를 통해 API 키 생성, 목록 조회,
    업데이트, 삭제를 위한 CRUD 작업을 제공합니다. API는 team별로 활성화됩니다. 액세스를 요청하려면 support@exa.ai로
    문의하세요.
servers:
  - url: https://admin-api.exa.ai/team-management
security:
  - apikey: []
paths:
  /api-keys:
    post:
      operationId: create-api-key
      summary: API 키 생성
      description: 인증된 team에 새 API 키를 생성합니다. 필요에 따라 API 키의 이름, rate limit, 예산을 지정할 수 있습니다.
      x-codeSamples:
        - lang: bash
          label: Create API key with name and rate limit
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Production API Key",
                "rateLimit": 1000
              }'
        - lang: python
          label: Create API key with name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Production API Key',
                'rateLimit': 1000
            }

            response = requests.post(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Create API key with name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'POST',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Production API Key',
                rateLimit: 1000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Create API key without optional parameters
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: API 키의 선택적 이름
                  example: Production API Key
                rateLimit:
                  type: integer
                  description: API 키의 선택적 rate limit(초당 요청 수)
                  example: 1000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: API 키의 선택적 지출 예산(센트 단위)입니다. 예산을 제거하려면 null로 설정하세요.
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: API 키가 성공적으로 생성되었습니다
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: API 키의 고유 식별자
                      name:
                        type: string
                        description: API 키 이름
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: 초당 요청 수로 표시한 rate limit
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: API 키의 지출 예산(센트 단위)
                      isOverBudget:
                        type: boolean
                        description: API 키가 현재 예산을 초과했는지 여부
                      teamId:
                        type: string
                        format: uuid
                        description: 이 키가 속한 team ID
                      userId:
                        type: string
                        format: uuid
                        description: 이 키를 생성한 사용자 ID
                      createdAt:
                        type: string
                        format: date-time
                        description: 키 생성 시점
        "400":
          description: 잘못된 요청 - 잘못된 매개변수
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - No user found for team
                      - Rate limit cannot exceed team's limit of 500 QPS
                      - "Unexpected parameters: invalidParam. Allowed: name,
                        rateLimit, budgetCents."
        "401":
          description: 인증되지 않음 - 서비스 키가 잘못되었거나 누락됨
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
      tags:
        - Team Management
      security:
        - apikey: []
    get:
      operationId: list-api-keys
      summary: API 키 목록 조회
      description: 인증된 team에 속한 모든 API 키를 반환합니다. 각 키의 ID, 이름, rate limit을 포함합니다.
      parameters:
        - name: api_key_id
          in: query
          required: false
          schema:
            type: string
          description: 특정 키를 조회할 때 사용할 선택적 API 키 ID입니다.
      x-codeSamples:
        - lang: bash
          label: List all API keys
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: List all API keys
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: List all API keys
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'GET',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: API 키 목록을 성공적으로 조회했습니다
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      apiKeys:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            rateLimit:
                              type:
                                - integer
                                - "null"
                              description: 초당 요청 수로 표시한 rate limit
                            budgetCents:
                              type:
                                - integer
                                - "null"
                              description: API 키의 지출 예산(센트 단위)
                            isOverBudget:
                              type: boolean
                              description: API 키가 현재 예산을 초과했는지 여부
                  - type: object
                    properties:
                      apiKey:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          rateLimit:
                            type:
                              - integer
                              - "null"
                            description: 초당 요청 수로 표시한 rate limit
                          budgetCents:
                            type:
                              - integer
                              - "null"
                            description: API 키의 지출 예산(센트 단위)
                          isOverBudget:
                            type: boolean
                            description: API 키가 현재 예산을 초과했는지 여부
                          teamId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
        "400":
          description: 잘못된 요청 - API 키 ID 형식이 잘못됨
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: 인증되지 않음 - 서비스 키가 잘못되었거나 누락됨
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: 금지됨 - 이 API 키에 액세스할 권한이 부족함
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Insufficient permissions to access this API key
        "404":
          description: 찾을 수 없음 - API 키 또는 team을 찾을 수 없음
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - API key not found
                      - Team not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}:
    get:
      operationId: get-api-key
      summary: API 키 조회
      description: ID를 사용해 특정 API 키의 세부 정보를 조회합니다.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: API 키의 고유 식별자입니다.
      x-codeSamples:
        - lang: bash
          label: Get a specific API key
          source: >
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY'
      responses:
        "200":
          description: API 키를 성공적으로 조회했습니다
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: 초당 요청 수로 표시한 rate limit
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: API 키의 지출 예산(센트 단위)
                      isOverBudget:
                        type: boolean
                        description: API 키가 현재 예산을 초과했는지 여부
                      teamId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
        "400":
          description: 잘못된 요청 - API 키 ID 형식이 잘못됨
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: 인증되지 않음 - 서비스 키가 잘못되었거나 누락됨
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: 찾을 수 없음 - API 키가 존재하지 않음
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    put:
      operationId: update-api-key
      summary: API 키 업데이트
      description: 기존 API 키의 이름 및/또는 rate limit을 업데이트합니다. 인증된 team에 속한 API 키만 업데이트할 수 있습니다.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 업데이트할 API 키의 고유 식별자입니다.
      x-codeSamples:
        - lang: bash
          label: Update API key name and rate limit
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Updated Production Key",
                "rateLimit": 2000
              }'
        - lang: python
          label: Update API key name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Updated Production Key',
                'rateLimit': 2000
            }

            response = requests.put(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Update API key name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'PUT',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Updated Production Key',
                rateLimit: 2000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Update only the name
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "New Name Only"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: API 키의 선택적 새 이름
                  example: Updated Production Key
                rateLimit:
                  type: integer
                  description: API 키의 선택적 새 rate limit(초당 요청 수)
                  example: 2000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: API 키의 선택적 새 지출 예산(센트 단위)입니다. 예산을 제거하려면 null로 설정하세요.
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: API 키가 성공적으로 업데이트되었습니다
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: 초당 요청 수로 표시한 rate limit
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: API 키의 지출 예산(센트 단위)
                      isOverBudget:
                        type: boolean
                        description: API 키가 현재 예산을 초과했는지 여부
                      teamId:
                        type: string
                        format: uuid
                      userId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
        "400":
          description: 잘못된 요청 - 잘못된 매개변수
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: 인증되지 않음 - 서비스 키가 잘못되었거나 누락됨
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: 금지됨 - API 키가 다른 team에 속함
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: 찾을 수 없음 - API 키가 존재하지 않음
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    delete:
      operationId: delete-api-key
      summary: API 키 삭제
      description: API 키를 삭제합니다. 인증된 team에 속한 API 키만 삭제할 수 있습니다.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 삭제할 API 키의 고유 식별자입니다.
      x-codeSamples:
        - lang: bash
          label: Delete an API key
          source: >
            curl -X DELETE
            'https://admin-api.exa.ai/team-management/api-keys/{id}' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Delete an API key
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            response = requests.delete(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: Delete an API key
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'DELETE',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: API 키가 성공적으로 삭제되었습니다
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: 잘못된 요청 - 잘못된 매개변수
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: 인증되지 않음 - 서비스 키가 잘못되었거나 누락됨
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: 금지됨 - API 키가 다른 team에 속함
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: 찾을 수 없음 - API 키가 존재하지 않음
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}/usage:
    get:
      operationId: get-api-key-usage
      summary: API 키 사용량 조회
      description: 지정된 기간 동안 특정 API 키의 사용량 분석 및 billing 데이터를 조회합니다. billing 시스템의 가격
        유형별 cost 분석을 반환합니다.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: API 키의 고유 식별자입니다.
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 사용량 기간의 시작 날짜(ISO 8601 형식)입니다. 기본값은 30일 전입니다. 최근 6개월(180일) 이내여야 합니다.
          example: 2025-01-01T00:00:00Z
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 사용량 기간의 종료 날짜(ISO 8601 형식)입니다. 기본값은 현재 시간입니다.
          example: 2025-01-31T23:59:59Z
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - hour
              - day
              - month
          description: 결과를 그룹화하는 시간 단위입니다. 현재는 향후 개선을 위해 예약되어 있으며 응답 형식에는 영향을 주지 않습니다.
            기본값은 'day'입니다.
          example: day
      x-codeSamples:
        - lang: bash
          label: Get usage for the last 30 days (default)
          source: >
            curl -X GET
            'https://admin-api.exa.ai/team-management/api-keys/{id}/usage' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: bash
          label: Get usage for a specific date range
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}/usage?start_date=2025-01-01&end_date=2025-01-31' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Get usage for a specific date range
          source: |
            import requests
            from datetime import datetime, timedelta

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            params = {
                'start_date': '2025-01-01T00:00:00Z',
                'end_date': '2025-01-31T23:59:59Z'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys/{id}/usage',
                headers=headers,
                params=params
            )

            print(response.json())
        - lang: javascript
          label: Get usage for a specific date range
          source: >
            const params = new URLSearchParams({
              start_date: '2025-01-01T00:00:00Z',
              end_date: '2025-01-31T23:59:59Z'
            });


            const response = await fetch(
              `https://admin-api.exa.ai/team-management/api-keys/{id}/usage?${params}`,
              {
                method: 'GET',
                headers: {
                  'x-api-key': 'YOUR-SERVICE-KEY'
                }
              }
            );


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: 사용량 데이터를 성공적으로 조회했습니다
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: API 키의 고유 식별자입니다.
                  api_key_id:
                    type: string
                    format: uuid
                    description: API 키 ID입니다.
                  api_key_name:
                    type:
                      - string
                      - "null"
                    description: API 키 이름
                  team_id:
                    type: string
                    format: uuid
                    description: 이 키가 속한 team ID
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                        description: 사용량 기간 시작 시점
                      end:
                        type: string
                        format: date-time
                        description: 사용량 기간 종료 시점
                  total_cost_usd:
                    type: number
                    description: 해당 기간의 총 cost(USD)
                    example: 45.67
                  cost_breakdown:
                    type: array
                    description: 가격 유형별 cost 분석
                    items:
                      type: object
                      properties:
                        price_id:
                          type: string
                          description: 가격의 고유 식별자
                        price_name:
                          type: string
                          description: '가격 이름(예: "Neural Search", "Content Retrieval")'
                        quantity:
                          type: number
                          description: 총 사용 수량
                        amount_usd:
                          type: number
                          description: 이 가격 유형의 cost(USD)
                  metadata:
                    type: object
                    properties:
                      generated_at:
                        type: string
                        format: date-time
                        description: 이 보고서가 생성된 시점
              example:
                id: key_abc123def456
                api_key_id: 550e8400-e29b-41d4-a716-446655440000
                api_key_name: Production API Key
                team_id: 660e8400-e29b-41d4-a716-446655440000
                period:
                  start: 2025-01-01T00:00:00Z
                  end: 2025-01-31T23:59:59Z
                total_cost_usd: 45.67
                cost_breakdown:
                  - price_id: price_neural_search
                    price_name: Neural Search
                    quantity: 1000
                    amount_usd: 30
                  - price_id: price_content_retrieval
                    price_name: Content Retrieval
                    quantity: 500
                    amount_usd: 15.67
                metadata:
                  generated_at: 2025-02-01T10:30:00Z
        "400":
          description: 잘못된 요청 - 잘못된 매개변수
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid API key ID format.
                      - Invalid date format. Use ISO 8601 format (YYYY-MM-DD or
                        YYYY-MM-DDTHH:mm:ss)
                      - start_date must be before end_date
                      - Date range too far in the past. start_date must be
                        within the last 6 months.
                      - "Invalid group_by parameter. Must be one of: hour, day,
                        month"
        "401":
          description: 인증되지 않음 - 서비스 키가 잘못되었거나 누락됨
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: 찾을 수 없음 - API 키가 존재하지 않음
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
        "500":
          description: 내부 서버 오류 - 사용량 데이터를 가져오지 못함
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to fetch usage data. Please try again later.
      tags:
        - Team Management
      security:
        - apikey: []
components:
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: x-api-key
      description: team 인증용 서비스 API 키
