openapi: 3.1.0
info:
  title: Exa Public API
  version: 2.0.0
servers:
  - url: https://api.exa.ai
security:
  - apiKey: []
  - bearer: []
paths:
  /search:
    post:
      operationId: search
      summary: Search
      description: Lakukan search dengan query Exa yang direkayasa melalui prompt dan
        ambil daftar hasil yang relevan. Secara opsional, ambil contents.
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.007"
          max: "0.015"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: b5947044c4b78efa9552a7c89b306d95
                results:
                  - title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    id: https://arxiv.org/abs/2307.06435
                    image: https://arxiv.org/pdf/2307.06435.pdf/page_1.png
                    favicon: https://arxiv.org/favicon.ico
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: Makalah tinjauan tentang Large Language Models (LLMs) ini menyoroti
                      perkembangan utama...
                resolvedSearchType: neural
                costDollars:
                  total: 0.007
                  search:
                    neural: 0.007
              schema:
                $ref: "#/components/schemas/SearchResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/SearchStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: "Payment diperlukan. Untuk permintaan API key, ini adalah format
            error standar (credits habis atau anggaran terlampaui). Pada
            endpoint dengan harga x402, permintaan tanpa API key akan menerima
            payment challenge x402 dengan tag `X402_PAYMENT_REQUIRED`: format
            tersebut diperluas dengan metadata payment x402 (`x402Version`,
            `resource`, `accepts`, dan `extensions` opsional) yang menjelaskan
            cara membayar permintaan."
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /contents:
    post:
      operationId: getContents
      summary: Contents
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.001"
          max: "0.010"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentsRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: e492118ccdedcba5088bfc4357a8a125
                results:
                  - id: https://arxiv.org/abs/2307.06435
                    title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: Makalah tinjauan tentang Large Language Models (LLMs) ini menyoroti
                      perkembangan utama...
                statuses:
                  - id: https://arxiv.org/abs/2307.06435
                    status: success
                    source: cached
                costDollars:
                  total: 0.003
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: "Payment diperlukan. Untuk permintaan API key, ini adalah format
            error standar (credits habis atau anggaran terlampaui). Pada
            endpoint dengan harga x402, permintaan tanpa API key akan menerima
            payment challenge x402 dengan tag `X402_PAYMENT_REQUIRED`: format
            tersebut diperluas dengan metadata payment x402 (`x402Version`,
            `resource`, `accepts`, dan `extensions` opsional) yang menjelaskan
            cara membayar permintaan."
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /answer:
    post:
      operationId: answer
      summary: Jawaban
      description: Melakukan search berdasarkan query dan menghasilkan jawaban
        langsung atau ringkasan terperinci dengan sitasi, bergantung pada jenis
        query.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnswerRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
                answer: $350 billion.
                citations:
                  - id: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    url: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    title: SpaceX valued at $350bn as company agrees to buy shares from ...
                    author: Dan Milmo
                    publishedDate: 2024-12-11T00:00:00.000Z
                    text: SpaceX valued at $350bn as company agrees to buy shares from ...
                costDollars:
                  total: 0.005
              schema:
                $ref: "#/components/schemas/AnswerResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AnswerStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /findSimilar:
    post:
      operationId: findSimilar
      summary: Temukan tautan serupa
      description: "Temukan tautan yang serupa dengan URL yang diberikan dan, secara
        opsional, ambil contents-nya. Usang: gunakan `/search` dengan query yang
        mendeskripsikan source."
      x-exa-lifecycle: deprecated
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindSimilarRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            Deprecation:
              description: Menandakan bahwa operasi ini usang.
              schema:
                type: string
              example: "true"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindSimilarResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /monitors:
    post:
      operationId: createMonitor
      summary: Buat monitor
      description: >-
        Membuat Monitor baru untuk menjalankan Exa search secara berkala sesuai
        jadwal.


        Monitors secara otomatis menjalankan query search Anda secara berkala
        sesuai jadwal dan mengirimkan hasil ke endpoint webhook Anda dengan
        deduplikasi otomatis:


        - **Pemfilteran berbasis tanggal** hanya mengambil konten sejak run
        terakhir


        - **Deduplikasi semantik** melacak output sebelumnya agar hanya
        menampilkan perkembangan baru


        Response mencakup `webhookSecret`, yang hanya dikembalikan sekali saat
        pembuatan. Simpan dengan aman untuk verifikasi signature webhook.
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSearchMonitorParameters"
      responses:
        "201":
          description: Monitor yang dibuat dengan webhook secret
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listMonitors
      summary: Daftar monitor
      description: Mencantumkan semua monitor untuk team yang diautentikasi. Mendukung
        pemfilteran berdasarkan status dan pagination berbasis cursor.
      tags:
        - Monitors
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum:
              - active
              - paused
              - disabled
            description: Filter monitor berdasarkan status
        - in: query
          name: cursor
          schema:
            type: string
            description: Cursor pagination dari response sebelumnya
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Jumlah hasil per halaman
            default: 50
        - in: query
          name: name
          schema:
            type: string
            maxLength: 250
            description: Filter monitor berdasarkan nama (kecocokan substring tanpa
              membedakan huruf besar/kecil)
        - in: query
          name: metadata
          schema:
            description: "Filter monitor berdasarkan pasangan key-value metadata (kecocokan
              tepat, semantik AND). Gunakan notasi kurung siku:
              `metadata[key]=value`."
            type: object
            propertyNames:
              type: string
            additionalProperties:
              type: string
          style: deepObject
          explode: true
          description: "Filter monitor berdasarkan pasangan key-value metadata (kecocokan
            tepat, semantik AND). Gunakan notasi kurung siku:
            `metadata[key]=value`."
      responses:
        "200":
          description: Daftar monitor yang dipaginasi
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/batch:
    post:
      operationId: batchMonitors
      summary: Tindakan batch pada monitor
      description: >-
        Lakukan tindakan batch pada monitor yang cocok dengan filter yang
        diberikan.


        Tindakan yang didukung:

        - **delete**: Hapus monitor yang cocok secara permanen

        - **pause**: Jeda monitor yang cocok

        - **unpause**: Lanjutkan monitor yang cocok


        Gunakan `dry_run: true` (default) untuk mempratinjau monitor yang akan
        terpengaruh sebelum melakukan tindakan. Hasil dipaginasi melalui
        parameter `limit`; lakukan loop hingga `has_more` bernilai `false` untuk
        memproses semua monitor yang cocok.
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchMonitorsRequest"
      responses:
        "200":
          description: Hasil tindakan batch
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}:
    get:
      operationId: getMonitor
      summary: Dapatkan monitor
      description: Mengambil satu monitor berdasarkan ID-nya.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
      responses:
        "200":
          description: Monitor
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    patch:
      operationId: updateMonitor
      summary: Perbarui monitor
      description: Memperbarui monitor yang ada. Semua field bersifat opsional. Untuk
        `search`, Anda dapat mengirim objek parsial yang hanya berisi field yang
        ingin diubah. Atur `trigger` ke `null` untuk menghapus jadwal.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSearchMonitorParameters"
      responses:
        "200":
          description: Monitor yang diperbarui
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteMonitor
      summary: Hapus monitor
      description: Menghapus monitor. Tindakan ini tidak dapat dibatalkan.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
      responses:
        "200":
          description: Monitor yang dihapus
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/trigger:
    post:
      operationId: triggerMonitor
      summary: Picu monitor
      description: Memicu run segera, terlepas dari jadwal. Berfungsi untuk monitor
        berstatus `active` atau `paused`.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
      responses:
        "200":
          description: Apakah monitor dipicu
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs:
    get:
      operationId: listRuns
      summary: Daftar run
      description: Mencantumkan semua run untuk monitor dengan pagination berbasis
        cursor. Run dikembalikan dalam urutan kronologis terbalik.
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
        - in: query
          name: cursor
          schema:
            type: string
            description: Cursor pagination dari response sebelumnya
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Jumlah hasil per halaman
            default: 50
      responses:
        "200":
          description: Daftar run yang dipaginasi
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorRunsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs/{runId}:
    get:
      operationId: getRun
      summary: Dapatkan run
      description: Mengambil satu run berdasarkan ID-nya, termasuk output lengkap jika
        run telah selesai.
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
        - in: path
          name: runId
          schema:
            type: string
            description: ID run
          required: true
          description: ID run
      responses:
        "200":
          description: Run
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitorRun"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /agent/runs:
    post:
      operationId: createAgentRun
      summary: Buat run
      description: "Buat Agent run asinkron. Secara default, API langsung
        mengembalikan objek run. Tetapkan `Accept: text/event-stream` untuk
        mengalirkan event siklus hidup run hingga run mencapai status terminal."
      tags:
        - Agent
      parameters:
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ExaBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentRunRequest"
            examples:
              simple:
                summary: Run Research sederhana
                value:
                  query: What are the most important AI infrastructure funding rounds announced
                    this week?
              structuredOutput:
                summary: Output terstruktur
                value:
                  query: Find recent Series A or Series B AI infrastructure funding rounds.
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - round
                            - amount
                            - sourceUrl
                          properties:
                            name:
                              type: string
                            round:
                              type: string
                            amount:
                              type: string
                            sourceUrl:
                              type: string
                              format: uri
              inputRows:
                summary: Proses baris input
                value:
                  query: For each company, find one current executive and cite a source.
                  input:
                    data:
                      - company: Apple
                        domain: apple.com
                      - company: Microsoft
                        domain: microsoft.com
                    exclusion:
                      - company: Apple
                        person: Tim Cook
              contactFields:
                summary: Field kontak dalam output terstruktur
                value:
                  query: Find engineering leaders at AI infrastructure companies that raised a
                    Series A or B in the last 6 months.
                  effort: auto
                  outputSchema:
                    type: object
                    required:
                      - people
                    properties:
                      people:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - linkedin_url
                          properties:
                            name:
                              type: string
                            contact_email:
                              type: string
                              format: email
                            linkedin_url:
                              type: string
                              format: uri
              dataSources:
                summary: Hubungkan sumber data
                value:
                  query: Find 10 fast-growing B2B SaaS companies and their estimated web traffic.
                  dataSources:
                    - provider: similarweb
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - domain
                            - monthlyVisits
                          properties:
                            name:
                              type: string
                            domain:
                              type: string
                            monthlyVisits:
                              type: number
                              description: dari Similarweb
      responses:
        "200":
          description: Agent run dibuat
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
              examples:
                running:
                  summary: Run diterima
                  value:
                    id: agent_run_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: agent_run
                    status: running
                    stopReason: null
                    createdAt: 2026-05-07T18:31:00.000Z
                    completedAt: null
                    request:
                      query: What are the most important AI infrastructure funding rounds announced
                        this week?
                    output:
                      text: ""
                      structured: null
                      grounding: []
                    usage:
                      agentComputeUnits: 0
                      searches: 0
                      emails: 0
                      phoneNumbers: 0
                    costDollars:
                      total: 0
                      agentCompute: 0
                      search: 0
                      emails: 0
                      phoneNumbers: 0
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                lifecycle:
                  summary: Event siklus hidup run
                  value: |-
                    id: 1
                    event: agent_run.created
                    data: {"id":"agent_run_01j...","status":"queued","createdAt":"2026-05-07T21:21:52.051Z"}

                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: Permintaan tidak valid.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Konteks Team atau autentikasi tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Batas konkurensi Agent run tercapai.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Kesalahan server atau waktu tunggu run habis.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    get:
      operationId: listAgentRuns
      summary: Daftar run
      description: Tampilkan Agent run untuk Team Anda, diurutkan dari yang terbaru ke
        terlama.
      tags:
        - Agent
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Jumlah hasil per halaman
            default: 20
        - in: query
          name: cursor
          schema:
            description: Cursor untuk paginasi. Gunakan nilai `nextCursor` dari response
              daftar run sebelumnya.
            $ref: "#/components/schemas/AgentRunId"
      responses:
        "200":
          description: Agent run berhalaman
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunList"
        "400":
          description: Permintaan tidak valid.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Konteks Team atau autentikasi tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Kesalahan server atau waktu tunggu run habis.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}:
    get:
      operationId: getAgentRun
      summary: Dapatkan run
      description: Ambil satu Agent run berdasarkan ID.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID Agent run.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID Agent run.
      responses:
        "200":
          description: Agent run
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Permintaan tidak valid.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Konteks Team atau autentikasi tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Run tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Batas konkurensi Agent run tercapai.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Kesalahan server atau waktu tunggu run habis.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    delete:
      operationId: deleteAgentRun
      summary: Hapus run
      description: Hapus Agent run yang tersimpan.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID Agent run.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID Agent run.
      responses:
        "200":
          description: Agent run dihapus
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAgentRunResponse"
        "400":
          description: Permintaan tidak valid.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Konteks Team atau autentikasi tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Run tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Batas konkurensi Agent run tercapai.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Kesalahan server atau waktu tunggu run habis.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/cancel:
    post:
      operationId: cancelAgentRun
      summary: Batalkan run
      description: Segera batalkan Agent run yang sedang dalam antrean atau berjalan
        tanpa mengembalikan hasil apa pun. Anda akan ditagih untuk penggunaan
        yang terakumulasi sebelum pembatalan. Jika run sudah mencapai status
        terminal, API mengembalikan run yang ada.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID Agent run.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID Agent run.
      responses:
        "200":
          description: Agent run
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Permintaan tidak valid.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Konteks Team atau autentikasi tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Run tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Batas konkurensi Agent run tercapai.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Kesalahan server atau waktu tunggu run habis.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/stop:
    post:
      operationId: stopAgentRun
      summary: Hentikan run
      description: "Selesaikan Agent run yang sedang berjalan lebih awal dan
        kembalikan hasil yang telah dikumpulkan sejauh ini. Anda akan ditagih
        untuk penggunaan yang terakumulasi sebelum penghentian. Saat ini hanya
        didukung untuk run dengan effort `max` dan memerlukan header `Exa-Beta:
        agent-max-effort-2026-07-27`. Jika run sudah mencapai status terminal,
        API mengembalikan run yang ada."
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID Agent run.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID Agent run.
        - $ref: "#/components/parameters/ExaBetaHeader"
      responses:
        "200":
          description: Agent run
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Permintaan tidak valid.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Konteks Team atau autentikasi tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Run tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Batas konkurensi Agent run tercapai.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Kesalahan server atau waktu tunggu run habis.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/events:
    get:
      operationId: listAgentRunEvents
      summary: Daftar event run
      description: "Tampilkan event tersimpan untuk Agent run. Tetapkan `Accept:
        text/event-stream` untuk memutar ulang event tersimpan sebagai
        server-sent events. Gunakan `cursor` untuk paginasi JSON atau
        `Last-Event-ID` untuk replay SSE."
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID Agent run.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID Agent run.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Jumlah hasil per halaman
            default: 20
        - in: query
          name: cursor
          schema:
            type: string
            description: Cursor untuk paginasi. Gunakan nilai `nextCursor` dari response
              daftar event sebelumnya.
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/LastEventId"
      responses:
        "200":
          description: Event Agent run
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunEventList"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                replay:
                  summary: Event run yang dikirim ulang
                  value: |
                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: Permintaan tidak valid.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Konteks Team atau autentikasi tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Run tidak ditemukan.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Batas konkurensi Agent run tercapai.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Kesalahan server atau waktu tunggu run habis.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /batches:
    post:
      operationId: createBatch
      summary: Buat batch
      description: Buat batch permintaan untuk dijalankan secara asinkron. Setiap
        permintaan dikirim ke rute targetnya, dan hasilnya tersedia untuk
        diunduh saat batch selesai.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - $ref: "#/components/parameters/BatchesBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatchRequest"
            examples:
              searchBatch:
                summary: Batch permintaan search dan agent run
                value:
                  requests:
                    - customId: row-1
                      method: POST
                      url: /search
                      body:
                        query: Latest AI infrastructure funding rounds
                    - customId: row-2
                      method: POST
                      url: /agent/runs
                      body:
                        query: Summarize this week's vector database launches
                  metadata:
                    project: weekly-digest
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: in_progress
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listBatches
      summary: Daftar batch
      description: Tampilkan batch untuk Team Anda, diurutkan dari yang terbaru ke terlama.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
            description: Cursor paginasi dari response sebelumnya
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            description: Jumlah maksimum batch yang dikembalikan per halaman. Default-nya
              100 jika tidak ditentukan; tidak ada batas atas.
            default: 100
        - in: query
          name: status
          schema:
            type: string
            const: completed
            description: Filter daftar agar hanya menampilkan batch yang selesai.
              `completed` adalah satu-satunya nilai yang didukung; nilai lain
              mengembalikan 400. Daftar batch selesai diurutkan berdasarkan
              waktu kedaluwarsa dan menggunakan cursor terpisah, jadi terus
              kirim `status=completed` pada setiap permintaan paginasi berbasis
              cursor.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                object: list
                data:
                  - id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: batch
                    status: completed
                    requestCounts:
                      total: 2
                      completed: 2
                      failed: 0
                    createdAt: 2026-06-06T12:00:00.000Z
                    expiresAt: 2026-06-13T12:00:00.000Z
                    endedAt: 2026-06-06T12:01:30.000Z
                    resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                    metadata:
                      project: weekly-digest
                hasMore: false
                nextCursor: null
              schema:
                $ref: "#/components/schemas/BatchList"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}:
    get:
      operationId: getBatch
      summary: Dapatkan batch
      description: Ambil satu batch berdasarkan ID.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: ID batch.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: ID batch.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: completed
                requestCounts:
                  total: 2
                  completed: 2
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: 2026-06-06T12:01:30.000Z
                resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteBatch
      summary: Hapus batch
      description: Hapus lunak batch yang berstatus terminal.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: ID batch.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: ID batch.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch.deleted
                deleted: true
              schema:
                $ref: "#/components/schemas/DeletedBatch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}/cancel:
    post:
      operationId: cancelBatch
      summary: Batalkan batch
      description: Minta pembatalan batch. Batch berhenti menjadwalkan permintaan baru
        dan menyelesaikan pekerjaan yang sedang diproses sebelum beralih ke
        `cancelled`. Membatalkan batch yang sudah `cancelling` atau `cancelled`
        bersifat idempoten dan mengembalikan batch tanpa perubahan. Batch yang
        sudah mencapai status terminal (`completed` atau `expired`) tidak dapat
        dibatalkan, dan permintaan gagal dengan 409.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: ID batch.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: ID batch.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: cancelling
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /v0/teams/me:
    get:
      operationId: teams-me-get
      summary: Dapatkan info Team
      description: Mengembalikan informasi tentang Team yang diautentikasi, termasuk
        penggunaan konkurensi dan batas saat ini.
      tags:
        - Teams
      responses:
        "200":
          description: Informasi Team berhasil diambil
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetsTeamInfo"
  /v0/websets:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-create
      summary: Buat Webset
      description: >-
        Membuat Webset baru dengan konfigurasi search, impor, dan Enrichment
        opsional. Webset akan mulai diproses secara otomatis setelah dibuat.


        Anda dapat menentukan `externalId` untuk merujuk Webset menggunakan
        identifier Anda sendiri agar integrasi lebih mudah.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetParameters"
      responses:
        "201":
          description: Webset dibuat
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "409":
          description: Webset dengan externalId ini sudah ada
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-list
      summary: Daftar semua Websets
      description: >-
        Mengembalikan daftar Websets.


        Anda dapat melakukan paginasi hasil menggunakan parameter `cursor`.


        Anda dapat memfilter hasil menggunakan parameter `search` untuk
        menemukan Websets berdasarkan ID, ID eksternal, atau judul.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Cursor untuk melakukan paginasi hasil
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 100
            type: number
          required: false
          description: Jumlah Websets yang dikembalikan
        - in: query
          name: search
          schema:
            minLength: 2
            maxLength: 50
            type: string
          required: false
          description: Istilah pencarian untuk memfilter Websets berdasarkan ID, ID
            eksternal, atau judul
      responses:
        "200":
          description: Daftar Websets
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetsResponse"
  /v0/websets/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-get
      summary: Dapatkan Webset
      description: >-
        Mengembalikan Webset berdasarkan `id` atau `externalId`, termasuk
        status, searches, impor, enrichments, dan monitors-nya.


        Teruskan `expand=items` untuk menyertakan hingga 100 item pertama dalam
        response.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: "`id` atau `externalId` Webset."
          required: true
        - in: query
          name: expand
          schema:
            items:
              enum:
                - items
              type: string
            type: array
          required: false
          description: Perluas response dengan sumber daya yang ditentukan
      responses:
        "200":
          description: Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWebsetResponse"
        "404":
          description: Webset tidak ditemukan
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    post:
      operationId: websets-update
      summary: Perbarui Webset
      description: Memperbarui `title` atau `metadata` Webset. Searches, impor, dan
        enrichments dikelola melalui endpoint masing-masing.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id atau externalId Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebsetRequest"
      responses:
        "200":
          description: Webset diperbarui
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Webset tidak ditemukan
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: websets-delete
      summary: Hapus Webset
      description: |-
        Menghapus Webset.

        Setelah dihapus, Webset dan semua Item-nya tidak akan lagi tersedia.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id atau externalId Webset
          required: true
      responses:
        "200":
          description: Webset dihapus
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Webset tidak ditemukan
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/websets/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-cancel
      summary: Batalkan Webset yang sedang berjalan
      description: >-
        Membatalkan semua operasi yang sedang dilakukan pada Webset.


        Setiap enrichment atau search akan dihentikan dan Webset akan ditandai
        sebagai `idle`.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id atau externalId Webset
          required: true
      responses:
        "200":
          description: Webset dibatalkan
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
  /v0/websets/{webset}/searches:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-create
      summary: Buat Search
      description: >-
        Membuat Search baru untuk Webset.


        Secara default, hasil Search sebelumnya digunakan kembali dan dievaluasi
        berdasarkan kriteria baru.
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetSearchParameters"
      responses:
        "200":
          description: Search Webset dibuat
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-searches-get
      summary: Dapatkan Search
      description: Mendapatkan Search berdasarkan id
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Search
          required: true
      responses:
        "200":
          description: Search berhasil diambil
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-cancel
      summary: Batalkan Search yang sedang berjalan
      description: >-
        Membatalkan Search yang sedang berjalan.


        Anda dapat membatalkan semua search sekaligus menggunakan endpoint
        `websets/:webset/cancel`.
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Search
          required: true
      responses:
        "200":
          description: Search dibatalkan
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/enrichments:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-create
      summary: Buat Enrichment
      description: Membuat Enrichment untuk Webset.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id atau externalId Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnrichmentParameters"
      responses:
        "200":
          description: Enrichment dibuat
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}:
    servers:
      - url: https://api.exa.ai/websets
    patch:
      operationId: websets-enrichments-update
      summary: Perbarui Enrichment
      description: Memperbarui konfigurasi Enrichment untuk Webset.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnrichmentParameters"
      responses:
        "200":
          description: ""
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-enrichments-get
      summary: Dapatkan Enrichment
      description: Mengembalikan Enrichment yang dikonfigurasi pada Webset, termasuk
        status, deskripsi, format, dan opsi.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id atau externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Enrichment
          required: true
      responses:
        "200":
          description: Enrichment
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
    delete:
      operationId: websets-enrichments-delete
      summary: Hapus Enrichment
      description: Saat menghapus Enrichment, semua enrichment yang sedang berjalan
        akan dibatalkan dan semua `enrichment_result` yang dihasilkan oleh
        Enrichment ini tidak akan lagi tersedia.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id atau externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Enrichment
          required: true
      responses:
        "200":
          description: Enrichment dihapus
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-cancel
      summary: Batalkan Enrichment yang sedang berjalan
      description: Semua enrichment yang sedang berjalan akan dibatalkan. Enrichment
        tidak dapat dilanjutkan setelah dibatalkan.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id atau externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Enrichment
          required: true
      responses:
        "200":
          description: Enrichment dibatalkan
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/items/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-get
      summary: Dapatkan Item
      description: Mengembalikan Item Webset.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id atau externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id item Webset
          required: true
      responses:
        "200":
          description: Item Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
    delete:
      operationId: websets-items-delete
      summary: Hapus Item
      description: |-
        Menghapus Item dari Webset.

        Ini akan membatalkan proses enrichment untuk Item tersebut.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id atau externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id item Webset
          required: true
      responses:
        "200":
          description: Item Webset dihapus
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
  /v0/websets/{webset}/items:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-list
      summary: Daftar semua Item untuk Webset
      description: |-
        Mengembalikan daftar Item Webset.

        Anda dapat melakukan paginasi Item menggunakan parameter `cursor`.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id atau externalId Webset
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Cursor untuk melakukan paginasi hasil
        - in: query
          name: limit
          schema:
            default: 20
            minimum: 1
            maximum: 100
            type: integer
          required: false
          description: Jumlah hasil yang dikembalikan
        - in: query
          name: sourceId
          schema:
            type: string
          required: false
          description: id sumber
      responses:
        "200":
          description: Item Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetItemResponse"
  /v0/websets/preview:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-preview
      summary: Pratinjau webset
      description: >-
        Pratinjau bagaimana query search akan diuraikan sebelum membuat webset.
        Endpoint ini melakukan analisis query yang sama seperti saat pembuatan
        webset, sehingga Anda dapat melihat jenis entitas yang terdeteksi,
        kriteria search yang dihasilkan, dan kolom enrichment yang tersedia
        terlebih dahulu.


        Gunakan ini untuk membantu pengguna memahami bagaimana search mereka
        akan ditafsirkan sebelum membuat webset secara penuh.
      tags:
        - Websets Preview
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: search
          schema:
            type: boolean
          required: false
          description: Apakah Anda ingin mencari daftar pratinjau item
      requestBody:
        required: true
        description: search parameters
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewWebsetParameters"
      responses:
        "200":
          description: Pratinjau webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewWebsetResponse"
        "422":
          description: Tidak dapat mendeteksi entitas atau kriteria dari query
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/monitors:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: monitors-create
      summary: Buat Monitor
      description: >-
        Membuat `Monitor` baru untuk terus memperbarui Websets Anda dengan data
        terbaru.


        Monitor berjalan secara otomatis sesuai jadwal yang Anda tentukan agar
        Websets Anda tetap mutakhir tanpa intervensi manual:


        - **Menemukan konten baru**: Menjalankan operasi `search` untuk
        menemukan item baru yang sesuai dengan kriteria Anda

        - **Memperbarui konten yang ada**: Menjalankan operasi `refresh` untuk
        memperbarui konten dan enrichment item

        - **Penjadwalan otomatis**: Mengonfigurasi ekspresi `cron` dan
        `timezone` untuk kontrol penjadwalan yang presisi
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitorParameters"
      responses:
        "201":
          description: Monitor berhasil dibuat
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    get:
      operationId: monitors-list
      summary: Daftar Monitors
      description: Mencantumkan semua monitor untuk Webset.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Cursor untuk melakukan paginasi hasil
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Jumlah hasil yang dikembalikan
        - in: query
          name: websetId
          schema:
            type: string
          required: false
          description: id Webset untuk mencantumkan monitor
      responses:
        "200":
          description: Daftar monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorsResponse"
  /v0/monitors/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-get
      summary: Dapatkan Monitor
      description: Mendapatkan monitor tertentu.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id Monitor
          required: true
      responses:
        "200":
          description: Detail monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    patch:
      operationId: monitors-update
      summary: Perbarui Monitor
      description: Memperbarui konfigurasi monitor.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id Monitor
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMonitor"
      responses:
        "200":
          description: Monitor berhasil diperbarui
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    delete:
      operationId: monitors-delete
      summary: Hapus Monitor
      description: Menghapus monitor.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id Monitor
          required: true
      responses:
        "200":
          description: Monitor berhasil dihapus
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
  /v0/monitors/{monitor}/runs:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-list
      summary: Daftar run monitor
      description: Mencantumkan semua run untuk Monitor.
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: id Monitor untuk mencantumkan run
          required: true
      responses:
        "200":
          description: Daftar run monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorRunsResponse"
  /v0/monitors/{monitor}/runs/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-get
      summary: Dapatkan run monitor
      description: Mendapatkan run monitor tertentu.
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: id Monitor untuk mendapatkan run
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Detail run monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorRun"
  /v0/imports:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: imports-create
      summary: Buat impor
      description: >-
        Membuat impor baru untuk mengunggah data Anda ke Websets. Impor dapat
        digunakan untuk:


        - **Enrich**: Memperkaya data Anda dengan informasi tambahan menggunakan
        mesin enrichment bertenaga AI kami

        - **Search**: Menjalankan query pada data Anda menggunakan search
        agentik Websets dengan filter bahasa alami

        - **Mengecualikan**: Mencegah hasil duplikat atau yang sudah diketahui
        muncul dalam search Anda


        Setelah impor dibuat, Anda dapat mengunggah data ke `uploadUrl` yang
        dikembalikan hingga `uploadValidUntil` (default-nya 1 jam).
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImportParameters"
      responses:
        "201":
          description: Impor berhasil dibuat
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateImportResponse"
    get:
      operationId: imports-list
      summary: Daftar impor
      description: Menampilkan semua impor untuk Webset.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Cursor untuk menavigasi halaman hasil
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Jumlah hasil yang akan dikembalikan
      responses:
        "200":
          description: Daftar impor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListImportsResponse"
  /v0/imports/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: imports-get
      summary: Dapatkan impor
      description: Mengambil impor tertentu.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ID impor
          required: true
      responses:
        "200":
          description: Detail impor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    patch:
      operationId: imports-update
      summary: Perbarui impor
      description: Memperbarui konfigurasi impor.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ID impor
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateImport"
      responses:
        "200":
          description: Impor berhasil diperbarui
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    delete:
      operationId: imports-delete
      summary: Hapus impor
      description: Menghapus impor.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ID impor
          required: true
      responses:
        "200":
          description: Impor berhasil dihapus
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
  /v0/webhooks:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: webhooks-create
      summary: Buat Webhook
      description: >-
        Membuat Webhook yang mengirimkan event yang dipilih ke URL Anda saat
        event terjadi.


        Response mencakup `secret` untuk penandatanganan yang digunakan untuk
        memverifikasi pengiriman; nilainya hanya dikembalikan saat pembuatan.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookParameters"
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
    get:
      operationId: webhooks-list
      summary: Daftar webhook
      description: |-
        Mengembalikan Webhook aktif untuk Team Anda.

        Anda dapat menavigasi halaman hasil menggunakan parameter `cursor`.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Cursor untuk menavigasi halaman hasil
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Jumlah hasil yang akan dikembalikan
      responses:
        "200":
          description: Daftar webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
  /v0/webhooks/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-get
      summary: Dapatkan Webhook
      description: Mengembalikan Webhook berdasarkan ID, termasuk status, event yang
        dilanggani, URL target, dan metadata. `secret` untuk penandatanganan
        tidak dikembalikan.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ID webhook
          required: true
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Webhook tidak ditemukan
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    patch:
      operationId: webhooks-update
      summary: Perbarui Webhook
      description: Memperbarui URL target, event yang dilanggani, atau metadata
        Webhook. Field yang tidak disertakan tidak diubah.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ID webhook
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookParameters"
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Webhook tidak ditemukan
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: webhooks-delete
      summary: Hapus Webhook
      description: Menghapus Webhook. Statusnya menjadi `inactive`, sehingga
        pengiriman webhook berikutnya ke URL-nya dihentikan.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ID webhook
          required: true
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Webhook tidak ditemukan
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifier unik untuk permintaan.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/webhooks/{id}/attempts:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-attempts-list
      summary: Daftar upaya webhook
      description: Menampilkan semua upaya yang dilakukan oleh Webhook dalam urutan menurun.
      tags:
        - Webhooks Attempts
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: ID webhook
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Cursor untuk menavigasi halaman hasil
        - in: query
          name: limit
          schema:
            default: 25
[...]
