openapi: 3.1.0
info:
  version: 1.0.0
  title: Team Management API
  description: API untuk mengelola API key dalam Team. Menyediakan operasi CRUD
    untuk membuat, mencantumkan, memperbarui, dan menghapus API key dengan
    kontrol akses berbasis Team. API ini diaktifkan untuk setiap Team. Hubungi
    support@exa.ai untuk meminta akses.
servers:
  - url: https://admin-api.exa.ai/team-management
security:
  - apikey: []
paths:
  /api-keys:
    post:
      operationId: create-api-key
      summary: Buat API key
      description: Membuat API key baru untuk Team yang terautentikasi. Secara
        opsional, tentukan nama, rate limit, dan anggaran untuk API key.
      x-codeSamples:
        - lang: bash
          label: Create API key with name and rate limit
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Production API Key",
                "rateLimit": 1000
              }'
        - lang: python
          label: Create API key with name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Production API Key',
                'rateLimit': 1000
            }

            response = requests.post(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Create API key with name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'POST',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Production API Key',
                rateLimit: 1000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Create API key without optional parameters
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nama opsional untuk API key
                  example: Production API Key
                rateLimit:
                  type: integer
                  description: Rate limit opsional untuk API key (permintaan per detik)
                  example: 1000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: Anggaran pengeluaran opsional untuk API key, dalam sen. Tetapkan ke
                    null untuk menghapus anggaran.
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: API key berhasil dibuat
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Identifier unik untuk API key
                      name:
                        type: string
                        description: Nama API key
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Rate limit dalam permintaan per detik
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Anggaran pengeluaran untuk API key, dalam sen
                      isOverBudget:
                        type: boolean
                        description: Apakah API key saat ini melebihi anggarannya
                      teamId:
                        type: string
                        format: uuid
                        description: ID Team pemilik key ini
                      userId:
                        type: string
                        format: uuid
                        description: ID pengguna yang membuat key ini
                      createdAt:
                        type: string
                        format: date-time
                        description: Waktu key dibuat
        "400":
          description: Permintaan Tidak Valid - parameter tidak valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - No user found for team
                      - Rate limit cannot exceed team's limit of 500 QPS
                      - "Unexpected parameters: invalidParam. Allowed: name,
                        rateLimit, budgetCents."
        "401":
          description: Tidak Terautentikasi - key layanan tidak valid atau tidak ada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
      tags:
        - Team Management
      security:
        - apikey: []
    get:
      operationId: list-api-keys
      summary: Daftar API key
      description: Mengembalikan semua API key milik Team yang terautentikasi.
        Mencakup ID, nama, dan rate limit setiap key.
      parameters:
        - name: api_key_id
          in: query
          required: false
          schema:
            type: string
          description: ID API key opsional untuk mengambil key tertentu.
      x-codeSamples:
        - lang: bash
          label: List all API keys
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: List all API keys
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: List all API keys
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'GET',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: Daftar API key berhasil diambil
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      apiKeys:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            rateLimit:
                              type:
                                - integer
                                - "null"
                              description: Rate limit dalam permintaan per detik
                            budgetCents:
                              type:
                                - integer
                                - "null"
                              description: Anggaran pengeluaran untuk API key, dalam sen
                            isOverBudget:
                              type: boolean
                              description: Apakah API key saat ini melebihi anggarannya
                  - type: object
                    properties:
                      apiKey:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          rateLimit:
                            type:
                              - integer
                              - "null"
                            description: Rate limit dalam permintaan per detik
                          budgetCents:
                            type:
                              - integer
                              - "null"
                            description: Anggaran pengeluaran untuk API key, dalam sen
                          isOverBudget:
                            type: boolean
                            description: Apakah API key saat ini melebihi anggarannya
                          teamId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
        "400":
          description: Permintaan tidak valid - format ID API key tidak valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: Tidak Terautentikasi - key layanan tidak valid atau tidak ada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: Dilarang - izin untuk mengakses API key ini tidak memadai
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Insufficient permissions to access this API key
        "404":
          description: Tidak ditemukan - API key atau Team tidak ditemukan
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - API key not found
                      - Team not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}:
    get:
      operationId: get-api-key
      summary: Dapatkan API key
      description: Mengambil detail API key tertentu berdasarkan ID-nya.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Identifier unik API key.
      x-codeSamples:
        - lang: bash
          label: Get a specific API key
          source: >
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY'
      responses:
        "200":
          description: API key berhasil diambil
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Rate limit dalam permintaan per detik
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Anggaran pengeluaran untuk API key, dalam sen
                      isOverBudget:
                        type: boolean
                        description: Apakah API key saat ini melebihi anggarannya
                      teamId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
        "400":
          description: Permintaan tidak valid - format ID API key tidak valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: Tidak Terautentikasi - key layanan tidak valid atau tidak ada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: Tidak ditemukan - API key tidak ada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    put:
      operationId: update-api-key
      summary: Perbarui API key
      description: Memperbarui nama dan/atau rate limit API key yang ada. Hanya API
        key milik Team yang terautentikasi yang dapat diperbarui.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Identifier unik API key yang akan diperbarui.
      x-codeSamples:
        - lang: bash
          label: Update API key name and rate limit
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Updated Production Key",
                "rateLimit": 2000
              }'
        - lang: python
          label: Update API key name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Updated Production Key',
                'rateLimit': 2000
            }

            response = requests.put(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Update API key name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'PUT',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Updated Production Key',
                rateLimit: 2000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Update only the name
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "New Name Only"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nama baru opsional untuk API key
                  example: Updated Production Key
                rateLimit:
                  type: integer
                  description: Rate limit baru opsional untuk API key (permintaan per detik)
                  example: 2000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: Anggaran pengeluaran baru opsional untuk API key, dalam sen.
                    Tetapkan ke null untuk menghapus anggaran.
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: API key berhasil diperbarui
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Rate limit dalam permintaan per detik
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Anggaran pengeluaran untuk API key, dalam sen
                      isOverBudget:
                        type: boolean
                        description: Apakah API key saat ini melebihi anggarannya
                      teamId:
                        type: string
                        format: uuid
                      userId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
        "400":
          description: Permintaan Tidak Valid - parameter tidak valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: Tidak Terautentikasi - key layanan tidak valid atau tidak ada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: Dilarang - API key milik Team lain
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: Tidak Ditemukan - API key tidak ada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    delete:
      operationId: delete-api-key
      summary: Hapus API key
      description: Menghapus API key. Hanya API key milik Team yang terautentikasi
        yang dapat dihapus.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Identifier unik API key yang akan dihapus.
      x-codeSamples:
        - lang: bash
          label: Delete an API key
          source: >
            curl -X DELETE
            'https://admin-api.exa.ai/team-management/api-keys/{id}' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Delete an API key
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            response = requests.delete(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: Delete an API key
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'DELETE',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: API key berhasil dihapus
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Permintaan Tidak Valid - parameter tidak valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: Tidak Terautentikasi - key layanan tidak valid atau tidak ada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: Dilarang - API key milik Team lain
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: Tidak Ditemukan - API key tidak ada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}/usage:
    get:
      operationId: get-api-key-usage
      summary: Dapatkan penggunaan API key
      description: Mengambil analitik penggunaan dan data billing untuk API key
        tertentu selama periode waktu tertentu. Mengembalikan perincian biaya
        berdasarkan jenis harga dari sistem billing.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Identifier unik API key.
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Tanggal mulai periode penggunaan (format ISO 8601). Default-nya
            adalah 30 hari yang lalu. Harus berada dalam 6 bulan terakhir (180
            hari).
          example: 2025-01-01T00:00:00Z
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Tanggal akhir periode penggunaan (format ISO 8601). Default-nya
            adalah waktu saat ini.
          example: 2025-01-31T23:59:59Z
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - hour
              - day
              - month
          description: Granularitas waktu untuk mengelompokkan hasil. Saat ini dicadangkan
            untuk peningkatan di masa mendatang dan tidak mengubah struktur
            response. Default-nya adalah 'day'.
          example: day
      x-codeSamples:
        - lang: bash
          label: Get usage for the last 30 days (default)
          source: >
            curl -X GET
            'https://admin-api.exa.ai/team-management/api-keys/{id}/usage' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: bash
          label: Get usage for a specific date range
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}/usage?start_date=2025-01-01&end_date=2025-01-31' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Get usage for a specific date range
          source: |
            import requests
            from datetime import datetime, timedelta

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            params = {
                'start_date': '2025-01-01T00:00:00Z',
                'end_date': '2025-01-31T23:59:59Z'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys/{id}/usage',
                headers=headers,
                params=params
            )

            print(response.json())
        - lang: javascript
          label: Get usage for a specific date range
          source: >
            const params = new URLSearchParams({
              start_date: '2025-01-01T00:00:00Z',
              end_date: '2025-01-31T23:59:59Z'
            });


            const response = await fetch(
              `https://admin-api.exa.ai/team-management/api-keys/{id}/usage?${params}`,
              {
                method: 'GET',
                headers: {
                  'x-api-key': 'YOUR-SERVICE-KEY'
                }
              }
            );


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: Data penggunaan berhasil diambil
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Identifier unik API key.
                  api_key_id:
                    type: string
                    format: uuid
                    description: ID API key.
                  api_key_name:
                    type:
                      - string
                      - "null"
                    description: Nama API key
                  team_id:
                    type: string
                    format: uuid
                    description: ID Team pemilik key ini
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                        description: Awal periode penggunaan
                      end:
                        type: string
                        format: date-time
                        description: Akhir periode penggunaan
                  total_cost_usd:
                    type: number
                    description: Total biaya dalam USD untuk periode tersebut
                    example: 45.67
                  cost_breakdown:
                    type: array
                    description: Perincian biaya berdasarkan jenis harga
                    items:
                      type: object
                      properties:
                        price_id:
                          type: string
                          description: Identifier unik untuk harga
                        price_name:
                          type: string
                          description: Nama harga (misalnya, "Neural Search", "Content Retrieval")
                        quantity:
                          type: number
                          description: Total kuantitas yang digunakan
                        amount_usd:
                          type: number
                          description: Biaya dalam USD untuk jenis harga ini
                  metadata:
                    type: object
                    properties:
                      generated_at:
                        type: string
                        format: date-time
                        description: Waktu laporan ini dibuat
              example:
                id: key_abc123def456
                api_key_id: 550e8400-e29b-41d4-a716-446655440000
                api_key_name: Production API Key
                team_id: 660e8400-e29b-41d4-a716-446655440000
                period:
                  start: 2025-01-01T00:00:00Z
                  end: 2025-01-31T23:59:59Z
                total_cost_usd: 45.67
                cost_breakdown:
                  - price_id: price_neural_search
                    price_name: Neural Search
                    quantity: 1000
                    amount_usd: 30
                  - price_id: price_content_retrieval
                    price_name: Content Retrieval
                    quantity: 500
                    amount_usd: 15.67
                metadata:
                  generated_at: 2025-02-01T10:30:00Z
        "400":
          description: Permintaan Tidak Valid - parameter tidak valid
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid API key ID format.
                      - Invalid date format. Use ISO 8601 format (YYYY-MM-DD or
                        YYYY-MM-DDTHH:mm:ss)
                      - start_date must be before end_date
                      - Date range too far in the past. start_date must be
                        within the last 6 months.
                      - "Invalid group_by parameter. Must be one of: hour, day,
                        month"
        "401":
          description: Tidak Terautentikasi - key layanan tidak valid atau tidak ada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: Tidak Ditemukan - API key tidak ada
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
        "500":
          description: Kesalahan Server Internal - gagal mengambil data penggunaan
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to fetch usage data. Please try again later.
      tags:
        - Team Management
      security:
        - apikey: []
components:
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: x-api-key
      description: API key layanan untuk autentikasi Team
