openapi: 3.1.0
info:
  title: Exa Public API
  version: 2.0.0
servers:
  - url: https://api.exa.ai
security:
  - apiKey: []
  - bearer: []
paths:
  /search:
    post:
      operationId: search
      summary: Поиск
      description: Выполняет поиск с помощью оптимизированного для Exa запроса и
        возвращает список релевантных результатов. При необходимости также
        возвращает содержимое.
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.007"
          max: "0.015"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: b5947044c4b78efa9552a7c89b306d95
                results:
                  - title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    id: https://arxiv.org/abs/2307.06435
                    image: https://arxiv.org/pdf/2307.06435.pdf/page_1.png
                    favicon: https://arxiv.org/favicon.ico
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: В этой обзорной статье о больших языковых моделях (LLM) освещаются
                      ключевые достижения...
                resolvedSearchType: neural
                costDollars:
                  total: 0.007
                  search:
                    neural: 0.007
              schema:
                $ref: "#/components/schemas/SearchResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/SearchStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: "Требуется оплата. Для запросов с API key это стандартная структура
            ошибки (закончились credits или превышен бюджет). На эндпоинтах с
            ценами x402 запросы без API key вместо этого получают платёжный
            запрос x402 с тегом `X402_PAYMENT_REQUIRED`: структуру, дополненную
            метаданными платежа x402 (`x402Version`, `resource`, `accepts` и
            необязательным `extensions`), в которых описан способ оплаты
            запроса."
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /contents:
    post:
      operationId: getContents
      summary: Contents
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.001"
          max: "0.010"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentsRequest"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: e492118ccdedcba5088bfc4357a8a125
                results:
                  - id: https://arxiv.org/abs/2307.06435
                    title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: В этой обзорной статье о больших языковых моделях (LLM) освещаются
                      ключевые достижения...
                statuses:
                  - id: https://arxiv.org/abs/2307.06435
                    status: success
                    source: cached
                costDollars:
                  total: 0.003
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: "Требуется оплата. Для запросов с API key это стандартная структура
            ошибки (закончились credits или превышен бюджет). На эндпоинтах с
            ценами x402 запросы без API key вместо этого получают платёжный
            запрос x402 с тегом `X402_PAYMENT_REQUIRED`: структуру, дополненную
            метаданными платежа x402 (`x402Version`, `resource`, `accepts` и
            необязательным `extensions`), в которых описан способ оплаты
            запроса."
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /answer:
    post:
      operationId: answer
      summary: Ответ
      description: Выполняет поиск по запросу и в зависимости от его типа генерирует
        прямой ответ или подробное summary с citations.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnswerRequest"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
                answer: $350 billion.
                citations:
                  - id: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    url: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    title: SpaceX valued at $350bn as company agrees to buy shares from ...
                    author: Dan Milmo
                    publishedDate: 2024-12-11T00:00:00.000Z
                    text: SpaceX valued at $350bn as company agrees to buy shares from ...
                costDollars:
                  total: 0.005
              schema:
                $ref: "#/components/schemas/AnswerResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AnswerStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /findSimilar:
    post:
      operationId: findSimilar
      summary: Найти похожие ссылки
      description: "Находит ссылки, похожие на указанный URL, и при необходимости
        получает их содержимое. Устарело: используйте `/search` с запросом,
        описывающим источник."
      x-exa-lifecycle: deprecated
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindSimilarRequest"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            Deprecation:
              description: Указывает, что эта операция устарела.
              schema:
                type: string
              example: "true"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindSimilarResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /monitors:
    post:
      operationId: createMonitor
      summary: Создать monitor
      description: >-
        Создаёт новый Monitor для регулярного выполнения поисков Exa по
        расписанию.


        Monitors автоматически выполняют ваш поисковый запрос по расписанию и
        доставляют результаты на эндпоинт вашего вебхука с автоматическим
        устранением дубликатов:


        - **Фильтрация по дате** получает содержимое только с момента последнего
        выполнения


        - **Семантическое устранение дубликатов** отслеживает предыдущие выводы,
        чтобы показывать только новые изменения


        Ответ содержит `webhookSecret`, который возвращается только один раз при
        создании. Надёжно сохраните его для верификации подписи вебхука.
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSearchMonitorParameters"
      responses:
        "201":
          description: Созданный monitor с секретом вебхука
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listMonitors
      summary: Список monitor
      description: Возвращает список всех monitor аутентифицированной команды.
        Поддерживает фильтрацию по статусу и пагинацию на основе курсора.
      tags:
        - Monitors
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum:
              - active
              - paused
              - disabled
            description: Фильтровать monitor по статусу
        - in: query
          name: cursor
          schema:
            type: string
            description: Курсор пагинации из предыдущего ответа
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Количество результатов на странице
            default: 50
        - in: query
          name: name
          schema:
            type: string
            maxLength: 250
            description: Фильтровать monitor по имени (поиск подстроки без учёта регистра)
        - in: query
          name: metadata
          schema:
            description: "Фильтровать monitor по парам «ключ-значение» метаданных (точное
              совпадение, логика И). Используйте скобочную нотацию:
              `metadata[key]=value`."
            type: object
            propertyNames:
              type: string
            additionalProperties:
              type: string
          style: deepObject
          explode: true
          description: "Фильтровать monitor по парам «ключ-значение» метаданных (точное
            совпадение, логика И). Используйте скобочную нотацию:
            `metadata[key]=value`."
      responses:
        "200":
          description: Список monitor с пагинацией
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/batch:
    post:
      operationId: batchMonitors
      summary: Пакетное действие для monitor
      description: >-
        Выполняет пакетное действие для monitor, соответствующих заданным
        фильтрам.


        Поддерживаемые действия:

        - **delete**: безвозвратно удалить соответствующие monitor

        - **pause**: приостановить соответствующие monitor

        - **unpause**: возобновить соответствующие monitor


        Используйте `dry_run: true` (значение по умолчанию), чтобы перед
        выполнением действия просмотреть, какие monitor будут затронуты.
        Результаты разбиваются на страницы с помощью параметра `limit`;
        повторяйте запрос, пока `has_more` не станет `false`, чтобы обработать
        все соответствующие monitor.
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchMonitorsRequest"
      responses:
        "200":
          description: Результат пакетного действия
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}:
    get:
      operationId: getMonitor
      summary: Получить monitor
      description: Возвращает один monitor по его ID.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
      responses:
        "200":
          description: Monitor
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    patch:
      operationId: updateMonitor
      summary: Обновить monitor
      description: Обновляет существующий monitor. Все поля необязательны. Для
        `search` можно отправить частичный объект, содержащий только поля,
        которые нужно изменить. Установите для `trigger` значение `null`, чтобы
        удалить расписание.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSearchMonitorParameters"
      responses:
        "200":
          description: Обновлённый monitor
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteMonitor
      summary: Удалить monitor
      description: Удаляет monitor. Это действие нельзя отменить.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
      responses:
        "200":
          description: Удалённый monitor
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/trigger:
    post:
      operationId: triggerMonitor
      summary: Запустить monitor
      description: Немедленно запускает выполнение независимо от расписания. Работает
        для monitor со статусом `active` или `paused`.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
      responses:
        "200":
          description: Был ли запущен monitor
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs:
    get:
      operationId: listRuns
      summary: Список выполнений
      description: Возвращает список всех выполнений monitor с пагинацией на основе
        курсора. Выполнения возвращаются в обратном хронологическом порядке.
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
        - in: query
          name: cursor
          schema:
            type: string
            description: Курсор пагинации из предыдущего ответа
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Количество результатов на странице
            default: 50
      responses:
        "200":
          description: Список выполнений с пагинацией
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorRunsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs/{runId}:
    get:
      operationId: getRun
      summary: Получить выполнение
      description: Возвращает одно выполнение по его ID, включая полный вывод, если
        выполнение завершено.
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID monitor
          required: true
          description: ID monitor
        - in: path
          name: runId
          schema:
            type: string
            description: ID выполнения
          required: true
          description: ID выполнения
      responses:
        "200":
          description: Выполнение
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitorRun"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /agent/runs:
    post:
      operationId: createAgentRun
      summary: Создать выполнение
      description: "Создаёт асинхронное выполнение Agent. По умолчанию API сразу
        возвращает объект выполнения. Укажите `Accept: text/event-stream`, чтобы
        получать события жизненного цикла выполнения в потоке до достижения
        конечного статуса."
      tags:
        - Agent
      parameters:
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ExaBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentRunRequest"
            examples:
              simple:
                summary: Простое исследовательское выполнение
                value:
                  query: What are the most important AI infrastructure funding rounds announced
                    this week?
              structuredOutput:
                summary: Структурированный вывод
                value:
                  query: Find recent Series A or Series B AI infrastructure funding rounds.
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - round
                            - amount
                            - sourceUrl
                          properties:
                            name:
                              type: string
                            round:
                              type: string
                            amount:
                              type: string
                            sourceUrl:
                              type: string
                              format: uri
              inputRows:
                summary: Обработать входные строки
                value:
                  query: For each company, find one current executive and cite a source.
                  input:
                    data:
                      - company: Apple
                        domain: apple.com
                      - company: Microsoft
                        domain: microsoft.com
                    exclusion:
                      - company: Apple
                        person: Tim Cook
              contactFields:
                summary: Контактные поля в структурированном выводе
                value:
                  query: Find engineering leaders at AI infrastructure companies that raised a
                    Series A or B in the last 6 months.
                  effort: auto
                  outputSchema:
                    type: object
                    required:
                      - people
                    properties:
                      people:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - linkedin_url
                          properties:
                            name:
                              type: string
                            contact_email:
                              type: string
                              format: email
                            linkedin_url:
                              type: string
                              format: uri
              dataSources:
                summary: Подключить источники данных
                value:
                  query: Find 10 fast-growing B2B SaaS companies and their estimated web traffic.
                  dataSources:
                    - provider: similarweb
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - domain
                            - monthlyVisits
                          properties:
                            name:
                              type: string
                            domain:
                              type: string
                            monthlyVisits:
                              type: number
                              description: от Similarweb
      responses:
        "200":
          description: Выполнение Agent создано
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
              examples:
                running:
                  summary: Выполнение принято
                  value:
                    id: agent_run_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: agent_run
                    status: running
                    stopReason: null
                    createdAt: 2026-05-07T18:31:00.000Z
                    completedAt: null
                    request:
                      query: What are the most important AI infrastructure funding rounds announced
                        this week?
                    output:
                      text: ""
                      structured: null
                      grounding: []
                    usage:
                      agentComputeUnits: 0
                      searches: 0
                      emails: 0
                      phoneNumbers: 0
                    costDollars:
                      total: 0
                      agentCompute: 0
                      search: 0
                      emails: 0
                      phoneNumbers: 0
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                lifecycle:
                  summary: События жизненного цикла выполнения
                  value: |-
                    id: 1
                    event: agent_run.created
                    data: {"id":"agent_run_01j...","status":"queued","createdAt":"2026-05-07T21:21:52.051Z"}

                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Не найден контекст команды или данные аутентификации.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма выполнений Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания выполнения.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    get:
      operationId: listAgentRuns
      summary: Список выполнений
      description: Возвращает список выполнений Agent для вашей команды в порядке от
        новых к старым.
      tags:
        - Agent
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Количество результатов на странице
            default: 20
        - in: query
          name: cursor
          schema:
            description: Курсор для пагинации. Используйте значение `nextCursor` из ответа
              на предыдущий запрос списка выполнений.
            $ref: "#/components/schemas/AgentRunId"
      responses:
        "200":
          description: Выполнения Agent с пагинацией
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunList"
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Не найден контекст команды или данные аутентификации.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания выполнения.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}:
    get:
      operationId: getAgentRun
      summary: Получить выполнение
      description: Получает выполнение Agent по ID.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID выполнения Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID выполнения Agent.
      responses:
        "200":
          description: Выполнение Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Не найден контекст команды или данные аутентификации.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Выполнение не найдено.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма выполнений Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания выполнения.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    delete:
      operationId: deleteAgentRun
      summary: Удалить выполнение
      description: Удаляет сохранённое выполнение Agent.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID выполнения Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID выполнения Agent.
      responses:
        "200":
          description: Выполнение Agent удалено
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAgentRunResponse"
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Не найден контекст команды или данные аутентификации.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Выполнение не найдено.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма выполнений Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания выполнения.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/cancel:
    post:
      operationId: cancelAgentRun
      summary: Отменить выполнение
      description: Немедленно отменяет выполнение Agent, находящееся в очереди или в
        процессе выполнения, без возврата результатов. За использование до
        отмены взимается плата. Если выполнение уже достигло конечного статуса,
        API возвращает существующее выполнение.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID выполнения Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID выполнения Agent.
      responses:
        "200":
          description: Выполнение Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Не найден контекст команды или данные аутентификации.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Выполнение не найдено.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма выполнений Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания выполнения.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/stop:
    post:
      operationId: stopAgentRun
      summary: Остановить выполнение
      description: "Досрочно завершает выполняющееся выполнение Agent и возвращает
        собранные на текущий момент результаты. За использование до остановки
        взимается плата. Сейчас поддерживается только для выполнений с effort
        `max` и требует header `Exa-Beta: agent-max-effort-2026-07-27`. Если
        выполнение уже достигло конечного статуса, API возвращает существующее
        выполнение."
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID выполнения Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID выполнения Agent.
        - $ref: "#/components/parameters/ExaBetaHeader"
      responses:
        "200":
          description: Выполнение Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Не найден контекст команды или данные аутентификации.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Выполнение не найдено.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма выполнений Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания выполнения.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/events:
    get:
      operationId: listAgentRunEvents
      summary: Список событий выполнения
      description: "Возвращает список сохранённых событий выполнения Agent. Укажите
        `Accept: text/event-stream`, чтобы повторно отправить сохранённые
        события как события, отправляемые сервером. Используйте `cursor` для
        пагинации JSON или `Last-Event-ID` для повтора SSE."
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID выполнения Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID выполнения Agent.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Количество результатов на странице
            default: 20
        - in: query
          name: cursor
          schema:
            type: string
            description: Курсор для пагинации. Используйте значение `nextCursor` из ответа
              на предыдущий запрос списка событий.
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/LastEventId"
      responses:
        "200":
          description: События выполнения Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunEventList"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                replay:
                  summary: Повторно отправленные события выполнения
                  value: |
                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Не найден контекст команды или данные аутентификации.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Выполнение не найдено.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма выполнений Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания выполнения.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /batches:
    post:
      operationId: createBatch
      summary: Создать пакет
      description: Создаёт пакет запросов для асинхронного выполнения. Каждый запрос
        отправляется по целевому маршруту, а результаты становятся доступны для
        скачивания после завершения пакета.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - $ref: "#/components/parameters/BatchesBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatchRequest"
            examples:
              searchBatch:
                summary: Пакет запросов поиска и запусков agent
                value:
                  requests:
                    - customId: row-1
                      method: POST
                      url: /search
                      body:
                        query: Latest AI infrastructure funding rounds
                    - customId: row-2
                      method: POST
                      url: /agent/runs
                      body:
                        query: Summarize this week's vector database launches
                  metadata:
                    project: weekly-digest
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: in_progress
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listBatches
      summary: Список пакетов
      description: Возвращает список пакетов для вашей команды в порядке от новых к старым.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
            description: Курсор пагинации из предыдущего ответа
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            description: Максимальное количество пакетов на странице. Если параметр не
              указан, по умолчанию возвращается 100; верхний предел отсутствует.
            default: 100
        - in: query
          name: status
          schema:
            type: string
            const: completed
            description: Фильтрует список, оставляя завершённые пакеты. Поддерживается
              только значение `completed`; при любом другом значении
              возвращается ошибка 400. Списки завершённых пакетов упорядочены по
              сроку действия и используют отдельный курсор, поэтому передавайте
              `status=completed` в каждом запросе с пагинацией по курсору.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                object: list
                data:
                  - id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: batch
                    status: completed
                    requestCounts:
                      total: 2
                      completed: 2
                      failed: 0
                    createdAt: 2026-06-06T12:00:00.000Z
                    expiresAt: 2026-06-13T12:00:00.000Z
                    endedAt: 2026-06-06T12:01:30.000Z
                    resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                    metadata:
                      project: weekly-digest
                hasMore: false
                nextCursor: null
              schema:
                $ref: "#/components/schemas/BatchList"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}:
    get:
      operationId: getBatch
      summary: Получить пакет
      description: Получает пакет по ID.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: ID пакета.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: ID пакета.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: completed
                requestCounts:
                  total: 2
                  completed: 2
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: 2026-06-06T12:01:30.000Z
                resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteBatch
      summary: Удалить пакет
      description: Помечает пакет в конечном статусе как удалённый.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: ID пакета.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: ID пакета.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch.deleted
                deleted: true
              schema:
                $ref: "#/components/schemas/DeletedBatch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}/cancel:
    post:
      operationId: cancelBatch
      summary: Отменить пакет
      description: Запрашивает отмену пакета. Пакет перестаёт планировать новые
        запросы и завершает уже выполняющиеся задачи перед переходом в статус
        `cancelled`. Отмена пакета, уже имеющего статус `cancelling` или
        `cancelled`, идемпотентна и возвращает пакет без изменений. Пакет, уже
        достигший конечного статуса (`completed` или `expired`), нельзя
        отменить, и запрос завершается ошибкой 409.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: ID пакета.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: ID пакета.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: cancelling
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /v0/teams/me:
    get:
      operationId: teams-me-get
      summary: Получить сведения о команде
      description: Возвращает информацию об аутентифицированной команде, включая
        текущее использование параллелизма и лимиты.
      tags:
        - Teams
      responses:
        "200":
          description: Информация о команде успешно получена
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetsTeamInfo"
  /v0/websets:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-create
      summary: Создать Webset
      description: >-
        Создаёт новый Webset с необязательными настройками search, import и
        enrichment. Webset автоматически начнёт обработку после создания.


        Можно указать `externalId`, чтобы обращаться к Webset по собственным
        идентификаторам для упрощения интеграции.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetParameters"
      responses:
        "201":
          description: Webset создан
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "409":
          description: Webset с таким externalId уже существует
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-list
      summary: Список всех Websets
      description: >-
        Возвращает список Websets.


        Для постраничного просмотра результатов используйте параметр `cursor`.


        Для фильтрации результатов используйте параметр `search`, чтобы находить
        Websets по ID, внешнему ID или названию.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Курсор для пагинации результатов
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 100
            type: number
          required: false
          description: Количество возвращаемых Websets
        - in: query
          name: search
          schema:
            minLength: 2
            maxLength: 50
            type: string
          required: false
          description: Поисковый запрос для фильтрации Websets по ID, внешнему ID или
            названию
      responses:
        "200":
          description: Список Websets
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetsResponse"
  /v0/websets/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-get
      summary: Получить Webset
      description: >-
        Возвращает Webset по `id` или `externalId`, включая его статус,
        searches, imports, enrichments и monitors.


        Передайте `expand=items`, чтобы включить в ответ до 100 первых items.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id или externalId Webset.
          required: true
        - in: query
          name: expand
          schema:
            items:
              enum:
                - items
              type: string
            type: array
          required: false
          description: Дополняет ответ указанными ресурсами
      responses:
        "200":
          description: Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWebsetResponse"
        "404":
          description: Webset не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    post:
      operationId: websets-update
      summary: Обновить Webset
      description: Обновляет `title` или `metadata` Webset. Searches, imports и
        enrichments управляются через отдельные эндпоинты.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id или externalId Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebsetRequest"
      responses:
        "200":
          description: Webset обновлён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Webset не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: websets-delete
      summary: Удалить Webset
      description: |-
        Удаляет Webset.

        После удаления Webset и все его Item станут недоступны.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id или externalId Webset
          required: true
      responses:
        "200":
          description: Webset удалён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Webset не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/websets/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-cancel
      summary: Отменить выполняющийся Webset
      description: >-
        Отменяет все операции, выполняемые для Webset.


        Все enrichment и Search будут остановлены, а Webset будет помечен как
        `idle`.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id или externalId Webset
          required: true
      responses:
        "200":
          description: Webset отменён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
  /v0/websets/{webset}/searches:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-create
      summary: Создать Search
      description: >-
        Создаёт новый Search для Webset.


        По умолчанию используются результаты предыдущего Search, которые
        оцениваются по новым criteria.
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetSearchParameters"
      responses:
        "200":
          description: Search для Webset создан
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-searches-get
      summary: Получить Search
      description: Возвращает Search по id
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Search
          required: true
      responses:
        "200":
          description: Search получен
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-cancel
      summary: Отменить выполняющийся Search
      description: >-
        Отменяет выполняемый Search.


        Чтобы отменить все searches сразу, используйте эндпоинт
        `websets/:webset/cancel`.
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Search
          required: true
      responses:
        "200":
          description: Search отменён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/enrichments:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-create
      summary: Создать Enrichment
      description: Создаёт Enrichment для Webset.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnrichmentParameters"
      responses:
        "200":
          description: Enrichment создан
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}:
    servers:
      - url: https://api.exa.ai/websets
    patch:
      operationId: websets-enrichments-update
      summary: Обновить Enrichment
      description: Обновляет настройку Enrichment для Webset.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnrichmentParameters"
      responses:
        "200":
          description: ""
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-enrichments-get
      summary: Получить Enrichment
      description: Возвращает настроенный для Webset Enrichment, включая его статус,
        описание, формат и параметры.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Enrichment
          required: true
      responses:
        "200":
          description: Enrichment
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
    delete:
      operationId: websets-enrichments-delete
      summary: Удалить Enrichment
      description: При удалении Enrichment все выполняемые enrichment будут отменены,
        а все существующие `enrichment_result`, созданные этим Enrichment,
        станут недоступны.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Enrichment
          required: true
      responses:
        "200":
          description: Enrichment удалён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-cancel
      summary: Отменить выполняющийся Enrichment
      description: Все выполняемые enrichment будут отменены. После отмены Enrichment
        его нельзя возобновить.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Enrichment
          required: true
      responses:
        "200":
          description: Enrichment отменён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/items/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-get
      summary: Получить item
      description: Возвращает Item Webset.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Item Webset
          required: true
      responses:
        "200":
          description: Item Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
    delete:
      operationId: websets-items-delete
      summary: Удалить item
      description: |-
        Удаляет Item из Webset.

        Это отменит все выполняемые для него enrichment.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Item Webset
          required: true
      responses:
        "200":
          description: Item Webset удалён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
  /v0/websets/{webset}/items:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-list
      summary: Список всех item для Webset
      description: |-
        Возвращает список Item Webset.

        Для постраничного просмотра Item используйте параметр `cursor`.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Курсор для постраничного просмотра результатов
        - in: query
          name: limit
          schema:
            default: 20
            minimum: 1
            maximum: 100
            type: integer
          required: false
          description: Количество возвращаемых результатов
        - in: query
          name: sourceId
          schema:
            type: string
          required: false
          description: id источника
      responses:
        "200":
          description: Item Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetItemResponse"
  /v0/websets/preview:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-preview
      summary: Предпросмотр webset
      description: >-
        Позволяет предварительно просмотреть, как будет декомпозирован поисковый
        запрос перед созданием webset. Этот эндпоинт выполняет тот же анализ
        запроса, что и при создании webset, позволяя заранее увидеть
        определённый тип сущности, сгенерированные критерии поиска и доступные
        столбцы enrichment.


        Используйте его, чтобы пользователи могли понять, как будет
        интерпретирован их поиск, прежде чем создавать webset.
      tags:
        - Websets Preview
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: search
          schema:
            type: boolean
          required: false
          description: Нужно ли искать Item для предварительного просмотра
      requestBody:
        required: true
        description: Параметры поиска
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewWebsetParameters"
      responses:
        "200":
          description: Предварительный просмотр webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewWebsetResponse"
        "422":
          description: Не удалось определить сущность или criteria из запроса
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/monitors:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: monitors-create
      summary: Создать Monitor
      description: >-
        Создаёт новый `Monitor`, чтобы постоянно поддерживать Websets в
        актуальном состоянии, добавляя свежие данные.


        Monitors автоматически запускаются по заданному расписанию, чтобы ваши
        Websets оставались актуальными без ручного вмешательства:


        - **Поиск нового содержимого**: выполняют операции `search`, чтобы
        находить новые Item, соответствующие вашим criteria

        - **Обновление существующего содержимого**: выполняют операции
        `refresh`, чтобы обновлять содержимое Item и enrichment

        - **Автоматическое планирование**: настройте выражения `cron` и
        `timezone` для точного управления расписанием
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitorParameters"
      responses:
        "201":
          description: Monitor успешно создан
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    get:
      operationId: monitors-list
      summary: Список Monitors
      description: Возвращает список всех monitor для Webset.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Курсор для постраничного просмотра результатов
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Количество возвращаемых результатов
        - in: query
          name: websetId
          schema:
            type: string
          required: false
          description: id Webset, для которого нужно получить список monitor
      responses:
        "200":
          description: Список monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorsResponse"
  /v0/monitors/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-get
      summary: Получить Monitor
      description: Возвращает указанный monitor.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id Monitor
          required: true
      responses:
        "200":
          description: Сведения о Monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    patch:
      operationId: monitors-update
      summary: Обновить Monitor
      description: Обновляет настройку monitor.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id Monitor
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMonitor"
      responses:
        "200":
          description: Monitor успешно обновлён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    delete:
      operationId: monitors-delete
      summary: Удалить Monitor
      description: Удаляет monitor.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id Monitor
          required: true
      responses:
        "200":
          description: Monitor успешно удалён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
  /v0/monitors/{monitor}/runs:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-list
      summary: Список выполнений Monitor
      description: Возвращает список всех выполнений Monitor.
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: id Monitor, для которого нужно получить список выполнений
          required: true
      responses:
        "200":
          description: Список выполнений monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorRunsResponse"
  /v0/monitors/{monitor}/runs/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-get
      summary: Получить выполнение Monitor
      description: Возвращает указанное выполнение monitor.
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: id Monitor, для которого нужно получить выполнение
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Сведения о выполнении monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorRun"
  /v0/imports:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: imports-create
      summary: Создать import
      description: >-
        Создаёт новый import для загрузки ваших данных в Websets. Imports можно
        использовать для:


        - **Enrich**: дополнять данные дополнительной информацией с помощью
        нашего механизма enrichment на базе ИИ

        - **Search**: выполнять запросы к данным с помощью агентного поиска
        Websets с фильтрами на естественном языке

        - **Exclude**: предотвращать появление в searches дубликатов или уже
        известных результатов


        После создания import вы можете загрузить данные по возвращённому
        `uploadUrl` до `uploadValidUntil` (по умолчанию 1 час).
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImportParameters"
      responses:
        "201":
          description: Импорт успешно создан
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateImportResponse"
    get:
      operationId: imports-list
      summary: Список import
      description: Возвращает список всех импортов для Webset.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Курсор для постраничного просмотра результатов
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Количество возвращаемых результатов
      responses:
        "200":
          description: Список импортов
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListImportsResponse"
  /v0/imports/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: imports-get
      summary: Получить import
      description: Возвращает указанный импорт.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор импорта
          required: true
      responses:
        "200":
          description: Сведения об импорте
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    patch:
      operationId: imports-update
      summary: Обновить import
      description: Обновляет настройку импорта.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор импорта
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateImport"
      responses:
        "200":
          description: Импорт успешно обновлён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    delete:
      operationId: imports-delete
      summary: Удалить import
      description: Удаляет импорт.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор импорта
          required: true
      responses:
        "200":
          description: Импорт успешно удалён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
  /v0/webhooks:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: webhooks-create
      summary: Создать вебхук
      description: >-
        Создаёт вебхук, который отправляет выбранные события на ваш URL по мере
        их возникновения.


        Ответ содержит секрет `secret`, используемый для проверки доставок. Он
        возвращается только при создании.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookParameters"
      responses:
        "200":
          description: Вебхук
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
    get:
      operationId: webhooks-list
      summary: Список вебхуков
      description: |-
        Возвращает активные вебхуки вашей команды.

        Для постраничного просмотра результатов используйте параметр `cursor`.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Курсор для постраничного просмотра результатов
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Количество возвращаемых результатов
      responses:
        "200":
          description: Список вебхуков
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
  /v0/webhooks/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-get
      summary: Получить вебхук
      description: Возвращает вебхук по идентификатору, включая его статус, события,
        на которые оформлена подписка, целевой URL и метаданные. Секрет `secret`
        для подписи не возвращается.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор вебхука
          required: true
      responses:
        "200":
          description: Вебхук
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Вебхук не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    patch:
      operationId: webhooks-update
      summary: Обновить вебхук
      description: Обновляет целевой URL, события, на которые оформлена подписка, или
        метаданные вебхука. Неуказанные поля не изменяются.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор вебхука
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookParameters"
      responses:
        "200":
          description: Вебхук
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Вебхук не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: webhooks-delete
      summary: Удалить вебхук
      description: Удаляет вебхук. Его статус меняется на `inactive`, что прекращает
        последующие доставки вебхука на его URL.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор вебхука
          required: true
      responses:
        "200":
          description: Вебхук
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Вебхук не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/webhooks/{id}/attempts:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-attempts-list
      summary: Список попыток доставки вебхука
[...]
