openapi: 3.1.0
info:
  title: Exa Public API
  version: 2.0.0
servers:
  - url: https://api.exa.ai
security:
  - apiKey: []
  - bearer: []
paths:
  /search:
    post:
      operationId: search
      summary: Search
      description: Выполняет поиск по оптимизированному Exa запросу и возвращает
        список релевантных результатов. При необходимости также возвращает
        contents.
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.007"
          max: "0.015"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: b5947044c4b78efa9552a7c89b306d95
                results:
                  - title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    id: https://arxiv.org/abs/2307.06435
                    image: https://arxiv.org/pdf/2307.06435.pdf/page_1.png
                    favicon: https://arxiv.org/favicon.ico
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: В этом обзорном материале о больших языковых моделях (LLM)
                      рассматриваются ключевые разработки...
                resolvedSearchType: neural
                costDollars:
                  total: 0.007
                  search:
                    neural: 0.007
              schema:
                $ref: "#/components/schemas/SearchResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/SearchStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: "Требуется оплата. Для запросов с API-ключом это стандартная
            структура ошибки (закончились кредиты или превышен бюджет). На
            конечных точках с ценами x402 запросы без API-ключа вместо этого
            получают платёжный запрос x402 с тегом `X402_PAYMENT_REQUIRED`:
            структуру, дополненную платёжными метаданными x402 (`x402Version`,
            `resource`, `accepts` и необязательными `extensions`), которые
            описывают способ оплаты запроса."
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /contents:
    post:
      operationId: getContents
      summary: Contents
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.001"
          max: "0.010"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentsRequest"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: e492118ccdedcba5088bfc4357a8a125
                results:
                  - id: https://arxiv.org/abs/2307.06435
                    title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: В этом обзорном материале о больших языковых моделях (LLM)
                      рассматриваются ключевые разработки...
                statuses:
                  - id: https://arxiv.org/abs/2307.06435
                    status: success
                    source: cached
                costDollars:
                  total: 0.003
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: "Требуется оплата. Для запросов с API-ключом это стандартная
            структура ошибки (закончились кредиты или превышен бюджет). На
            конечных точках с ценами x402 запросы без API-ключа вместо этого
            получают платёжный запрос x402 с тегом `X402_PAYMENT_REQUIRED`:
            структуру, дополненную платёжными метаданными x402 (`x402Version`,
            `resource`, `accepts` и необязательными `extensions`), которые
            описывают способ оплаты запроса."
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /answer:
    post:
      operationId: answer
      summary: Ответ
      description: Выполняет поиск по запросу и в зависимости от его типа формирует
        либо прямой ответ, либо подробную сводку с цитатами.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnswerRequest"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
                answer: $350 billion.
                citations:
                  - id: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    url: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    title: SpaceX valued at $350bn as company agrees to buy shares from ...
                    author: Dan Milmo
                    publishedDate: 2024-12-11T00:00:00.000Z
                    text: SpaceX valued at $350bn as company agrees to buy shares from ...
                costDollars:
                  total: 0.005
              schema:
                $ref: "#/components/schemas/AnswerResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AnswerStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /findSimilar:
    post:
      operationId: findSimilar
      summary: Найти похожие ссылки
      description: "Находит ссылки, похожие на указанный URL, и при необходимости
        получает их содержимое. Устарело: используйте `/search` с запросом,
        описывающим источник."
      x-exa-lifecycle: deprecated
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindSimilarRequest"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            Deprecation:
              description: Указывает, что эта операция устарела.
              schema:
                type: string
              example: "true"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindSimilarResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /monitors:
    post:
      operationId: createMonitor
      summary: Создать монитор
      description: >-
        Создаёт новый монитор для регулярного выполнения поисков Exa по
        расписанию.


        Мониторы автоматически выполняют ваш поисковый запрос по расписанию и
        отправляют результаты на конечную точку вебхука с автоматическим
        устранением дубликатов:


        - **Фильтрация по дате** получает контент только с момента последнего
        запуска


        - **Семантическое устранение дубликатов** отслеживает предыдущие
        результаты и показывает только новые изменения


        Ответ включает `webhookSecret`, который возвращается только один раз при
        создании. Надёжно сохраните его для проверки подписи вебхука.
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSearchMonitorParameters"
      responses:
        "201":
          description: Созданный монитор с секретом вебхука
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listMonitors
      summary: Список мониторов
      description: Возвращает список всех мониторов аутентифицированной команды.
        Поддерживает фильтрацию по статусу и пагинацию на основе курсора.
      tags:
        - Monitors
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum:
              - active
              - paused
              - disabled
            description: Фильтровать мониторы по статусу
        - in: query
          name: cursor
          schema:
            type: string
            description: Курсор пагинации из предыдущего ответа
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Количество результатов на странице
            default: 50
        - in: query
          name: name
          schema:
            type: string
            maxLength: 250
            description: Фильтровать мониторы по имени (регистронезависимое совпадение по
              подстроке)
        - in: query
          name: metadata
          schema:
            description: "Фильтровать мониторы по парам «ключ — значение» метаданных (точное
              совпадение, логическое И). Используйте скобочную нотацию:
              `metadata[key]=value`."
            type: object
            propertyNames:
              type: string
            additionalProperties:
              type: string
          style: deepObject
          explode: true
          description: "Фильтровать мониторы по парам «ключ — значение» метаданных (точное
            совпадение, логическое И). Используйте скобочную нотацию:
            `metadata[key]=value`."
      responses:
        "200":
          description: Список мониторов с разбивкой на страницы
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/batch:
    post:
      operationId: batchMonitors
      summary: Пакетное действие с мониторами
      description: >-
        Выполняет пакетное действие с мониторами, соответствующими указанным
        фильтрам.


        Поддерживаемые действия:

        - **delete**: Безвозвратно удаляет соответствующие мониторы

        - **pause**: Приостанавливает соответствующие мониторы

        - **unpause**: Возобновляет соответствующие мониторы


        Используйте `dry_run: true` (значение по умолчанию), чтобы перед
        выполнением действия предварительно просмотреть, какие мониторы будут
        затронуты. Результаты разбиваются на страницы с помощью параметра
        `limit`; выполняйте цикл, пока `has_more` не станет `false`, чтобы
        обработать все соответствующие мониторы.
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchMonitorsRequest"
      responses:
        "200":
          description: Результат пакетного действия
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}:
    get:
      operationId: getMonitor
      summary: Получить монитор
      description: Возвращает один монитор по его ID.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID монитора
          required: true
          description: ID монитора
      responses:
        "200":
          description: Монитор
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    patch:
      operationId: updateMonitor
      summary: Обновить монитор
      description: Обновляет существующий монитор. Все поля необязательны. Для
        `search` можно отправить частичный объект, содержащий только поля,
        которые нужно изменить. Установите для `trigger` значение `null`, чтобы
        удалить расписание.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID монитора
          required: true
          description: ID монитора
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSearchMonitorParameters"
      responses:
        "200":
          description: Обновлённый монитор
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteMonitor
      summary: Удалить монитор
      description: Удаляет монитор. Это действие нельзя отменить.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID монитора
          required: true
          description: ID монитора
      responses:
        "200":
          description: Удалённый монитор
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/trigger:
    post:
      operationId: triggerMonitor
      summary: Запустить монитор
      description: Немедленно запускает выполнение независимо от расписания. Работает
        для мониторов со статусом `active` или `paused`.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID монитора
          required: true
          description: ID монитора
      responses:
        "200":
          description: Был ли монитор запущен
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs:
    get:
      operationId: listRuns
      summary: Список запусков
      description: Возвращает список всех запусков монитора с пагинацией на основе
        курсора. Запуски возвращаются в обратном хронологическом порядке.
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID монитора
          required: true
          description: ID монитора
        - in: query
          name: cursor
          schema:
            type: string
            description: Курсор пагинации из предыдущего ответа
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Количество результатов на странице
            default: 50
      responses:
        "200":
          description: Список запусков с разбивкой на страницы
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorRunsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs/{runId}:
    get:
      operationId: getRun
      summary: Получить запуск
      description: Возвращает один запуск по его ID, включая полный вывод, если запуск
        завершён.
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: ID монитора
          required: true
          description: ID монитора
        - in: path
          name: runId
          schema:
            type: string
            description: ID запуска
          required: true
          description: ID запуска
      responses:
        "200":
          description: Запуск
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitorRun"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /agent/runs:
    post:
      operationId: createAgentRun
      summary: Создать запуск
      description: "Создаёт асинхронный запуск Agent. По умолчанию API немедленно
        возвращает объект запуска. Установите `Accept: text/event-stream`, чтобы
        получать события жизненного цикла запуска в потоке, пока он не достигнет
        конечного статуса."
      tags:
        - Agent
      parameters:
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ExaBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentRunRequest"
            examples:
              simple:
                summary: Простой исследовательский запуск
                value:
                  query: What are the most important AI infrastructure funding rounds announced
                    this week?
              structuredOutput:
                summary: Структурированный вывод
                value:
                  query: Find recent Series A or Series B AI infrastructure funding rounds.
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - round
                            - amount
                            - sourceUrl
                          properties:
                            name:
                              type: string
                            round:
                              type: string
                            amount:
                              type: string
                            sourceUrl:
                              type: string
                              format: uri
              inputRows:
                summary: Обработать входные строки
                value:
                  query: For each company, find one current executive and cite a source.
                  input:
                    data:
                      - company: Apple
                        domain: apple.com
                      - company: Microsoft
                        domain: microsoft.com
                    exclusion:
                      - company: Apple
                        person: Tim Cook
              contactFields:
                summary: Контактные поля в структурированном выводе
                value:
                  query: Find engineering leaders at AI infrastructure companies that raised a
                    Series A or B in the last 6 months.
                  effort: auto
                  outputSchema:
                    type: object
                    required:
                      - people
                    properties:
                      people:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - linkedin_url
                          properties:
                            name:
                              type: string
                            contact_email:
                              type: string
                              format: email
                            linkedin_url:
                              type: string
                              format: uri
              dataSources:
                summary: Подключить источники данных
                value:
                  query: Find 10 fast-growing B2B SaaS companies and their estimated web traffic.
                  dataSources:
                    - provider: similarweb
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - domain
                            - monthlyVisits
                          properties:
                            name:
                              type: string
                            domain:
                              type: string
                            monthlyVisits:
                              type: number
                              description: от Similarweb
      responses:
        "200":
          description: Запуск Agent создан
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
              examples:
                running:
                  summary: Запуск принят
                  value:
                    id: agent_run_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: agent_run
                    status: running
                    stopReason: null
                    createdAt: 2026-05-07T18:31:00.000Z
                    completedAt: null
                    request:
                      query: What are the most important AI infrastructure funding rounds announced
                        this week?
                    output:
                      text: ""
                      structured: null
                      grounding: []
                    usage:
                      agentComputeUnits: 0
                      searches: 0
                      emails: 0
                      phoneNumbers: 0
                    costDollars:
                      total: 0
                      agentCompute: 0
                      search: 0
                      emails: 0
                      phoneNumbers: 0
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                lifecycle:
                  summary: События жизненного цикла запуска
                  value: |-
                    id: 1
                    event: agent_run.created
                    data: {"id":"agent_run_01j...","status":"queued","createdAt":"2026-05-07T21:21:52.051Z"}

                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Контекст команды или аутентификация не найдены.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма запусков Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания запуска.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    get:
      operationId: listAgentRuns
      summary: Список запусков
      description: Возвращает список запусков Agent для вашей команды, отсортированный
        от новых к старым.
      tags:
        - Agent
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Количество результатов на странице
            default: 20
        - in: query
          name: cursor
          schema:
            description: Курсор для пагинации. Используйте значение `nextCursor` из
              предыдущего ответа со списком запусков.
            $ref: "#/components/schemas/AgentRunId"
      responses:
        "200":
          description: Запуски Agent с разбивкой по страницам
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunList"
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Контекст команды или аутентификация не найдены.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания запуска.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}:
    get:
      operationId: getAgentRun
      summary: Получить запуск
      description: Получает запуск Agent по идентификатору.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Идентификатор запуска Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Идентификатор запуска Agent.
      responses:
        "200":
          description: Запуск Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Контекст команды или аутентификация не найдены.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Запуск не найден.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма запусков Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания запуска.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    delete:
      operationId: deleteAgentRun
      summary: Удалить запуск
      description: Удаляет сохранённый запуск Agent.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Идентификатор запуска Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Идентификатор запуска Agent.
      responses:
        "200":
          description: Запуск Agent удалён
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAgentRunResponse"
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Контекст команды или аутентификация не найдены.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Запуск не найден.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма запусков Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания запуска.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/cancel:
    post:
      operationId: cancelAgentRun
      summary: Отменить запуск
      description: Немедленно отменяет ожидающий или выполняемый запуск Agent без
        возврата результатов. Плата взимается за использование до отмены. Если
        запуск уже достиг конечного статуса, API возвращает существующий запуск.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Идентификатор запуска Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Идентификатор запуска Agent.
      responses:
        "200":
          description: Запуск Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Контекст команды или аутентификация не найдены.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Запуск не найден.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма запусков Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания запуска.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/stop:
    post:
      operationId: stopAgentRun
      summary: Остановить запуск
      description: "Досрочно завершает выполняемый запуск Agent, возвращая собранные к
        этому моменту результаты. Плата взимается за использование до остановки.
        В настоящее время поддерживается только для запусков с параметром effort
        `max` и требует заголовка `Exa-Beta: agent-max-effort-2026-07-27`. Если
        запуск уже достиг конечного статуса, API возвращает существующий
        запуск."
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Идентификатор запуска Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Идентификатор запуска Agent.
        - $ref: "#/components/parameters/ExaBetaHeader"
      responses:
        "200":
          description: Запуск Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Контекст команды или аутентификация не найдены.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Запуск не найден.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма запусков Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания запуска.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/events:
    get:
      operationId: listAgentRunEvents
      summary: Список событий запуска
      description: "Возвращает список сохранённых событий запуска Agent. Установите
        `Accept: text/event-stream`, чтобы воспроизвести сохранённые события в
        формате SSE. Используйте `cursor` для пагинации JSON или `Last-Event-ID`
        для воспроизведения SSE."
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Идентификатор запуска Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Идентификатор запуска Agent.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Количество результатов на странице
            default: 20
        - in: query
          name: cursor
          schema:
            type: string
            description: Курсор для пагинации. Используйте значение `nextCursor` из
              предыдущего ответа со списком событий.
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/LastEventId"
      responses:
        "200":
          description: События запуска Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunEventList"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                replay:
                  summary: Повторно воспроизведённые события запуска
                  value: |
                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: Недопустимый запрос.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Контекст команды или аутентификация не найдены.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Запуск не найден.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Достигнут лимит параллелизма запусков Agent.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Ошибка сервера или превышено время ожидания запуска.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /batches:
    post:
      operationId: createBatch
      summary: Создать пакет
      description: Создаёт пакет запросов для асинхронного выполнения. Каждый запрос
        отправляется на целевой маршрут, а результаты становятся доступны для
        скачивания после завершения пакета.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - $ref: "#/components/parameters/BatchesBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatchRequest"
            examples:
              searchBatch:
                summary: Пакет запросов поиска и запусков Agent
                value:
                  requests:
                    - customId: row-1
                      method: POST
                      url: /search
                      body:
                        query: Latest AI infrastructure funding rounds
                    - customId: row-2
                      method: POST
                      url: /agent/runs
                      body:
                        query: Summarize this week's vector database launches
                  metadata:
                    project: weekly-digest
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: in_progress
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listBatches
      summary: Список пакетов
      description: Возвращает список пакетов для вашей команды, отсортированный от
        новых к старым.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
            description: Курсор пагинации из предыдущего ответа
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            description: Максимальное количество пакетов на странице. Если параметр не
              указан, по умолчанию возвращается 100; верхний предел отсутствует.
            default: 100
        - in: query
          name: status
          schema:
            type: string
            const: completed
            description: Фильтрует список, оставляя завершённые пакеты. `completed` —
              единственное поддерживаемое значение; любое другое значение
              приводит к ошибке 400. Списки завершённых пакетов сортируются по
              сроку действия и используют отдельный курсор, поэтому передавайте
              `status=completed` в каждом запросе с пагинацией по курсору.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                object: list
                data:
                  - id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: batch
                    status: completed
                    requestCounts:
                      total: 2
                      completed: 2
                      failed: 0
                    createdAt: 2026-06-06T12:00:00.000Z
                    expiresAt: 2026-06-13T12:00:00.000Z
                    endedAt: 2026-06-06T12:01:30.000Z
                    resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                    metadata:
                      project: weekly-digest
                hasMore: false
                nextCursor: null
              schema:
                $ref: "#/components/schemas/BatchList"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}:
    get:
      operationId: getBatch
      summary: Получить пакет
      description: Получает пакет по идентификатору.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: Идентификатор пакета.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: Идентификатор пакета.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: completed
                requestCounts:
                  total: 2
                  completed: 2
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: 2026-06-06T12:01:30.000Z
                resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteBatch
      summary: Удалить пакет
      description: Выполняет обратимое удаление пакета с конечным статусом.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: Идентификатор пакета.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: Идентификатор пакета.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch.deleted
                deleted: true
              schema:
                $ref: "#/components/schemas/DeletedBatch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}/cancel:
    post:
      operationId: cancelBatch
      summary: Отменить пакет
      description: Запрашивает отмену пакета. Пакет прекращает планирование новых
        запросов и завершает выполняющиеся задачи перед переходом в состояние
        `cancelled`. Отмена пакета, уже находящегося в состоянии `cancelling`
        или `cancelled`, идемпотентна и возвращает пакет без изменений. Пакет,
        уже достигший конечного статуса (`completed` или `expired`), нельзя
        отменить; запрос завершается ошибкой 409.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: Идентификатор пакета.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: Идентификатор пакета.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: ОК
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: cancelling
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /v0/teams/me:
    get:
      operationId: teams-me-get
      summary: Получить информацию о команде
      description: Возвращает информацию об аутентифицированной команде, включая
        текущее использование параллелизма и лимиты.
      tags:
        - Teams
      responses:
        "200":
          description: Информация о команде успешно получена
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetsTeamInfo"
  /v0/websets:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-create
      summary: Создать Webset
      description: >-
        Создаёт новый Webset с необязательными настройками поиска, импорта и
        обогащения. После создания Webset автоматически начнёт обработку.


        Можно указать `externalId`, чтобы ссылаться на Webset по собственным
        идентификаторам, что упрощает интеграцию.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetParameters"
      responses:
        "201":
          description: Webset создан
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "409":
          description: Webset с таким externalId уже существует
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-list
      summary: Список всех Websets
      description: >-
        Возвращает список Websets.


        Для постраничного просмотра результатов используйте параметр `cursor`.


        Для фильтрации результатов используйте параметр `search`, чтобы находить
        Websets по идентификатору, внешнему идентификатору или названию.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Курсор для постраничного просмотра результатов
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 100
            type: number
          required: false
          description: Количество Websets для возврата
        - in: query
          name: search
          schema:
            minLength: 2
            maxLength: 50
            type: string
          required: false
          description: Поисковый запрос для фильтрации Websets по идентификатору, внешнему
            идентификатору или названию
      responses:
        "200":
          description: Список Websets
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetsResponse"
  /v0/websets/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-get
      summary: Получить Webset
      description: >-
        Возвращает Webset по `id` или `externalId`, включая его статус, поиски,
        импорты, обогащения и мониторы.


        Передайте `expand=items`, чтобы включить в ответ до первых 100
        элементов.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Значение id или externalId Webset.
          required: true
        - in: query
          name: expand
          schema:
            items:
              enum:
                - items
              type: string
            type: array
          required: false
          description: Расширить ответ указанными ресурсами
      responses:
        "200":
          description: Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWebsetResponse"
        "404":
          description: Webset не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    post:
      operationId: websets-update
      summary: Обновить Webset
      description: Обновляет `title` или `metadata` Webset. Поиски, импорты и
        обогащения управляются через собственные конечные точки.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id или externalId Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebsetRequest"
      responses:
        "200":
          description: Webset обновлён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Webset не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: websets-delete
      summary: Удалить Webset
      description: |-
        Удаляет Webset.

        После удаления Webset и все его элементы станут недоступны.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id или externalId Webset
          required: true
      responses:
        "200":
          description: Webset удалён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Webset не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/websets/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-cancel
      summary: Отменить выполняемый Webset
      description: >-
        Отменяет все операции, выполняемые в Webset.


        Все процессы обогащения и поиска будут остановлены, а Webset будет
        помечен как `idle`.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id или externalId Webset
          required: true
      responses:
        "200":
          description: Webset отменён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
  /v0/websets/{webset}/searches:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-create
      summary: Создать Search
      description: >-
        Создаёт новый Search для Webset.


        По умолчанию используются результаты предыдущего Search, которые
        оцениваются по новым критериям.
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetSearchParameters"
      responses:
        "200":
          description: Search для Webset создан
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-searches-get
      summary: Получить Search
      description: Получает Search по id
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Search
          required: true
      responses:
        "200":
          description: Search получен
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-cancel
      summary: Отменить выполняемый Search
      description: >-
        Отменяет выполняющийся Search.


        Все поиски можно отменить сразу с помощью эндпоинта
        `websets/:webset/cancel`.
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Search
          required: true
      responses:
        "200":
          description: Search отменён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/enrichments:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-create
      summary: Создать Enrichment
      description: Создаёт Enrichment для Webset.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnrichmentParameters"
      responses:
        "200":
          description: Enrichment создан
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}:
    servers:
      - url: https://api.exa.ai/websets
    patch:
      operationId: websets-enrichments-update
      summary: Обновить Enrichment
      description: Обновляет настройки Enrichment для Webset.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnrichmentParameters"
      responses:
        "200":
          description: ""
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-enrichments-get
      summary: Получить Enrichment
      description: Возвращает Enrichment, настроенный для Webset, включая его статус,
        описание, формат и параметры.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Enrichment
          required: true
      responses:
        "200":
          description: Enrichment
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
    delete:
      operationId: websets-enrichments-delete
      summary: Удалить Enrichment
      description: При удалении Enrichment все выполняющиеся процессы обогащения будут
        отменены, а все существующие `enrichment_result`, созданные этим
        Enrichment, станут недоступны.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Enrichment
          required: true
      responses:
        "200":
          description: Enrichment удалён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-cancel
      summary: Отменить выполняемый Enrichment
      description: Все выполняющиеся процессы обогащения будут отменены. После отмены
        Enrichment его нельзя возобновить.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id Enrichment
          required: true
      responses:
        "200":
          description: Enrichment отменён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/items/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-get
      summary: Получить элемент
      description: Возвращает элемент Webset.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id элемента Webset
          required: true
      responses:
        "200":
          description: Элемент Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
    delete:
      operationId: websets-items-delete
      summary: Удалить элемент
      description: |-
        Удаляет элемент из Webset.

        Это отменит все процессы его обогащения.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: id элемента Webset
          required: true
      responses:
        "200":
          description: Элемент Webset удалён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
  /v0/websets/{webset}/items:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-list
      summary: Список всех элементов Webset
      description: |-
        Возвращает список элементов Webset.

        Для постраничного просмотра элементов используйте параметр `cursor`.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: id или externalId Webset
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Курсор для постраничного просмотра результатов
        - in: query
          name: limit
          schema:
            default: 20
            minimum: 1
            maximum: 100
            type: integer
          required: false
          description: Количество возвращаемых результатов
        - in: query
          name: sourceId
          schema:
            type: string
          required: false
          description: id источника
      responses:
        "200":
          description: Элементы Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetItemResponse"
  /v0/websets/preview:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-preview
      summary: Предпросмотр Webset
      description: >-
        Предварительно просмотрите, как будет разложен поисковый запрос перед
        созданием Webset. Этот эндпоинт выполняет тот же анализ запроса, что и
        при создании Webset, позволяя заранее увидеть определённый тип сущности,
        сгенерированные критерии поиска и доступные столбцы обогащения.


        Используйте его, чтобы пользователи могли понять, как будет
        интерпретирован их запрос, прежде чем создавать полноценный Webset.
      tags:
        - Websets Preview
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: search
          schema:
            type: boolean
          required: false
          description: Нужно ли выполнять поиск для предварительного списка элементов
      requestBody:
        required: true
        description: Параметры поиска
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewWebsetParameters"
      responses:
        "200":
          description: Предварительный просмотр Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewWebsetResponse"
        "422":
          description: Не удалось определить сущность или критерии из запроса
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/monitors:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: monitors-create
      summary: Создать монитор
      description: >-
        Создаёт новый `Monitor`, чтобы Websets постоянно содержали актуальные
        данные.


        Мониторы автоматически запускаются по заданному расписанию, чтобы
        Websets оставались актуальными без ручного вмешательства:


        - **Поиск нового контента**: выполняют операции `search` для обнаружения
        новых элементов, соответствующих вашим критериям

        - **Обновление существующего контента**: выполняют операции `refresh`
        для обновления содержимого элементов и результатов обогащения

        - **Автоматическое планирование**: настройте выражения `cron` и
        `timezone` для точного управления расписанием
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitorParameters"
      responses:
        "201":
          description: Monitor успешно создан
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    get:
      operationId: monitors-list
      summary: Список мониторов
      description: Возвращает список всех мониторов для Webset.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Курсор для постраничного просмотра результатов
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Количество возвращаемых результатов
        - in: query
          name: websetId
          schema:
            type: string
          required: false
          description: id Webset, для которого нужно получить список мониторов
      responses:
        "200":
          description: Список мониторов
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorsResponse"
  /v0/monitors/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-get
      summary: Получить монитор
      description: Получает указанный монитор.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id Monitor
          required: true
      responses:
        "200":
          description: Сведения о мониторе
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    patch:
      operationId: monitors-update
      summary: Обновить монитор
      description: Обновляет настройки монитора.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id Monitor
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMonitor"
      responses:
        "200":
          description: Monitor успешно обновлён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    delete:
      operationId: monitors-delete
      summary: Удалить монитор
      description: Удаляет монитор.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: id Monitor
          required: true
      responses:
        "200":
          description: Monitor успешно удалён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
  /v0/monitors/{monitor}/runs:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-list
      summary: Список запусков монитора
      description: Возвращает список всех запусков Monitor.
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: id Monitor, для которого нужно получить список запусков
          required: true
      responses:
        "200":
          description: Список запусков монитора
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorRunsResponse"
  /v0/monitors/{monitor}/runs/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-get
      summary: Получить запуск монитора
      description: Получает указанный запуск монитора.
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: id Monitor, для которого нужно получить запуск
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Сведения о запуске монитора
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorRun"
  /v0/imports:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: imports-create
      summary: Создать импорт
      description: >-
        Создаёт новый import для загрузки данных в Websets. Imports можно
        использовать для следующего:


        - **Обогащение**: дополнение данных информацией с помощью нашего
        механизма обогащения на базе ИИ

        - **Поиск**: запросы к данным с помощью агентного поиска Websets с
        фильтрами на естественном языке

        - **Исключение**: предотвращение появления в поиске дубликатов или уже
        известных результатов


        После создания import вы можете загружать данные по возвращённому
        `uploadUrl` до `uploadValidUntil` (по умолчанию — 1 час).
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImportParameters"
      responses:
        "201":
          description: Импорт успешно создан
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateImportResponse"
    get:
      operationId: imports-list
      summary: Список импортов
      description: Возвращает список всех импортов для Webset.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Курсор для разбиения результатов на страницы
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Количество возвращаемых результатов
      responses:
        "200":
          description: Список импортов
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListImportsResponse"
  /v0/imports/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: imports-get
      summary: Получить импорт
      description: Возвращает конкретный импорт.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор импорта
          required: true
      responses:
        "200":
          description: Сведения об импорте
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    patch:
      operationId: imports-update
      summary: Обновить импорт
      description: Обновляет настройку импорта.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор импорта
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateImport"
      responses:
        "200":
          description: Импорт успешно обновлён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    delete:
      operationId: imports-delete
      summary: Удалить импорт
      description: Удаляет импорт.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор импорта
          required: true
      responses:
        "200":
          description: Импорт успешно удалён
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
  /v0/webhooks:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: webhooks-create
      summary: Создать вебхук
      description: >-
        Создаёт вебхук, который отправляет выбранные события на ваш URL по мере
        их возникновения.


        Ответ содержит `secret` для подписи, используемый для проверки доставок;
        он возвращается только при создании.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookParameters"
      responses:
        "200":
          description: Вебхук
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
    get:
      operationId: webhooks-list
      summary: Список вебхуков
      description: |-
        Возвращает активные вебхуки вашей команды.

        Вы можете разбить результаты на страницы с помощью параметра `cursor`.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Курсор для разбиения результатов на страницы
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Количество возвращаемых результатов
      responses:
        "200":
          description: Список вебхуков
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
  /v0/webhooks/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-get
      summary: Получить вебхук
      description: Возвращает вебхук по идентификатору, включая его статус, события,
        на которые оформлена подписка, целевой URL и метаданные. `secret` для
        подписи не возвращается.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор вебхука
          required: true
      responses:
        "200":
          description: Вебхук
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Вебхук не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    patch:
      operationId: webhooks-update
      summary: Обновить вебхук
      description: Обновляет целевой URL, события, на которые оформлена подписка, или
        метаданные вебхука. Неуказанные поля остаются без изменений.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор вебхука
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookParameters"
      responses:
        "200":
          description: Вебхук
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Вебхук не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: webhooks-delete
      summary: Удалить вебхук
      description: Удаляет вебхук. Его статус становится `inactive`, что прекращает
        последующие доставки на его URL.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: Идентификатор вебхука
          required: true
      responses:
        "200":
          description: Вебхук
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Вебхук не найден
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Уникальный идентификатор запроса.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/webhooks/{id}/attempts:
    servers:
[...]
