openapi: 3.1.0
info:
  version: 1.0.0
  title: Team Management API
  description: API для управления ключами API в командах. Предоставляет
    CRUD-операции для создания, просмотра, обновления и удаления ключей API с
    контролем доступа на уровне команд. API включается отдельно для каждой
    команды. Чтобы запросить доступ, обратитесь по адресу support@exa.ai.
servers:
  - url: https://admin-api.exa.ai/team-management
security:
  - apikey: []
paths:
  /api-keys:
    post:
      operationId: create-api-key
      summary: Создать ключ API
      description: Создаёт новый ключ API для аутентифицированной команды. При
        необходимости укажите имя, лимит запросов и бюджет ключа API.
      x-codeSamples:
        - lang: bash
          label: Create API key with name and rate limit
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Production API Key",
                "rateLimit": 1000
              }'
        - lang: python
          label: Create API key with name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Production API Key',
                'rateLimit': 1000
            }

            response = requests.post(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Create API key with name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'POST',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Production API Key',
                rateLimit: 1000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Create API key without optional parameters
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Необязательное имя ключа API
                  example: Production API Key
                rateLimit:
                  type: integer
                  description: Необязательный лимит запросов для ключа API (запросов в секунду)
                  example: 1000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: Необязательный бюджет расходов для ключа API в центах. Укажите
                    null, чтобы удалить бюджет.
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: Ключ API успешно создан
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Уникальный идентификатор ключа API
                      name:
                        type: string
                        description: Имя ключа API
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Лимит запросов в секунду
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Бюджет расходов для ключа API в центах
                      isOverBudget:
                        type: boolean
                        description: Превышен ли в настоящее время бюджет ключа API
                      teamId:
                        type: string
                        format: uuid
                        description: Идентификатор команды, которой принадлежит этот ключ
                      userId:
                        type: string
                        format: uuid
                        description: Идентификатор пользователя, создавшего этот ключ
                      createdAt:
                        type: string
                        format: date-time
                        description: Время создания ключа
        "400":
          description: Некорректный запрос — недопустимые параметры
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - No user found for team
                      - Rate limit cannot exceed team's limit of 500 QPS
                      - "Unexpected parameters: invalidParam. Allowed: name,
                        rateLimit, budgetCents."
        "401":
          description: Ошибка авторизации — недопустимый или отсутствующий служебный ключ
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
      tags:
        - Team Management
      security:
        - apikey: []
    get:
      operationId: list-api-keys
      summary: Получить список ключей API
      description: Возвращает все ключи API, принадлежащие аутентифицированной
        команде. Включает идентификатор, имя и лимит запросов для каждого ключа.
      parameters:
        - name: api_key_id
          in: query
          required: false
          schema:
            type: string
          description: Необязательный идентификатор ключа API для получения конкретного
            ключа.
      x-codeSamples:
        - lang: bash
          label: List all API keys
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: List all API keys
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: List all API keys
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'GET',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: Список ключей API успешно получен
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      apiKeys:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            rateLimit:
                              type:
                                - integer
                                - "null"
                              description: Лимит запросов в секунду
                            budgetCents:
                              type:
                                - integer
                                - "null"
                              description: Бюджет расходов для ключа API в центах
                            isOverBudget:
                              type: boolean
                              description: Превышен ли в настоящее время бюджет ключа API
                  - type: object
                    properties:
                      apiKey:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          rateLimit:
                            type:
                              - integer
                              - "null"
                            description: Лимит запросов в секунду
                          budgetCents:
                            type:
                              - integer
                              - "null"
                            description: Бюджет расходов для ключа API в центах
                          isOverBudget:
                            type: boolean
                            description: Превышен ли в настоящее время бюджет ключа API
                          teamId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
        "400":
          description: Некорректный запрос — недопустимый формат идентификатора ключа API
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: Ошибка авторизации — недопустимый или отсутствующий служебный ключ
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: Доступ запрещён — недостаточно прав для доступа к этому ключу API
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Insufficient permissions to access this API key
        "404":
          description: Не найдено — ключ API или команда не найдены
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - API key not found
                      - Team not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}:
    get:
      operationId: get-api-key
      summary: Получить ключ API
      description: Получает сведения о конкретном ключе API по его идентификатору.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Уникальный идентификатор ключа API.
      x-codeSamples:
        - lang: bash
          label: Get a specific API key
          source: >
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY'
      responses:
        "200":
          description: Ключ API успешно получен
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Лимит запросов в секунду
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Бюджет расходов для ключа API в центах
                      isOverBudget:
                        type: boolean
                        description: Превышен ли в настоящее время бюджет ключа API
                      teamId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
        "400":
          description: Некорректный запрос — недопустимый формат идентификатора ключа API
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: Ошибка авторизации — недопустимый или отсутствующий служебный ключ
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: Не найдено — ключ API не существует
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    put:
      operationId: update-api-key
      summary: Обновить ключ API
      description: Обновляет имя и/или лимит запросов существующего ключа API.
        Обновлять можно только ключи API, принадлежащие аутентифицированной
        команде.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Уникальный идентификатор обновляемого ключа API.
      x-codeSamples:
        - lang: bash
          label: Update API key name and rate limit
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Updated Production Key",
                "rateLimit": 2000
              }'
        - lang: python
          label: Update API key name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Updated Production Key',
                'rateLimit': 2000
            }

            response = requests.put(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Update API key name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'PUT',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Updated Production Key',
                rateLimit: 2000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Update only the name
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "New Name Only"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Необязательное новое имя ключа API
                  example: Updated Production Key
                rateLimit:
                  type: integer
                  description: Необязательный новый лимит запросов для ключа API (запросов в
                    секунду)
                  example: 2000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: Необязательный новый бюджет расходов для ключа API в центах.
                    Укажите null, чтобы удалить бюджет.
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: Ключ API успешно обновлён
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Лимит запросов в секунду
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Бюджет расходов для ключа API в центах
                      isOverBudget:
                        type: boolean
                        description: Превышен ли в настоящее время бюджет ключа API
                      teamId:
                        type: string
                        format: uuid
                      userId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
        "400":
          description: Некорректный запрос — недопустимые параметры
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: Ошибка авторизации — недопустимый или отсутствующий служебный ключ
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: Доступ запрещён — ключ API принадлежит другой команде
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: Не найдено — ключ API не существует
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    delete:
      operationId: delete-api-key
      summary: Удалить ключ API
      description: Удаляет ключ API. Удалять можно только ключи API, принадлежащие
        аутентифицированной команде.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Уникальный идентификатор удаляемого ключа API.
      x-codeSamples:
        - lang: bash
          label: Delete an API key
          source: >
            curl -X DELETE
            'https://admin-api.exa.ai/team-management/api-keys/{id}' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Delete an API key
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            response = requests.delete(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: Delete an API key
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'DELETE',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: Ключ API успешно удалён
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Некорректный запрос — недопустимые параметры
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: Ошибка авторизации — недопустимый или отсутствующий служебный ключ
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: Доступ запрещён — ключ API принадлежит другой команде
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: Не найдено — ключ API не существует
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}/usage:
    get:
      operationId: get-api-key-usage
      summary: Получить данные об использовании ключа API
      description: Получает аналитику использования и данные биллинга для конкретного
        ключа API за указанный период. Возвращает разбивку затрат по типам
        тарифов из биллинговой системы.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Уникальный идентификатор ключа API.
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Дата начала периода использования (формат ISO 8601). По умолчанию —
            30 дней назад. Должна находиться в пределах последних 6 месяцев (180
            дней).
          example: 2025-01-01T00:00:00Z
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Дата окончания периода использования (формат ISO 8601). По
            умолчанию — текущее время.
          example: 2025-01-31T23:59:59Z
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - hour
              - day
              - month
          description: Временная детализация для группировки результатов. В настоящее
            время зарезервирована для будущих улучшений и не изменяет структуру
            ответа. По умолчанию — 'day'.
          example: day
      x-codeSamples:
        - lang: bash
          label: Get usage for the last 30 days (default)
          source: >
            curl -X GET
            'https://admin-api.exa.ai/team-management/api-keys/{id}/usage' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: bash
          label: Get usage for a specific date range
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}/usage?start_date=2025-01-01&end_date=2025-01-31' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Get usage for a specific date range
          source: |
            import requests
            from datetime import datetime, timedelta

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            params = {
                'start_date': '2025-01-01T00:00:00Z',
                'end_date': '2025-01-31T23:59:59Z'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys/{id}/usage',
                headers=headers,
                params=params
            )

            print(response.json())
        - lang: javascript
          label: Get usage for a specific date range
          source: >
            const params = new URLSearchParams({
              start_date: '2025-01-01T00:00:00Z',
              end_date: '2025-01-31T23:59:59Z'
            });


            const response = await fetch(
              `https://admin-api.exa.ai/team-management/api-keys/{id}/usage?${params}`,
              {
                method: 'GET',
                headers: {
                  'x-api-key': 'YOUR-SERVICE-KEY'
                }
              }
            );


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: Данные об использовании успешно получены
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Уникальный идентификатор ключа API.
                  api_key_id:
                    type: string
                    format: uuid
                    description: Идентификатор ключа API.
                  api_key_name:
                    type:
                      - string
                      - "null"
                    description: Имя ключа API
                  team_id:
                    type: string
                    format: uuid
                    description: Идентификатор команды, которой принадлежит этот ключ
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                        description: Начало периода использования
                      end:
                        type: string
                        format: date-time
                        description: Окончание периода использования
                  total_cost_usd:
                    type: number
                    description: Общая стоимость за период в USD
                    example: 45.67
                  cost_breakdown:
                    type: array
                    description: Разбивка затрат по типам тарифов
                    items:
                      type: object
                      properties:
                        price_id:
                          type: string
                          description: Уникальный идентификатор тарифа
                        price_name:
                          type: string
                          description: Название тарифа (например, "Нейронный поиск", "Получение контента")
                        quantity:
                          type: number
                          description: Общее потреблённое количество
                        amount_usd:
                          type: number
                          description: Стоимость в USD для этого типа тарифа
                  metadata:
                    type: object
                    properties:
                      generated_at:
                        type: string
                        format: date-time
                        description: Время формирования отчёта
              example:
                id: key_abc123def456
                api_key_id: 550e8400-e29b-41d4-a716-446655440000
                api_key_name: Production API Key
                team_id: 660e8400-e29b-41d4-a716-446655440000
                period:
                  start: 2025-01-01T00:00:00Z
                  end: 2025-01-31T23:59:59Z
                total_cost_usd: 45.67
                cost_breakdown:
                  - price_id: price_neural_search
                    price_name: Neural Search
                    quantity: 1000
                    amount_usd: 30
                  - price_id: price_content_retrieval
                    price_name: Content Retrieval
                    quantity: 500
                    amount_usd: 15.67
                metadata:
                  generated_at: 2025-02-01T10:30:00Z
        "400":
          description: Некорректный запрос — недопустимые параметры
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid API key ID format.
                      - Invalid date format. Use ISO 8601 format (YYYY-MM-DD or
                        YYYY-MM-DDTHH:mm:ss)
                      - start_date must be before end_date
                      - Date range too far in the past. start_date must be
                        within the last 6 months.
                      - "Invalid group_by parameter. Must be one of: hour, day,
                        month"
        "401":
          description: Ошибка авторизации — недопустимый или отсутствующий служебный ключ
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: Не найдено — ключ API не существует
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
        "500":
          description: Внутренняя ошибка сервера — не удалось получить данные об
            использовании
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to fetch usage data. Please try again later.
      tags:
        - Team Management
      security:
        - apikey: []
components:
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: x-api-key
      description: Служебный ключ API для аутентификации команды
