openapi: 3.1.0
info:
  title: Exa Public API
  version: 2.0.0
servers:
  - url: https://api.exa.ai
security:
  - apiKey: []
  - bearer: []
paths:
  /search:
    post:
      operationId: search
      summary: Search
      description: Exa向けにプロンプトエンジニアリングを施したクエリで検索し、関連する結果の一覧を取得します。必要に応じてコンテンツも取得できます。
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.007"
          max: "0.015"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: b5947044c4b78efa9552a7c89b306d95
                results:
                  - title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    id: https://arxiv.org/abs/2307.06435
                    image: https://arxiv.org/pdf/2307.06435.pdf/page_1.png
                    favicon: https://arxiv.org/favicon.ico
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: 大規模言語モデル（LLM）の概説論文で、主な進展を取り上げています...
                resolvedSearchType: neural
                costDollars:
                  total: 0.007
                  search:
                    neural: 0.007
              schema:
                $ref: "#/components/schemas/SearchResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/SearchStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: 支払いが必要です。APIキーを使用したリクエストには、標準のエラー形式が返されます（クレジット不足または予算超過）。x402の料金が設定されたエンドポイントでは、APIキーを使用しないリクエストに対し、代わりにタグ`X402_PAYMENT_REQUIRED`付きのx402支払いチャレンジが返されます。これは、リクエストの支払い方法を示すx402支払いメタデータ（`x402Version`、`resource`、`accepts`、任意の`extensions`）を標準のエラー形式に追加したものです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /contents:
    post:
      operationId: getContents
      summary: Contents
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.001"
          max: "0.010"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentsRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: e492118ccdedcba5088bfc4357a8a125
                results:
                  - id: https://arxiv.org/abs/2307.06435
                    title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: 大規模言語モデル（LLM）の概説論文で、主な進展を取り上げています...
                statuses:
                  - id: https://arxiv.org/abs/2307.06435
                    status: success
                    source: cached
                costDollars:
                  total: 0.003
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: 支払いが必要です。APIキーを使用したリクエストには、標準のエラー形式が返されます（クレジット不足または予算超過）。x402の料金が設定されたエンドポイントでは、APIキーを使用しないリクエストに対し、代わりにタグ`X402_PAYMENT_REQUIRED`付きのx402支払いチャレンジが返されます。これは、リクエストの支払い方法を示すx402支払いメタデータ（`x402Version`、`resource`、`accepts`、任意の`extensions`）を標準のエラー形式に追加したものです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /answer:
    post:
      operationId: answer
      summary: Answer
      description: クエリに基づいて検索し、クエリの種類に応じて、直接的な回答または引用付きの詳細な要約を生成します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnswerRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
                answer: $350 billion.
                citations:
                  - id: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    url: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    title: SpaceX valued at $350bn as company agrees to buy shares from ...
                    author: Dan Milmo
                    publishedDate: 2024-12-11T00:00:00.000Z
                    text: SpaceX valued at $350bn as company agrees to buy shares from ...
                costDollars:
                  total: 0.005
              schema:
                $ref: "#/components/schemas/AnswerResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AnswerStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /findSimilar:
    post:
      operationId: findSimilar
      summary: 類似リンクを検索
      description: "指定されたURLに類似するリンクを検索し、必要に応じてそのコンテンツを取得します。非推奨:
        対象の情報源を説明するクエリを指定して`/search`を使用してください。"
      x-exa-lifecycle: deprecated
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindSimilarRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            Deprecation:
              description: この操作が非推奨であることを示します。
              schema:
                type: string
              example: "true"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindSimilarResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /monitors:
    post:
      operationId: createMonitor
      summary: モニターを作成
      description: |-
        スケジュールに従ってExaでの検索を繰り返し実行するモニターを作成します。

        モニターは検索クエリを定期的に自動実行し、重複を自動的に除外して結果をWebhookエンドポイントに送信します。

        - **日付に基づく絞り込み**では、前回の実行以降のコンテンツのみを取得します

        - **意味に基づく重複排除**では、過去の出力を追跡し、新しい動向のみを提示します

        レスポンスには、作成時に一度だけ返される`webhookSecret`が含まれます。Webhookの署名検証に使用するため、安全に保管してください。
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSearchMonitorParameters"
      responses:
        "201":
          description: 作成されたモニターとWebhookシークレット
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listMonitors
      summary: モニターの一覧を取得
      description: 認証されたチームのすべてのモニターを一覧表示します。ステータスによる絞り込みとカーソルベースのページネーションに対応しています。
      tags:
        - Monitors
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum:
              - active
              - paused
              - disabled
            description: ステータスでモニターを絞り込む
        - in: query
          name: cursor
          schema:
            type: string
            description: 前のレスポンスから取得したページネーション用カーソル
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: ページあたりの結果数
            default: 50
        - in: query
          name: name
          schema:
            type: string
            maxLength: 250
            description: 名前でモニターを絞り込む（大文字と小文字を区別しない部分一致）
        - in: query
          name: metadata
          schema:
            description: メタデータのキーと値の組でモニターを絞り込む（完全一致、AND条件）。角括弧を使って`metadata[key]=value`と指定します。
            type: object
            propertyNames:
              type: string
            additionalProperties:
              type: string
          style: deepObject
          explode: true
          description: メタデータのキーと値の組でモニターを絞り込む（完全一致、AND条件）。角括弧を使って`metadata[key]=value`と指定します。
      responses:
        "200":
          description: ページ分割されたモニターの一覧
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/batch:
    post:
      operationId: batchMonitors
      summary: モニターを一括操作
      description: |-
        指定したフィルターに一致するモニターを一括操作します。

        対応する操作:
        - **delete**: 一致するモニターを完全に削除
        - **pause**: 一致するモニターを一時停止
        - **unpause**: 一致するモニターの一時停止を解除

        操作を実行する前に、`dry_run: true`（デフォルト）で対象となるモニターを確認できます。結果は`limit`パラメータに従ってページ分割されます。`has_more`が`false`になるまで繰り返し、一致するすべてのモニターを処理してください。
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchMonitorsRequest"
      responses:
        "200":
          description: 一括操作の結果
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}:
    get:
      operationId: getMonitor
      summary: モニターを取得
      description: IDを指定してモニターを1件取得します。
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: モニターID
          required: true
          description: モニターID
      responses:
        "200":
          description: モニター
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    patch:
      operationId: updateMonitor
      summary: モニターを更新
      description: 既存のモニターを更新します。すべてのフィールドは任意です。`search`には、変更したいフィールドだけを含むオブジェクトを送信できます。スケジュールを削除するには、`trigger`を`null`に設定します。
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: モニターID
          required: true
          description: モニターID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSearchMonitorParameters"
      responses:
        "200":
          description: 更新されたモニター
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteMonitor
      summary: モニターを削除
      description: モニターを削除します。この操作は元に戻せません。
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: モニターID
          required: true
          description: モニターID
      responses:
        "200":
          description: 削除されたモニター
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/trigger:
    post:
      operationId: triggerMonitor
      summary: モニターを手動実行
      description: スケジュールに関係なく、モニターの実行を直ちに開始します。ステータスが`active`または`paused`のモニターで使用できます。
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: モニターID
          required: true
          description: モニターID
      responses:
        "200":
          description: モニターが手動実行されたかどうか
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs:
    get:
      operationId: listRuns
      summary: 実行の一覧を取得
      description: モニターのすべての実行を、カーソルベースのページネーションで一覧表示します。実行は新しい順に返されます。
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: モニターID
          required: true
          description: モニターID
        - in: query
          name: cursor
          schema:
            type: string
            description: 前のレスポンスから取得したページネーション用カーソル
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: ページあたりの結果数
            default: 50
      responses:
        "200":
          description: ページ分割された実行の一覧
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorRunsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs/{runId}:
    get:
      operationId: getRun
      summary: 実行を取得
      description: IDを指定して実行を1件取得します。実行が完了している場合は、出力全体も取得します。
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: モニターID
          required: true
          description: モニターID
        - in: path
          name: runId
          schema:
            type: string
            description: 実行ID
          required: true
          description: 実行ID
      responses:
        "200":
          description: 実行
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitorRun"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /agent/runs:
    post:
      operationId: createAgentRun
      summary: 実行を作成
      description: "非同期のAgent実行を作成します。デフォルトでは、APIは実行オブジェクトをすぐに返します。`Accept:
        text/event-stream`を設定すると、実行が終了状態に達するまでライフサイクルイベントをストリーミングします。"
      tags:
        - Agent
      parameters:
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ExaBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentRunRequest"
            examples:
              simple:
                summary: シンプルな調査の実行
                value:
                  query: What are the most important AI infrastructure funding rounds announced
                    this week?
              structuredOutput:
                summary: 構造化出力
                value:
                  query: Find recent Series A or Series B AI infrastructure funding rounds.
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - round
                            - amount
                            - sourceUrl
                          properties:
                            name:
                              type: string
                            round:
                              type: string
                            amount:
                              type: string
                            sourceUrl:
                              type: string
                              format: uri
              inputRows:
                summary: 入力行を処理
                value:
                  query: For each company, find one current executive and cite a source.
                  input:
                    data:
                      - company: Apple
                        domain: apple.com
                      - company: Microsoft
                        domain: microsoft.com
                    exclusion:
                      - company: Apple
                        person: Tim Cook
              contactFields:
                summary: 構造化出力の連絡先フィールド
                value:
                  query: Find engineering leaders at AI infrastructure companies that raised a
                    Series A or B in the last 6 months.
                  effort: auto
                  outputSchema:
                    type: object
                    required:
                      - people
                    properties:
                      people:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - linkedin_url
                          properties:
                            name:
                              type: string
                            contact_email:
                              type: string
                              format: email
                            linkedin_url:
                              type: string
                              format: uri
              dataSources:
                summary: データソースを接続
                value:
                  query: Find 10 fast-growing B2B SaaS companies and their estimated web traffic.
                  dataSources:
                    - provider: similarweb
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - domain
                            - monthlyVisits
                          properties:
                            name:
                              type: string
                            domain:
                              type: string
                            monthlyVisits:
                              type: number
                              description: Similarwebから
      responses:
        "200":
          description: Agent実行を作成しました
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
              examples:
                running:
                  summary: 実行を受け付けました
                  value:
                    id: agent_run_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: agent_run
                    status: running
                    stopReason: null
                    createdAt: 2026-05-07T18:31:00.000Z
                    completedAt: null
                    request:
                      query: What are the most important AI infrastructure funding rounds announced
                        this week?
                    output:
                      text: ""
                      structured: null
                      grounding: []
                    usage:
                      agentComputeUnits: 0
                      searches: 0
                      emails: 0
                      phoneNumbers: 0
                    costDollars:
                      total: 0
                      agentCompute: 0
                      search: 0
                      emails: 0
                      phoneNumbers: 0
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                lifecycle:
                  summary: 実行のライフサイクルイベント
                  value: |-
                    id: 1
                    event: agent_run.created
                    data: {"id":"agent_run_01j...","status":"queued","createdAt":"2026-05-07T21:21:52.051Z"}

                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: 無効なリクエストです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: チームのコンテキストまたは認証情報が見つかりませんでした。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent実行の同時実行数が上限に達しました。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: サーバーエラーまたは実行のタイムアウトです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    get:
      operationId: listAgentRuns
      summary: 実行の一覧を取得
      description: チームのAgent実行を新しい順に一覧表示します。
      tags:
        - Agent
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: 1ページあたりの結果数
            default: 20
        - in: query
          name: cursor
          schema:
            description: ページネーション用のカーソル。前回の実行一覧のレスポンスに含まれる`nextCursor`の値を使用します。
            $ref: "#/components/schemas/AgentRunId"
      responses:
        "200":
          description: ページネーションされたAgent実行の一覧
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunList"
        "400":
          description: 無効なリクエストです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: チームのコンテキストまたは認証情報が見つかりませんでした。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: サーバーエラーまたは実行のタイムアウトです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}:
    get:
      operationId: getAgentRun
      summary: 実行を取得
      description: IDを指定してAgent実行を1件取得します。
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent実行のID。
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent実行のID。
      responses:
        "200":
          description: Agent実行
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: 無効なリクエストです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: チームのコンテキストまたは認証情報が見つかりませんでした。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 実行が見つかりません。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent実行の同時実行数が上限に達しました。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: サーバーエラーまたは実行のタイムアウトです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    delete:
      operationId: deleteAgentRun
      summary: 実行を削除
      description: 保存済みのAgent実行を削除します。
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent実行のID。
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent実行のID。
      responses:
        "200":
          description: Agent実行を削除しました
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAgentRunResponse"
        "400":
          description: 無効なリクエストです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: チームのコンテキストまたは認証情報が見つかりませんでした。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 実行が見つかりません。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent実行の同時実行数が上限に達しました。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: サーバーエラーまたは実行のタイムアウトです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/cancel:
    post:
      operationId: cancelAgentRun
      summary: 実行をキャンセル
      description: 待機中または実行中のAgent実行を、結果を返さずに直ちにキャンセルします。キャンセルまでに発生した利用量は請求対象となります。実行がすでに終了状態に達している場合、APIは既存の実行を返します。
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent実行のID。
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent実行のID。
      responses:
        "200":
          description: Agent実行
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: 無効なリクエストです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: チームのコンテキストまたは認証情報が見つかりませんでした。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 実行が見つかりません。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent実行の同時実行数が上限に達しました。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: サーバーエラーまたは実行のタイムアウトです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/stop:
    post:
      operationId: stopAgentRun
      summary: 実行を停止
      description: "実行中のAgent実行を予定より早く完了し、それまでに収集した結果を返します。停止までに発生した利用量は請求対象となります。現在は\
        effortが`max`の実行でのみサポートされ、`Exa-Beta:
        agent-max-effort-2026-07-27`ヘッダーが必要です。実行がすでに終了状態に達している場合、APIは既存の実行を返します\
        。"
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent実行のID。
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent実行のID。
        - $ref: "#/components/parameters/ExaBetaHeader"
      responses:
        "200":
          description: Agent実行
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: 無効なリクエストです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: チームのコンテキストまたは認証情報が見つかりませんでした。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 実行が見つかりません。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent実行の同時実行数が上限に達しました。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: サーバーエラーまたは実行のタイムアウトです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/events:
    get:
      operationId: listAgentRunEvents
      summary: 実行イベントの一覧を取得
      description: "Agent実行の保存済みイベントを一覧表示します。`Accept:
        text/event-stream`を設定すると、保存済みイベントをServer-Sent
        Eventsとして再送します。JSONのページネーションには`cursor`、SSEでの再送には`Last-Event-ID`を使用します。"
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: Agent実行のID。
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: Agent実行のID。
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: 1ページあたりの結果数
            default: 20
        - in: query
          name: cursor
          schema:
            type: string
            description: ページネーション用のカーソル。前回のイベント一覧のレスポンスに含まれる`nextCursor`の値を使用します。
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/LastEventId"
      responses:
        "200":
          description: Agent実行のイベント
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunEventList"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                replay:
                  summary: 再送された実行イベント
                  value: |
                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: 無効なリクエストです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: チームのコンテキストまたは認証情報が見つかりませんでした。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: 実行が見つかりません。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Agent実行の同時実行数が上限に達しました。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: サーバーエラーまたは実行のタイムアウトです。
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /batches:
    post:
      operationId: createBatch
      summary: バッチを作成
      description: 非同期で処理するリクエストのバッチを作成します。各リクエストは対象のルートに送信され、バッチの完了後に結果をダウンロードできるようになります。
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - $ref: "#/components/parameters/BatchesBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatchRequest"
            examples:
              searchBatch:
                summary: 検索リクエストとAgent実行リクエストのバッチ
                value:
                  requests:
                    - customId: row-1
                      method: POST
                      url: /search
                      body:
                        query: Latest AI infrastructure funding rounds
                    - customId: row-2
                      method: POST
                      url: /agent/runs
                      body:
                        query: Summarize this week's vector database launches
                  metadata:
                    project: weekly-digest
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: in_progress
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listBatches
      summary: バッチの一覧を取得
      description: チームのバッチを新しい順に一覧表示します。
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
            description: 前回のレスポンスに含まれるページネーション用カーソル
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            description: 1ページあたりに返すバッチの最大数。省略した場合はデフォルトで100となり、上限はありません。
            default: 100
        - in: query
          name: status
          schema:
            type: string
            const: completed
            description: 一覧を完了済みのバッチに絞り込みます。指定できる値は`completed`のみで、ほかの値を指定すると400が返されます。完了済みのバッチは有効期限順に並び、専用のカーソルを使用します。そのため、カーソルを使ってページを取得する際は、毎回`status=completed`を指定してください。
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                object: list
                data:
                  - id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: batch
                    status: completed
                    requestCounts:
                      total: 2
                      completed: 2
                      failed: 0
                    createdAt: 2026-06-06T12:00:00.000Z
                    expiresAt: 2026-06-13T12:00:00.000Z
                    endedAt: 2026-06-06T12:01:30.000Z
                    resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                    metadata:
                      project: weekly-digest
                hasMore: false
                nextCursor: null
              schema:
                $ref: "#/components/schemas/BatchList"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}:
    get:
      operationId: getBatch
      summary: バッチを取得
      description: IDを指定してバッチを1件取得します。
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: バッチID。
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: バッチID。
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: completed
                requestCounts:
                  total: 2
                  completed: 2
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: 2026-06-06T12:01:30.000Z
                resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteBatch
      summary: バッチを削除
      description: 終了状態のバッチを論理削除します。
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: バッチID。
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: バッチID。
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch.deleted
                deleted: true
              schema:
                $ref: "#/components/schemas/DeletedBatch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}/cancel:
    post:
      operationId: cancelBatch
      summary: バッチをキャンセル
      description: バッチのキャンセルをリクエストします。バッチは新たなリクエストのスケジュールを停止し、処理中のリクエストが終了してから`cancelled`状態になります。すでに`cancelling`または`cancelled`のバッチに対するキャンセル操作は冪等で、バッチは変更されずに返されます。すでに終了状態（`completed`または`expired`）に達したバッチはキャンセルできず、リクエストは409で失敗します。
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: バッチID。
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: バッチID。
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: cancelling
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /v0/teams/me:
    get:
      operationId: teams-me-get
      summary: チーム情報を取得
      description: 認証済みチームの情報を返します。現在の同時実行枠の使用量と上限も含まれます。
      tags:
        - Teams
      responses:
        "200":
          description: チーム情報を取得しました
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetsTeamInfo"
  /v0/websets:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-create
      summary: Websetを作成
      description: |-
        検索、インポート、エンリッチメントの設定を任意で指定して、新しいWebsetを作成します。作成後、Websetは自動的に処理を開始します。

        `externalId`を指定すると、独自の識別子でWebsetを参照でき、連携が容易になります。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetParameters"
      responses:
        "201":
          description: Websetを作成しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "409":
          description: このexternalIdを持つWebsetはすでに存在します
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-list
      summary: すべてのWebsetの一覧を取得
      description: |-
        Websetの一覧を返します。

        `cursor`パラメータを使用して結果をページ送りできます。

        `search`パラメータを使用すると、ID、外部ID、またはタイトルでWebsetを絞り込めます。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 結果のページネーションに使用するカーソル
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 100
            type: number
          required: false
          description: 返すWebsetの数
        - in: query
          name: search
          schema:
            minLength: 2
            maxLength: 50
            type: string
          required: false
          description: ID、外部ID、またはタイトルでWebsetを絞り込むための検索語
      responses:
        "200":
          description: Websetの一覧
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetsResponse"
  /v0/websets/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-get
      summary: Websetを取得
      description: |-
        `id`または`externalId`を指定してWebsetを取得します。レスポンスには状態、検索、インポート、エンリッチメント、モニターも含まれます。

        `expand=items`を指定すると、先頭から最大100件のアイテムがレスポンスに含まれます。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: WebsetのidまたはexternalId。
          required: true
        - in: query
          name: expand
          schema:
            items:
              enum:
                - items
              type: string
            type: array
          required: false
          description: 指定したリソースをレスポンスに含める
      responses:
        "200":
          description: Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWebsetResponse"
        "404":
          description: Websetが見つかりません
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    post:
      operationId: websets-update
      summary: Websetを更新
      description: Websetの`title`または`metadata`を更新します。検索、インポート、エンリッチメントはそれぞれ専用のエンドポイントで管理します。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: WebsetのidまたはexternalId
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebsetRequest"
      responses:
        "200":
          description: Websetを更新しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Websetが見つかりません
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: websets-delete
      summary: Websetを削除
      description: |-
        Websetを削除します。

        削除すると、そのWebsetとすべてのItemは利用できなくなります。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: WebsetのidまたはexternalId
          required: true
      responses:
        "200":
          description: Websetを削除しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Websetが見つかりません
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/websets/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-cancel
      summary: 実行中のWebsetをキャンセル
      description: |-
        Websetで実行中のすべての操作をキャンセルします。

        実行中のエンリッチメントと検索は停止し、Websetの状態は`idle`になります。
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: WebsetのidまたはexternalId
          required: true
      responses:
        "200":
          description: Websetをキャンセルしました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
  /v0/websets/{webset}/searches:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-create
      summary: Searchを作成
      description: |-
        Websetに新しいSearchを作成します。

        デフォルトでは、前回のSearch結果を再利用し、新しい条件に基づいて評価します。
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Websetのid
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetSearchParameters"
      responses:
        "200":
          description: WebsetのSearchを作成しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-searches-get
      summary: Searchを取得
      description: idを指定してSearchを取得します
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Websetのid
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Searchのid
          required: true
      responses:
        "200":
          description: Searchを取得しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-cancel
      summary: 実行中のSearchをキャンセル
      description: |-
        実行中のSearchをキャンセルします。

        `websets/:webset/cancel`エンドポイントを使用すると、すべての検索を一度にキャンセルできます。
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: Websetのid
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: Searchのid
          required: true
      responses:
        "200":
          description: Searchをキャンセルしました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/enrichments:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-create
      summary: エンリッチメントを作成
      description: Websetにエンリッチメントを作成します。
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: WebsetのidまたはexternalId
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnrichmentParameters"
      responses:
        "200":
          description: エンリッチメントを作成しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}:
    servers:
      - url: https://api.exa.ai/websets
    patch:
      operationId: websets-enrichments-update
      summary: エンリッチメントを更新
      description: Websetのエンリッチメント設定を更新します。
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnrichmentParameters"
      responses:
        "200":
          description: ""
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-enrichments-get
      summary: エンリッチメントを取得
      description: Websetに設定されたエンリッチメントを返します。状態、説明、形式、選択肢も含まれます。
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: WebsetのidまたはexternalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: エンリッチメントのid
          required: true
      responses:
        "200":
          description: エンリッチメント
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
    delete:
      operationId: websets-enrichments-delete
      summary: エンリッチメントを削除
      description: エンリッチメントを削除すると、実行中のエンリッチメントはすべてキャンセルされ、そのエンリッチメントが生成した既存の`enrichment_result`は利用できなくなります。
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: WebsetのidまたはexternalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: エンリッチメントのid
          required: true
      responses:
        "200":
          description: エンリッチメントを削除しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-cancel
      summary: 実行中のエンリッチメントをキャンセル
      description: 実行中のエンリッチメントはすべてキャンセルされます。キャンセルしたエンリッチメントは再開できません。
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: WebsetのidまたはexternalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: エンリッチメントのid
          required: true
      responses:
        "200":
          description: エンリッチメントをキャンセルしました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/items/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-get
      summary: Itemを取得
      description: WebsetのItemを返します。
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: WebsetのidまたはexternalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: WebsetのItemのid
          required: true
      responses:
        "200":
          description: WebsetのItem
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
    delete:
      operationId: websets-items-delete
      summary: Itemを削除
      description: |-
        WebsetからItemを削除します。

        そのItemに対するエンリッチメント処理もキャンセルされます。
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: WebsetのidまたはexternalId
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: WebsetのItemのid
          required: true
      responses:
        "200":
          description: WebsetのItemを削除しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
  /v0/websets/{webset}/items:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-list
      summary: Webset内のすべてのItemの一覧を取得
      description: |-
        WebsetのItemの一覧を返します。

        `cursor`パラメータを使用すると、Itemをページ単位で取得できます。
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: WebsetのidまたはexternalId
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 結果をページ単位で取得するためのカーソル
        - in: query
          name: limit
          schema:
            default: 20
            minimum: 1
            maximum: 100
            type: integer
          required: false
          description: 返す結果の件数
        - in: query
          name: sourceId
          schema:
            type: string
          required: false
          description: ソースのid
      responses:
        "200":
          description: WebsetのItem
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetItemResponse"
  /v0/websets/preview:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-preview
      summary: Websetをプレビュー
      description: |-
        websetを作成する前に、検索クエリがどのように分解されるかをプレビューします。このエンドポイントでは、websetの作成時と同じクエリ分析を行い、検出されたエンティティの種類、生成された検索条件、利用可能なエンリッチメント用の列を事前に確認できます。

        websetを実際に作成する前に、検索がどのように解釈されるかをユーザーに示すために使用します。
      tags:
        - Websets Preview
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: search
          schema:
            type: boolean
          required: false
          description: Itemのプレビュー一覧を検索するかどうか
      requestBody:
        required: true
        description: 検索パラメータ
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewWebsetParameters"
      responses:
        "200":
          description: websetのプレビュー
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewWebsetResponse"
        "422":
          description: クエリからエンティティまたは条件を検出できません
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/monitors:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: monitors-create
      summary: モニターを作成
      description: |-
        Websetsのデータを継続的に最新の状態に保つため、新しい`Monitor`を作成します。

        モニターは指定したスケジュールに従って自動的に実行されるため、手動で操作しなくてもWebsetsを最新の状態に保てます。

        - **新しいコンテンツの検出**: `search`操作を実行し、条件に一致する新しいItemを見つけます
        - **既存のコンテンツの更新**: `refresh`操作を実行し、Itemの内容とエンリッチメントを更新します
        - **実行スケジュールの自動化**: `cron`式と`timezone`を設定し、実行時刻を正確に制御します
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitorParameters"
      responses:
        "201":
          description: モニターを作成しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    get:
      operationId: monitors-list
      summary: モニターの一覧を取得
      description: Websetのすべてのモニターを一覧表示します。
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 結果をページ単位で取得するためのカーソル
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 返す結果の件数
        - in: query
          name: websetId
          schema:
            type: string
          required: false
          description: モニターを一覧表示するWebsetのid
      responses:
        "200":
          description: モニターの一覧
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorsResponse"
  /v0/monitors/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-get
      summary: モニターを取得
      description: 指定したモニターを取得します。
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: モニターのid
          required: true
      responses:
        "200":
          description: モニターの詳細
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    patch:
      operationId: monitors-update
      summary: モニターを更新
      description: モニターの設定を更新します。
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: モニターのid
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMonitor"
      responses:
        "200":
          description: モニターを更新しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    delete:
      operationId: monitors-delete
      summary: モニターを削除
      description: モニターを削除します。
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: モニターのid
          required: true
      responses:
        "200":
          description: モニターを削除しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
  /v0/monitors/{monitor}/runs:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-list
      summary: モニター実行の一覧を取得
      description: モニターのすべての実行を一覧表示します。
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: 実行を一覧表示するモニターのid
          required: true
      responses:
        "200":
          description: モニターの実行一覧
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorRunsResponse"
  /v0/monitors/{monitor}/runs/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-get
      summary: モニター実行を取得
      description: 指定したモニターの実行を取得します。
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: 実行を取得するモニターのid
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: モニターの実行の詳細
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorRun"
  /v0/imports:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: imports-create
      summary: インポートを作成
      description: |-
        データをWebsetsにアップロードするため、新しいインポートを作成します。インポートには次の用途があります。

        - **補完**: AIを活用したエンリッチメントエンジンで、データに追加情報を付加します
        - **検索**: Websetsのエージェント型検索と自然言語フィルターを使って、データを検索します
        - **除外**: 重複した結果や既知の結果が検索結果に表示されないようにします

        インポートの作成後は、返された`uploadUrl`に`uploadValidUntil`まで（デフォルトでは1時間）データをアップロードできます。
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImportParameters"
      responses:
        "201":
          description: インポートを作成しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateImportResponse"
    get:
      operationId: imports-list
      summary: インポートの一覧を取得
      description: Websetのすべてのインポートを一覧表示します。
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 結果をページ単位で取得するためのカーソル
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 返す結果の件数
      responses:
        "200":
          description: インポートの一覧
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListImportsResponse"
  /v0/imports/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: imports-get
      summary: インポートを取得
      description: 指定したインポートを取得します。
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: インポートのID
          required: true
      responses:
        "200":
          description: インポートの詳細
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    patch:
      operationId: imports-update
      summary: インポートを更新
      description: インポートの設定を更新します。
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: インポートのID
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateImport"
      responses:
        "200":
          description: インポートを更新しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    delete:
      operationId: imports-delete
      summary: インポートを削除
      description: インポートを削除します。
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: インポートのID
          required: true
      responses:
        "200":
          description: インポートを削除しました
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
  /v0/webhooks:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: webhooks-create
      summary: Webhookを作成
      description: |-
        選択したイベントが発生するたびに、指定したURLへ通知を配信するWebhookを作成します。

        レスポンスには、配信の検証に使用する署名用の`secret`が含まれます。これは作成時にのみ返されます。
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookParameters"
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
    get:
      operationId: webhooks-list
      summary: Webhookの一覧を取得
      description: |-
        チームの有効なWebhookを返します。

        `cursor`パラメータを使用して、結果をページ単位で取得できます。
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 結果をページ単位で取得するためのカーソル
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 返す結果の件数
      responses:
        "200":
          description: Webhookの一覧
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
  /v0/webhooks/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-get
      summary: Webhookを取得
      description: IDを指定してWebhookを取得します。ステータス、サブスクライブしているイベント、送信先URL、メタデータが含まれます。署名用の`secret`は返されません。
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: WebhookのID
          required: true
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Webhookが見つかりません
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    patch:
      operationId: webhooks-update
      summary: Webhookを更新
      description: Webhookの送信先URL、サブスクライブしているイベント、またはメタデータを更新します。省略したフィールドは変更されません。
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: WebhookのID
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookParameters"
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Webhookが見つかりません
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: webhooks-delete
      summary: Webhookを削除
      description: Webhookを削除します。ステータスが`inactive`になり、そのURLへの今後のWebhook配信は停止します。
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: WebhookのID
          required: true
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Webhookが見つかりません
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/webhooks/{id}/attempts:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-attempts-list
      summary: Webhookの配信試行の一覧を取得
      description: Webhookによるすべての配信試行を降順で一覧表示します。
      tags:
        - Webhooks Attempts
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: WebhookのID
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 結果をページ単位で取得するためのカーソル
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 返す結果の件数
        - in: query
          name: eventType
          schema:
            enum:
              - webset.created
              - webset.deleted
              - webset.paused
              - webset.idle
              - webset.search.created
              - webset.search.canceled
              - webset.search.completed
              - webset.search.updated
              - import.created
              - import.completed
              - webset.item.created
              - webset.item.enriched
              - monitor.created
              - monitor.updated
              - monitor.deleted
              - monitor.run.created
              - monitor.run.completed
              - webset.export.created
              - webset.export.completed
            type: string
          required: false
          description: 絞り込みに使用するイベントの種類
        - in: query
          name: successful
          schema:
            type: boolean
          required: false
          description: 成功したかどうかで配信試行を絞り込む
      responses:
        "200":
          description: Webhookの配信試行の一覧
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhookAttemptsResponse"
  /v0/events:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: events-list
      summary: すべてのイベントの一覧を取得
      description: |-
        システムで発生したすべてのイベントを一覧表示します。

        `cursor`パラメータを使用して、結果をページ単位で取得できます。
      tags:
        - Events
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: 結果をページ単位で取得するためのカーソル
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: 返す結果の件数
        - in: query
          name: types
          schema:
            items:
              enum:
                - webset.created
                - webset.deleted
                - webset.paused
                - webset.idle
                - webset.search.created
                - webset.search.canceled
                - webset.search.completed
                - webset.search.updated
                - import.created
                - import.completed
                - webset.item.created
                - webset.item.enriched
                - monitor.created
                - monitor.updated
                - monitor.deleted
                - monitor.run.created
                - monitor.run.completed
                - webset.export.created
                - webset.export.completed
              type: string
            type: array
          required: false
          description: 絞り込みに使用するイベントの種類
        - in: query
          name: createdBefore
          schema:
            format: date-time
            type: string
          required: false
          description: この時刻以前（指定時刻を含む）に作成されたイベントに絞り込みます。有効なISO
            8601形式の日時文字列を指定してください。時刻はすべてUTCです。
        - in: query
          name: createdAfter
          schema:
            format: date-time
            type: string
          required: false
          description: この時刻以降（指定時刻を含む）に作成されたイベントに絞り込みます。有効なISO
            8601形式の日時文字列を指定してください。時刻はすべてUTCです。
      responses:
        "200":
          description: イベントの一覧
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEventsResponse"
  /v0/events/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: events-get
      summary: イベントを取得
      description: |-
        IDを指定してイベントを1件取得します。

        Webhookを作成すると、イベントをサブスクライブできます。
      tags:
        - Events
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: イベントのID
          required: true
      responses:
        "200":
          description: ""
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Event"
        "404":
          description: イベントが見つかりません
          headers:
            X-Request-Id:
              schema:
                type: string
              description: リクエストの一意の識別子。
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
components:
  schemas:
    SearchRequest:
      type: object
      properties:
        includeDomains:
          anyOf:
            - maxItems: 1200
              type: array
              items:
                type: string
              description: "検索対象に含めるドメインまたはドメイン内のパスの一覧。各項目には、ホスト名（例:
                `example.com`）、パスのプレフィックスを含むホスト名（例:
                `example.com/docs`）、またはワイルドカードを使用したサブドメイン（例:
                `*.example.com`）を指定できます。指定すると、一致するドメインまたはパスからの結果のみが返されます。ドメインやパ\
                スで絞り込む場合は、クエリに`site:`演算子を追加する代わりに、このパラメータを使用してください。"
              example:
                - arxiv.org
                - exa.ai/blog
            - type: "null"
        excludeDomains:
          anyOf:
            - maxItems: 1200
              type: array
              items:
                type: string
              description: "検索結果から除外するドメインまたはドメイン内のパスの一覧。各項目には、ホスト名（例:
                `example.com`）、パスのプレフィックスを含むホスト名（例:
                `example.com/docs`）、またはワイルドカードを使用したサブドメイン（例:
                `*.example.com`）を指定できます。指定すると、一致するドメインまたはパスからの結果は返されません。ドメインやパス\
                で絞り込む場合は、クエリに`site:`演算子を追加する代わりに、このパラメータを使用してください。"
              example:
                - docs.python.org/3
            - type: "null"
        startCrawlDate:
          anyOf:
            - type: string
              description: 非推奨で、効果はありません。APIでは無視されます。ISO 8601形式で指定する必要があります。
              example: 2023-01-01T00:00:00.000Z
              format: date-time
              deprecated: true
            - type: "null"
        endCrawlDate:
          anyOf:
            - type: string
              description: 非推奨で、効果はありません。APIでは無視されます。ISO 8601形式で指定する必要があります。
              example: 2023-12-31T00:00:00.000Z
              format: date-time
              deprecated: true
            - type: "null"
        startPublishedDate:
          anyOf:
            - type: string
              description: 指定日時より後に公開されたリンクのみを返します。ISO 8601形式で指定する必要があります。
              example: 2023-01-01T00:00:00.000Z
              format: date-time
            - type: "null"
        endPublishedDate:
          anyOf:
            - type: string
              description: 指定日時より前に公開されたリンクのみを返します。ISO 8601形式で指定する必要があります。
              example: 2023-12-31T00:00:00.000Z
              format: date-time
            - type: "null"
        numResults:
          anyOf:
            - type: integer
              minimum: 1
              maximum: 100
              description: 返す結果の件数。上限は検索タイプによって異なります。公開されている上限は最大100件です。上限の引き上げについては、営業担当（hello@exa.ai）にお問い合わせください。
              example: 10
              default: 10
            - type: "null"
        context:
          anyOf:
            - description: "非推奨: 代わりにハイライトまたはテキストを使用してください。ページの内容を結合したコンテキスト文字列として返します。"
              deprecated: true
              oneOf:
                - type: boolean
                  description: "非推奨: 代わりにハイライトまたはテキストを使用してください。ページの内容を結合したコンテキスト文字列として返します。"
                  example: true
                  deprecated: true
                - type: object
                  properties:
                    maxCharacters:
                      type: integer
                      minimum: 1
                      maximum: 10000
                      description: 非推奨。コンテキスト文字列の最大文字数。指定できる最大値は10000です。
                      example: 10000
                  description: "非推奨: 代わりにハイライトまたはテキストを使用してください。ページの内容を結合したコンテキスト文字列として返します。"
                  deprecated: true
            - type: "null"
        moderation:
          anyOf:
            - type: boolean
              description: コンテンツモデレーションを有効にして、安全でないコンテンツを検索結果から除外します。
              example: true
              default: false
            - type: "null"
        contents:
          anyOf:
            - description: テキスト、ハイライト、要約、追加情報、鮮度を制御するためのコンテンツオプション。
              $ref: "#/components/schemas/ContentsOptions"
            - type: "null"
[...]
