openapi: 3.1.0
info:
  version: 1.0.0
  title: Team Management API
  description: チーム内のAPIキーを管理するためのAPIです。チーム単位のアクセス制御のもとで、APIキーの作成、一覧取得、更新、削除を行えます。このAPIはチームごとに有効化されます。利用を希望する場合はsupport@exa.aiにお問い合わせください。
servers:
  - url: https://admin-api.exa.ai/team-management
security:
  - apikey: []
paths:
  /api-keys:
    post:
      operationId: create-api-key
      summary: APIキーを作成
      description: 認証済みのチームに新しいAPIキーを作成します。APIキーの名前、レート制限、利用予算は任意で指定できます。
      x-codeSamples:
        - lang: bash
          label: Create API key with name and rate limit
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Production API Key",
                "rateLimit": 1000
              }'
        - lang: python
          label: Create API key with name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Production API Key',
                'rateLimit': 1000
            }

            response = requests.post(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Create API key with name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'POST',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Production API Key',
                rateLimit: 1000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Create API key without optional parameters
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: APIキーの名前（任意）
                  example: Production API Key
                rateLimit:
                  type: integer
                  description: APIキーのレート制限（1秒あたりのリクエスト数、任意）
                  example: 1000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: APIキーの利用予算（セント単位、任意）。予算を解除するにはnullを指定します。
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: APIキーが正常に作成されました
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: APIキーの一意の識別子
                      name:
                        type: string
                        description: APIキーの名前
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: レート制限（1秒あたりのリクエスト数）
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: APIキーの利用予算（セント単位）
                      isOverBudget:
                        type: boolean
                        description: APIキーが現在、予算を超過しているかどうか
                      teamId:
                        type: string
                        format: uuid
                        description: このキーが属するチームのID
                      userId:
                        type: string
                        format: uuid
                        description: このキーを作成したユーザーのID
                      createdAt:
                        type: string
                        format: date-time
                        description: キーの作成日時
        "400":
          description: 不正なリクエスト - パラメータが無効です
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - No user found for team
                      - Rate limit cannot exceed team's limit of 500 QPS
                      - "Unexpected parameters: invalidParam. Allowed: name,
                        rateLimit, budgetCents."
        "401":
          description: 認証エラー - サービスキーが無効か、指定されていません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
      tags:
        - Team Management
      security:
        - apikey: []
    get:
      operationId: list-api-keys
      summary: APIキーの一覧を取得
      description: 認証済みのチームに属するすべてのAPIキーを返します。各キーのID、名前、レート制限が含まれます。
      parameters:
        - name: api_key_id
          in: query
          required: false
          schema:
            type: string
          description: 特定のキーを取得する場合に指定するAPIキーID（任意）。
      x-codeSamples:
        - lang: bash
          label: List all API keys
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: List all API keys
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: List all API keys
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'GET',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: APIキーの一覧を正常に取得しました
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      apiKeys:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            rateLimit:
                              type:
                                - integer
                                - "null"
                              description: レート制限（1秒あたりのリクエスト数）
                            budgetCents:
                              type:
                                - integer
                                - "null"
                              description: APIキーの利用予算（セント単位）
                            isOverBudget:
                              type: boolean
                              description: APIキーが現在、予算を超過しているかどうか
                  - type: object
                    properties:
                      apiKey:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          rateLimit:
                            type:
                              - integer
                              - "null"
                            description: レート制限（1秒あたりのリクエスト数）
                          budgetCents:
                            type:
                              - integer
                              - "null"
                            description: APIキーの利用予算（セント単位）
                          isOverBudget:
                            type: boolean
                            description: APIキーが現在、予算を超過しているかどうか
                          teamId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
        "400":
          description: 不正なリクエスト - APIキーIDの形式が無効です
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: 認証エラー - サービスキーが無効か、指定されていません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: アクセス禁止 - このAPIキーへのアクセス権限がありません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Insufficient permissions to access this API key
        "404":
          description: 見つかりません - APIキーまたはチームが見つかりません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - API key not found
                      - Team not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}:
    get:
      operationId: get-api-key
      summary: APIキーを取得
      description: IDを指定して、APIキーの詳細を取得します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: APIキーの一意の識別子。
      x-codeSamples:
        - lang: bash
          label: Get a specific API key
          source: >
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY'
      responses:
        "200":
          description: APIキーを正常に取得しました
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: レート制限（1秒あたりのリクエスト数）
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: APIキーの利用予算（セント単位）
                      isOverBudget:
                        type: boolean
                        description: APIキーが現在、予算を超過しているかどうか
                      teamId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
        "400":
          description: 不正なリクエスト - APIキーIDの形式が無効です
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: 認証エラー - サービスキーが無効か、指定されていません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: 見つかりません - APIキーが存在しません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    put:
      operationId: update-api-key
      summary: APIキーを更新
      description: 既存のAPIキーの名前やレート制限を更新します。更新できるのは認証済みのチームに属するAPIキーのみです。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 更新するAPIキーの一意の識別子。
      x-codeSamples:
        - lang: bash
          label: Update API key name and rate limit
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Updated Production Key",
                "rateLimit": 2000
              }'
        - lang: python
          label: Update API key name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Updated Production Key',
                'rateLimit': 2000
            }

            response = requests.put(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Update API key name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'PUT',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Updated Production Key',
                rateLimit: 2000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Update only the name
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "New Name Only"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: APIキーの新しい名前（任意）
                  example: Updated Production Key
                rateLimit:
                  type: integer
                  description: APIキーの新しいレート制限（1秒あたりのリクエスト数、任意）
                  example: 2000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: APIキーの新しい利用予算（セント単位、任意）。予算を解除するにはnullを指定します。
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: APIキーが正常に更新されました
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: レート制限（1秒あたりのリクエスト数）
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: APIキーの利用予算（セント単位）
                      isOverBudget:
                        type: boolean
                        description: APIキーが現在、予算を超過しているかどうか
                      teamId:
                        type: string
                        format: uuid
                      userId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
        "400":
          description: 不正なリクエスト - パラメータが無効です
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: 認証エラー - サービスキーが無効か、指定されていません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: アクセス禁止 - APIキーは別のチームに属しています
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: 見つかりません - APIキーが存在しません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    delete:
      operationId: delete-api-key
      summary: APIキーを削除
      description: APIキーを削除します。削除できるのは認証済みのチームに属するAPIキーのみです。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: 削除するAPIキーの一意の識別子。
      x-codeSamples:
        - lang: bash
          label: Delete an API key
          source: >
            curl -X DELETE
            'https://admin-api.exa.ai/team-management/api-keys/{id}' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Delete an API key
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            response = requests.delete(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: Delete an API key
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'DELETE',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: APIキーが正常に削除されました
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: 不正なリクエスト - パラメータが無効です
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: 認証エラー - サービスキーが無効か、指定されていません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: アクセス禁止 - APIキーは別のチームに属しています
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: 見つかりません - APIキーが存在しません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}/usage:
    get:
      operationId: get-api-key-usage
      summary: APIキーの使用状況を取得
      description: 指定した期間のAPIキーの使用状況の分析データと請求データを取得します。請求システムから料金種別ごとの費用内訳を返します。
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: APIキーの一意の識別子。
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 使用期間の開始日（ISO 8601形式）。デフォルトは30日前です。過去6か月（180日）以内の日付を指定してください。
          example: 2025-01-01T00:00:00Z
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: 使用期間の終了日（ISO 8601形式）。デフォルトは現在時刻です。
          example: 2025-01-31T23:59:59Z
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - hour
              - day
              - month
          description: 結果をグループ化する時間単位。現在は将来の機能拡張用に予約されており、レスポンスの形式には影響しません。デフォルトは'day'です。
          example: day
      x-codeSamples:
        - lang: bash
          label: Get usage for the last 30 days (default)
          source: >
            curl -X GET
            'https://admin-api.exa.ai/team-management/api-keys/{id}/usage' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: bash
          label: Get usage for a specific date range
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}/usage?start_date=2025-01-01&end_date=2025-01-31' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Get usage for a specific date range
          source: |
            import requests
            from datetime import datetime, timedelta

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            params = {
                'start_date': '2025-01-01T00:00:00Z',
                'end_date': '2025-01-31T23:59:59Z'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys/{id}/usage',
                headers=headers,
                params=params
            )

            print(response.json())
        - lang: javascript
          label: Get usage for a specific date range
          source: >
            const params = new URLSearchParams({
              start_date: '2025-01-01T00:00:00Z',
              end_date: '2025-01-31T23:59:59Z'
            });


            const response = await fetch(
              `https://admin-api.exa.ai/team-management/api-keys/{id}/usage?${params}`,
              {
                method: 'GET',
                headers: {
                  'x-api-key': 'YOUR-SERVICE-KEY'
                }
              }
            );


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: 使用状況データを正常に取得しました
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: APIキーの一意の識別子。
                  api_key_id:
                    type: string
                    format: uuid
                    description: APIキーのID。
                  api_key_name:
                    type:
                      - string
                      - "null"
                    description: APIキーの名前
                  team_id:
                    type: string
                    format: uuid
                    description: このキーが属するチームのID
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                        description: 使用期間の開始日時
                      end:
                        type: string
                        format: date-time
                        description: 使用期間の終了日時
                  total_cost_usd:
                    type: number
                    description: 対象期間の総費用（米ドル）
                    example: 45.67
                  cost_breakdown:
                    type: array
                    description: 料金種別ごとの費用内訳
                    items:
                      type: object
                      properties:
                        price_id:
                          type: string
                          description: 料金の一意の識別子
                        price_name:
                          type: string
                          description: '料金の名前（例: "Neural Search"、"Content Retrieval"）'
                        quantity:
                          type: number
                          description: 総使用量
                        amount_usd:
                          type: number
                          description: この料金種別の費用（米ドル）
                  metadata:
                    type: object
                    properties:
                      generated_at:
                        type: string
                        format: date-time
                        description: このレポートの生成日時
              example:
                id: key_abc123def456
                api_key_id: 550e8400-e29b-41d4-a716-446655440000
                api_key_name: Production API Key
                team_id: 660e8400-e29b-41d4-a716-446655440000
                period:
                  start: 2025-01-01T00:00:00Z
                  end: 2025-01-31T23:59:59Z
                total_cost_usd: 45.67
                cost_breakdown:
                  - price_id: price_neural_search
                    price_name: Neural Search
                    quantity: 1000
                    amount_usd: 30
                  - price_id: price_content_retrieval
                    price_name: Content Retrieval
                    quantity: 500
                    amount_usd: 15.67
                metadata:
                  generated_at: 2025-02-01T10:30:00Z
        "400":
          description: 不正なリクエスト - パラメータが無効です
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid API key ID format.
                      - Invalid date format. Use ISO 8601 format (YYYY-MM-DD or
                        YYYY-MM-DDTHH:mm:ss)
                      - start_date must be before end_date
                      - Date range too far in the past. start_date must be
                        within the last 6 months.
                      - "Invalid group_by parameter. Must be one of: hour, day,
                        month"
        "401":
          description: 認証エラー - サービスキーが無効か、指定されていません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: 見つかりません - APIキーが存在しません
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
        "500":
          description: 内部サーバーエラー - 使用状況データの取得に失敗しました
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to fetch usage data. Please try again later.
      tags:
        - Team Management
      security:
        - apikey: []
components:
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: x-api-key
      description: チーム認証用のサービスAPIキー
