openapi: 3.1.0
info:
  title: Exa Public API
  version: 2.0.0
servers:
  - url: https://api.exa.ai
security:
  - apiKey: []
  - bearer: []
paths:
  /search:
    post:
      operationId: search
      summary: Search
      description: Effectue une recherche à l’aide d’une requête Exa optimisée par
        ingénierie de prompts et récupère une liste de résultats pertinents.
        Permet éventuellement de récupérer les contenus.
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.007"
          max: "0.015"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: b5947044c4b78efa9552a7c89b306d95
                results:
                  - title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    id: https://arxiv.org/abs/2307.06435
                    image: https://arxiv.org/pdf/2307.06435.pdf/page_1.png
                    favicon: https://arxiv.org/favicon.ico
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: Cet article de synthèse sur les grands modèles de langage (LLM) met en
                      lumière les principales avancées…
                resolvedSearchType: neural
                costDollars:
                  total: 0.007
                  search:
                    neural: 0.007
              schema:
                $ref: "#/components/schemas/SearchResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/SearchStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: "Paiement requis. Pour les requêtes avec API key, il s’agit de
            l’enveloppe d’erreur standard (crédits épuisés ou budget dépassé).
            Sur les endpoints tarifés via x402, les requêtes sans API key
            reçoivent à la place un challenge de paiement x402 avec la balise
            `X402_PAYMENT_REQUIRED` : l’enveloppe enrichie de métadonnées de
            paiement x402 (`x402Version`, `resource`, `accepts` et `extensions`
            facultatif) décrivant comment payer la requête."
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /contents:
    post:
      operationId: getContents
      summary: Contents
      x-payment-info:
        price:
          mode: dynamic
          currency: USD
          min: "0.001"
          max: "0.010"
        protocols:
          - x402: {}
          - mpp:
              method: tempo
              intent: charge
              currency: USDC.e
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ContentsRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: e492118ccdedcba5088bfc4357a8a125
                results:
                  - id: https://arxiv.org/abs/2307.06435
                    title: A Comprehensive Overview of Large Language Models
                    url: https://arxiv.org/pdf/2307.06435.pdf
                    publishedDate: 2023-11-16T01:36:32.547Z
                    author: Humza  Naveed, University of Engineering and Technology (UET), Lahore,
                      Pakistan
                    text: Abstract Large Language Models (LLMs) have recently demonstrated
                      remarkable capabilities...
                    highlights:
                      - Such requirements have limited their adoption...
                    summary: Cet article de synthèse sur les grands modèles de langage (LLM) met en
                      lumière les principales avancées…
                statuses:
                  - id: https://arxiv.org/abs/2307.06435
                    status: success
                    source: cached
                costDollars:
                  total: 0.003
              schema:
                $ref: "#/components/schemas/ContentsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          description: "Paiement requis. Pour les requêtes avec API key, il s’agit de
            l’enveloppe d’erreur standard (crédits épuisés ou budget dépassé).
            Sur les endpoints tarifés via x402, les requêtes sans API key
            reçoivent à la place un challenge de paiement x402 avec la balise
            `X402_PAYMENT_REQUIRED` : l’enveloppe enrichie de métadonnées de
            paiement x402 (`x402Version`, `resource`, `accepts` et `extensions`
            facultatif) décrivant comment payer la requête."
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/ErrorResponse"
                  - $ref: "#/components/schemas/X402PaymentChallenge"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /answer:
    post:
      operationId: answer
      summary: Réponse
      description: Effectue une recherche à partir de la requête et génère soit une
        réponse directe, soit un résumé détaillé avec citations, selon le type
        de requête.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AnswerRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              example:
                requestId: a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
                answer: $350 billion.
                citations:
                  - id: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    url: https://www.theguardian.com/science/2024/dec/11/spacex-valued-at-350bn-as-company-agrees-to-buy-shares-from-employees
                    title: SpaceX valued at $350bn as company agrees to buy shares from ...
                    author: Dan Milmo
                    publishedDate: 2024-12-11T00:00:00.000Z
                    text: SpaceX valued at $350bn as company agrees to buy shares from ...
                costDollars:
                  total: 0.005
              schema:
                $ref: "#/components/schemas/AnswerResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AnswerStreamChunk"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /findSimilar:
    post:
      operationId: findSimilar
      summary: Trouver des liens similaires
      description: "Trouve des liens similaires à l’URL fournie et récupère
        éventuellement leur contenu. Obsolète : utilisez plutôt `/search` avec
        une requête décrivant la source."
      x-exa-lifecycle: deprecated
      deprecated: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindSimilarRequest"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
            Deprecation:
              description: Indique que cette opération est obsolète.
              schema:
                type: string
              example: "true"
            x-exa-queued:
              $ref: "#/components/headers/XExaQueued"
            x-exa-queue-ms:
              $ref: "#/components/headers/XExaQueueMs"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindSimilarResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "429":
          $ref: "#/components/responses/TooManyRequestsResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
        "503":
          $ref: "#/components/responses/ServiceUnavailableResponse"
  /monitors:
    post:
      operationId: createMonitor
      summary: Créer un moniteur
      description: >-
        Crée un nouveau Monitor pour exécuter des recherches Exa récurrentes
        selon une planification.


        Les Monitors exécutent automatiquement votre requête de recherche selon
        une planification récurrente et transmettent les résultats à votre
        endpoint de webhook avec déduplication automatique :


        - Le **filtrage par date** récupère uniquement le contenu depuis la
        dernière exécution


        - La **déduplication sémantique** suit les résultats précédents pour ne
        faire apparaître que les nouvelles évolutions


        La réponse inclut un `webhookSecret` qui n’est renvoyé qu’une seule
        fois, lors de la création. Stockez-le de manière sécurisée pour la
        vérification de signature du webhook.
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSearchMonitorParameters"
      responses:
        "201":
          description: Le moniteur créé avec le secret de webhook
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listMonitors
      summary: Lister les moniteurs
      description: Liste tous les moniteurs de l’équipe authentifiée. Prend en charge
        le filtrage par statut et la pagination basée sur un curseur.
      tags:
        - Monitors
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum:
              - active
              - paused
              - disabled
            description: Filtrer les moniteurs par statut
        - in: query
          name: cursor
          schema:
            type: string
            description: Curseur de pagination d’une réponse précédente
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Nombre de résultats par page
            default: 50
        - in: query
          name: name
          schema:
            type: string
            maxLength: 250
            description: Filtrer les moniteurs par nom (correspondance de sous-chaîne
              insensible à la casse)
        - in: query
          name: metadata
          schema:
            description: "Filtrer les moniteurs par paires clé-valeur de métadonnées
              (correspondance exacte, sémantique ET). Utilisez la notation entre
              crochets : `metadata[key]=value`."
            type: object
            propertyNames:
              type: string
            additionalProperties:
              type: string
          style: deepObject
          explode: true
          description: "Filtrer les moniteurs par paires clé-valeur de métadonnées
            (correspondance exacte, sémantique ET). Utilisez la notation entre
            crochets : `metadata[key]=value`."
      responses:
        "200":
          description: Une liste paginée de moniteurs
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/batch:
    post:
      operationId: batchMonitors
      summary: Action par lot sur les moniteurs
      description: >-
        Effectue une action par lot sur les moniteurs correspondant aux filtres
        fournis.


        Actions prises en charge :

        - **delete** : supprime définitivement les moniteurs correspondants

        - **pause** : met en pause les moniteurs correspondants

        - **unpause** : réactive les moniteurs correspondants


        Utilisez `dry_run: true` (par défaut) pour prévisualiser les moniteurs
        concernés avant d’effectuer l’action. Les résultats sont paginés via le
        paramètre `limit` ; bouclez jusqu’à ce que `has_more` soit `false` pour
        traiter tous les moniteurs correspondants.
      tags:
        - Monitors
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchMonitorsRequest"
      responses:
        "200":
          description: Résultat de l’action par lot
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchMonitorsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}:
    get:
      operationId: getMonitor
      summary: Obtenir un moniteur
      description: Récupère un moniteur à partir de son ID.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: L’ID du moniteur
          required: true
          description: L’ID du moniteur
      responses:
        "200":
          description: Le moniteur
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    patch:
      operationId: updateMonitor
      summary: Mettre à jour un moniteur
      description: Met à jour un moniteur existant. Tous les champs sont facultatifs.
        Pour `search`, vous pouvez envoyer un objet partiel contenant uniquement
        les champs que vous souhaitez modifier. Définissez `trigger` sur `null`
        pour supprimer la planification.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: L’ID du moniteur
          required: true
          description: L’ID du moniteur
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateSearchMonitorParameters"
      responses:
        "200":
          description: Le moniteur mis à jour
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteMonitor
      summary: Supprimer un moniteur
      description: Supprime un moniteur. Cette action est irréversible.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: L’ID du moniteur
          required: true
          description: L’ID du moniteur
      responses:
        "200":
          description: Le moniteur supprimé
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitor"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/trigger:
    post:
      operationId: triggerMonitor
      summary: Déclencher un moniteur
      description: Déclenche une exécution immédiatement, quelle que soit la
        planification. Fonctionne pour les moniteurs ayant le statut `active` ou
        `paused`.
      tags:
        - Monitors
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: L’ID du moniteur
          required: true
          description: L’ID du moniteur
      responses:
        "200":
          description: Indique si le moniteur a été déclenché
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TriggerSearchMonitorResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs:
    get:
      operationId: listRuns
      summary: Lister les exécutions
      description: Liste toutes les exécutions d’un moniteur avec pagination basée sur
        un curseur. Les exécutions sont renvoyées dans l’ordre chronologique
        inverse.
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: L’ID du moniteur
          required: true
          description: L’ID du moniteur
        - in: query
          name: cursor
          schema:
            type: string
            description: Curseur de pagination d’une réponse précédente
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Nombre de résultats par page
            default: 50
      responses:
        "200":
          description: Une liste paginée d’exécutions
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSearchMonitorRunsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /monitors/{id}/runs/{runId}:
    get:
      operationId: getRun
      summary: Obtenir une exécution
      description: Récupère une exécution à partir de son ID, y compris la sortie
        complète si elle est terminée.
      tags:
        - Runs
      parameters:
        - in: path
          name: id
          schema:
            type: string
            description: L’ID du moniteur
          required: true
          description: L’ID du moniteur
        - in: path
          name: runId
          schema:
            type: string
            description: L’ID de l’exécution
          required: true
          description: L’ID de l’exécution
      responses:
        "200":
          description: L’exécution
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchMonitorRun"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /agent/runs:
    post:
      operationId: createAgentRun
      summary: Créer une exécution
      description: "Créez une exécution Agent asynchrone. Par défaut, l’API renvoie
        immédiatement l’objet d’exécution. Définissez `Accept:
        text/event-stream` pour diffuser les événements du cycle de vie de
        l’exécution jusqu’à ce qu’elle atteigne un statut final."
      tags:
        - Agent
      parameters:
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/ExaBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAgentRunRequest"
            examples:
              simple:
                summary: Exécution de recherche simple
                value:
                  query: What are the most important AI infrastructure funding rounds announced
                    this week?
              structuredOutput:
                summary: Sortie structurée
                value:
                  query: Find recent Series A or Series B AI infrastructure funding rounds.
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - round
                            - amount
                            - sourceUrl
                          properties:
                            name:
                              type: string
                            round:
                              type: string
                            amount:
                              type: string
                            sourceUrl:
                              type: string
                              format: uri
              inputRows:
                summary: Traiter les lignes d’entrée
                value:
                  query: For each company, find one current executive and cite a source.
                  input:
                    data:
                      - company: Apple
                        domain: apple.com
                      - company: Microsoft
                        domain: microsoft.com
                    exclusion:
                      - company: Apple
                        person: Tim Cook
              contactFields:
                summary: Champs de contact dans la sortie structurée
                value:
                  query: Find engineering leaders at AI infrastructure companies that raised a
                    Series A or B in the last 6 months.
                  effort: auto
                  outputSchema:
                    type: object
                    required:
                      - people
                    properties:
                      people:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - linkedin_url
                          properties:
                            name:
                              type: string
                            contact_email:
                              type: string
                              format: email
                            linkedin_url:
                              type: string
                              format: uri
              dataSources:
                summary: Connecter des sources de données
                value:
                  query: Find 10 fast-growing B2B SaaS companies and their estimated web traffic.
                  dataSources:
                    - provider: similarweb
                  outputSchema:
                    type: object
                    required:
                      - companies
                    properties:
                      companies:
                        type: array
                        maxItems: 10
                        items:
                          type: object
                          required:
                            - name
                            - domain
                            - monthlyVisits
                          properties:
                            name:
                              type: string
                            domain:
                              type: string
                            monthlyVisits:
                              type: number
                              description: depuis Similarweb
      responses:
        "200":
          description: Exécution Agent créée
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
              examples:
                running:
                  summary: Exécution acceptée
                  value:
                    id: agent_run_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: agent_run
                    status: running
                    stopReason: null
                    createdAt: 2026-05-07T18:31:00.000Z
                    completedAt: null
                    request:
                      query: What are the most important AI infrastructure funding rounds announced
                        this week?
                    output:
                      text: ""
                      structured: null
                      grounding: []
                    usage:
                      agentComputeUnits: 0
                      searches: 0
                      emails: 0
                      phoneNumbers: 0
                    costDollars:
                      total: 0
                      agentCompute: 0
                      search: 0
                      emails: 0
                      phoneNumbers: 0
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                lifecycle:
                  summary: Événements du cycle de vie d’une exécution
                  value: |-
                    id: 1
                    event: agent_run.created
                    data: {"id":"agent_run_01j...","status":"queued","createdAt":"2026-05-07T21:21:52.051Z"}

                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: Requête non valide.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Contexte d’équipe ou authentification introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Limite de concurrence des exécutions Agent atteinte.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Erreur serveur ou délai d’expiration de l’exécution.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    get:
      operationId: listAgentRuns
      summary: Lister les exécutions
      description: Répertorie les exécutions Agent de votre équipe, de la plus récente
        à la plus ancienne.
      tags:
        - Agent
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Nombre de résultats par page
            default: 20
        - in: query
          name: cursor
          schema:
            description: Curseur de pagination. Utilisez la valeur `nextCursor` de la
              réponse précédente listant les exécutions.
            $ref: "#/components/schemas/AgentRunId"
      responses:
        "200":
          description: Exécutions Agent paginées
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunList"
        "400":
          description: Requête non valide.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Contexte d’équipe ou authentification introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Erreur serveur ou délai d’expiration de l’exécution.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}:
    get:
      operationId: getAgentRun
      summary: Obtenir une exécution
      description: Récupère une exécution Agent par son ID.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID de l’exécution Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID de l’exécution Agent.
      responses:
        "200":
          description: Exécution Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Requête non valide.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Contexte d’équipe ou authentification introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Exécution introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Limite de concurrence des exécutions Agent atteinte.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Erreur serveur ou délai d’expiration de l’exécution.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
    delete:
      operationId: deleteAgentRun
      summary: Supprimer une exécution
      description: Supprime une exécution Agent enregistrée.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID de l’exécution Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID de l’exécution Agent.
      responses:
        "200":
          description: Exécution Agent supprimée
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteAgentRunResponse"
        "400":
          description: Requête non valide.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Contexte d’équipe ou authentification introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Exécution introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Limite de concurrence des exécutions Agent atteinte.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Erreur serveur ou délai d’expiration de l’exécution.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/cancel:
    post:
      operationId: cancelAgentRun
      summary: Annuler une exécution
      description: Annule immédiatement une exécution Agent en attente ou en cours,
        sans renvoyer de résultats. L’utilisation accumulée avant l’annulation
        vous est facturée. Si l’exécution a déjà atteint un statut final, l’API
        renvoie l’exécution existante.
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID de l’exécution Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID de l’exécution Agent.
      responses:
        "200":
          description: Exécution Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Requête non valide.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Contexte d’équipe ou authentification introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Exécution introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Limite de concurrence des exécutions Agent atteinte.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Erreur serveur ou délai d’expiration de l’exécution.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/stop:
    post:
      operationId: stopAgentRun
      summary: Arrêter une exécution
      description: "Termine prématurément une exécution Agent en cours et renvoie les
        résultats collectés jusqu’alors. L’utilisation accumulée avant l’arrêt
        vous est facturée. Cette fonctionnalité n’est actuellement prise en
        charge que pour les exécutions avec l’effort `max` et nécessite le
        header `Exa-Beta: agent-max-effort-2026-07-27`. Si l’exécution a déjà
        atteint un statut final, l’API renvoie l’exécution existante."
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID de l’exécution Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID de l’exécution Agent.
        - $ref: "#/components/parameters/ExaBetaHeader"
      responses:
        "200":
          description: Exécution Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRun"
        "400":
          description: Requête non valide.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Contexte d’équipe ou authentification introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Exécution introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Limite de concurrence des exécutions Agent atteinte.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Erreur serveur ou délai d’expiration de l’exécution.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /agent/runs/{id}/events:
    get:
      operationId: listAgentRunEvents
      summary: Lister les événements d’exécution
      description: "Répertorie les événements enregistrés d’une exécution Agent.
        Définissez `Accept: text/event-stream` pour rejouer les événements
        enregistrés sous forme d’événements envoyés par le serveur. Utilisez
        `cursor` pour la pagination JSON ou `Last-Event-ID` pour la relecture
        SSE."
      tags:
        - Agent
      parameters:
        - in: path
          name: id
          schema:
            description: ID de l’exécution Agent.
            $ref: "#/components/schemas/AgentRunId"
          required: true
          description: ID de l’exécution Agent.
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 100
            description: Nombre de résultats par page
            default: 20
        - in: query
          name: cursor
          schema:
            type: string
            description: Curseur de pagination. Utilisez la valeur `nextCursor` de la
              réponse précédente listant les événements.
        - $ref: "#/components/parameters/AcceptHeader"
        - $ref: "#/components/parameters/LastEventId"
      responses:
        "200":
          description: Événements d’exécution Agent
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunEventList"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunEvent"
              examples:
                replay:
                  summary: Événements d’exécution rejoués
                  value: |
                    id: 2
                    event: agent_run.started
                    data: {"id":"agent_run_01j...","status":"running"}

                    id: 3
                    event: agent_run.completed
                    data: {"id":"agent_run_01j...","object":"agent_run","status":"completed"}
        "400":
          description: Requête non valide.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "401":
          description: Contexte d’équipe ou authentification introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "404":
          description: Exécution introuvable.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "429":
          description: Limite de concurrence des exécutions Agent atteinte.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
        "500":
          description: Erreur serveur ou délai d’expiration de l’exécution.
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentErrorResponse"
  /batches:
    post:
      operationId: createBatch
      summary: Créer un lot
      description: Crée un lot de requêtes à exécuter de manière asynchrone. Chaque
        requête est envoyée à la route cible et les résultats peuvent être
        téléchargés une fois le lot terminé.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - $ref: "#/components/parameters/BatchesBetaHeader"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateBatchRequest"
            examples:
              searchBatch:
                summary: Lot de requêtes de recherche et d’exécution d’Agent
                value:
                  requests:
                    - customId: row-1
                      method: POST
                      url: /search
                      body:
                        query: Latest AI infrastructure funding rounds
                    - customId: row-2
                      method: POST
                      url: /agent/runs
                      body:
                        query: Summarize this week's vector database launches
                  metadata:
                    project: weekly-digest
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: in_progress
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    get:
      operationId: listBatches
      summary: Lister les lots
      description: Répertorie les lots de votre équipe, du plus récent au plus ancien.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: query
          name: cursor
          schema:
            type: string
            description: Curseur de pagination issu d’une réponse précédente
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            description: Nombre maximal de lots à renvoyer par page. La valeur par défaut
              est 100 lorsqu’il n’est pas renseigné ; aucune limite supérieure
              n’est définie.
            default: 100
        - in: query
          name: status
          schema:
            type: string
            const: completed
            description: Filtre la liste pour n’afficher que les lots terminés. `completed`
              est la seule valeur prise en charge ; toute autre valeur renvoie
              une erreur 400. Les listes de lots terminés sont triées par
              expiration et utilisent un curseur distinct. Continuez donc à
              envoyer `status=completed` avec chaque requête paginée par
              curseur.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                object: list
                data:
                  - id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                    object: batch
                    status: completed
                    requestCounts:
                      total: 2
                      completed: 2
                      failed: 0
                    createdAt: 2026-06-06T12:00:00.000Z
                    expiresAt: 2026-06-13T12:00:00.000Z
                    endedAt: 2026-06-06T12:01:30.000Z
                    resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                    metadata:
                      project: weekly-digest
                hasMore: false
                nextCursor: null
              schema:
                $ref: "#/components/schemas/BatchList"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}:
    get:
      operationId: getBatch
      summary: Obtenir un lot
      description: Récupère un lot par son ID.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: ID du lot.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: ID du lot.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: completed
                requestCounts:
                  total: 2
                  completed: 2
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: 2026-06-06T12:01:30.000Z
                resultsUrl: https://exa-batch-results.s3.us-east-1.amazonaws.com/batch_01j7x9v0m2n4p6q8r0s2t4v6w8/results.jsonl?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Expires=3600&X-Amz-SignedHeaders=host&X-Amz-Signature=EXAMPLESIGNATURE
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
    delete:
      operationId: deleteBatch
      summary: Supprimer un lot
      description: Supprime logiquement un lot ayant atteint un statut final.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: ID du lot.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: ID du lot.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch.deleted
                deleted: true
              schema:
                $ref: "#/components/schemas/DeletedBatch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /batches/{id}/cancel:
    post:
      operationId: cancelBatch
      summary: Annuler un lot
      description: Demande l’annulation d’un lot. Le lot cesse de planifier de
        nouvelles requêtes et termine le travail en cours avant de passer à
        `cancelled`. L’annulation d’un lot déjà `cancelling` ou `cancelled` est
        idempotente et renvoie le lot inchangé. Un lot ayant déjà atteint un
        statut final (`completed` ou `expired`) ne peut pas être annulé, et la
        requête échoue avec une erreur 409.
      tags:
        - Batches
      x-exa-lifecycle: beta
      x-exa-beta-flag: batches-2026-06-06
      parameters:
        - in: path
          name: id
          schema:
            type: string
            minLength: 1
            description: ID du lot.
            example: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
          required: true
          description: ID du lot.
        - $ref: "#/components/parameters/BatchesBetaHeader"
      responses:
        "200":
          description: OK
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              example:
                id: batch_01j7x9v0m2n4p6q8r0s2t4v6w8
                object: batch
                status: cancelling
                requestCounts:
                  total: 2
                  completed: 0
                  failed: 0
                createdAt: 2026-06-06T12:00:00.000Z
                expiresAt: 2026-06-13T12:00:00.000Z
                endedAt: null
                resultsUrl: null
                metadata:
                  project: weekly-digest
              schema:
                $ref: "#/components/schemas/Batch"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "409":
          $ref: "#/components/responses/ConflictResponse"
        "500":
          $ref: "#/components/responses/InternalServerErrorResponse"
  /v0/teams/me:
    get:
      operationId: teams-me-get
      summary: Obtenir les informations de l’équipe
      description: Renvoie des informations sur l’équipe authentifiée, notamment
        l’utilisation actuelle de la concurrence et les limites.
      tags:
        - Teams
      responses:
        "200":
          description: Informations sur l’équipe récupérées avec succès
          headers:
            x-request-id:
              $ref: "#/components/headers/XRequestId"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetsTeamInfo"
  /v0/websets:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-create
      summary: Créer un Webset
      description: >-
        Crée un Webset avec des configurations facultatives de recherche,
        d’import et d’enrichissement. Le Webset commencera automatiquement son
        traitement une fois créé.


        Vous pouvez spécifier un `externalId` pour référencer le Webset à l’aide
        de vos propres identifiants et faciliter l’intégration.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetParameters"
      responses:
        "201":
          description: Webset créé
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "409":
          description: Un Webset avec cet `externalId` existe déjà
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-list
      summary: Lister tous les Websets
      description: >-
        Renvoie une liste de Websets.


        Vous pouvez parcourir les résultats par pagination à l’aide du paramètre
        `cursor`.


        Vous pouvez filtrer les résultats à l’aide du paramètre `search` pour
        trouver des Websets par ID, ID externe ou titre.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Curseur permettant de paginer les résultats
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 100
            type: number
          required: false
          description: Nombre de Websets à renvoyer
        - in: query
          name: search
          schema:
            minLength: 2
            maxLength: 50
            type: string
          required: false
          description: Terme de recherche permettant de filtrer les Websets par ID, ID
            externe ou titre
      responses:
        "200":
          description: Liste des Websets
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetsResponse"
  /v0/websets/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-get
      summary: Obtenir un Webset
      description: >-
        Renvoie un Webset par `id` ou `externalId`, y compris son statut, ses
        recherches, ses imports, ses enrichissements et ses monitors.


        Transmettez `expand=items` pour inclure les 100 premiers éléments au
        maximum dans la réponse.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’`id` ou l’`externalId` du Webset.
          required: true
        - in: query
          name: expand
          schema:
            items:
              enum:
                - items
              type: string
            type: array
          required: false
          description: Étend la réponse avec les ressources spécifiées
      responses:
        "200":
          description: Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWebsetResponse"
        "404":
          description: Webset introuvable
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    post:
      operationId: websets-update
      summary: Mettre à jour un Webset
      description: Met à jour le `title` ou les `metadata` d’un Webset. Les
        recherches, imports et enrichissements sont gérés via leurs propres
        endpoints.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’id ou l’externalId du Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebsetRequest"
      responses:
        "200":
          description: Webset mis à jour
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Webset introuvable
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    delete:
      operationId: websets-delete
      summary: Supprimer un Webset
      description: >-
        Supprime un Webset.


        Une fois supprimés, le Webset et tous ses Items ne seront plus
        disponibles.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’id ou l’externalId du Webset
          required: true
      responses:
        "200":
          description: Webset supprimé
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
        "404":
          description: Webset introuvable
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/websets/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-cancel
      summary: Annuler un Webset en cours d’exécution
      description: >-
        Annule toutes les opérations en cours sur un Webset.


        Tous les enrichissements et toutes les opérations Search seront arrêtés,
        et le Webset sera marqué comme `idle`.
      tags:
        - Websets
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’id ou l’externalId du Webset
          required: true
      responses:
        "200":
          description: Webset annulé
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webset"
  /v0/websets/{webset}/searches:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-create
      summary: Créer une Search
      description: >-
        Crée un nouveau Search pour le Webset.


        Par défaut, les résultats du Search précédent sont réutilisés et évalués
        selon les nouveaux critères.
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: L’id du Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebsetSearchParameters"
      responses:
        "200":
          description: Search du Webset créé
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-searches-get
      summary: Obtenir une Search
      description: Récupère un Search par id
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: L’id du Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: L’id du Search
          required: true
      responses:
        "200":
          description: Search récupéré
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/searches/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-searches-cancel
      summary: Annuler une Search en cours d’exécution
      description: >-
        Annule un Search en cours.


        Vous pouvez annuler tous les Search en une seule fois à l’aide de
        l’endpoint `websets/:webset/cancel`.
      tags:
        - Searches
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: L’id du Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: L’id du Search
          required: true
      responses:
        "200":
          description: Search annulé
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetSearch"
  /v0/websets/{webset}/enrichments:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-create
      summary: Créer un Enrichment
      description: Crée un Enrichment pour un Webset.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: L’id ou l’externalId du Webset
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateEnrichmentParameters"
      responses:
        "200":
          description: Enrichment créé
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}:
    servers:
      - url: https://api.exa.ai/websets
    patch:
      operationId: websets-enrichments-update
      summary: Mettre à jour un Enrichment
      description: Met à jour la configuration d’un Enrichment pour un Webset.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateEnrichmentParameters"
      responses:
        "200":
          description: ""
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    get:
      operationId: websets-enrichments-get
      summary: Obtenir un Enrichment
      description: Renvoie un Enrichment configuré sur un Webset, y compris son
        statut, sa description, son format et ses options.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: L’id ou l’externalId du Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: L’id de l’Enrichment
          required: true
      responses:
        "200":
          description: Enrichment
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
    delete:
      operationId: websets-enrichments-delete
      summary: Supprimer un Enrichment
      description: Lors de la suppression d’un Enrichment, tous les enrichissements en
        cours seront annulés et tous les `enrichment_result` existants générés
        par cet Enrichment ne seront plus disponibles.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: L’id ou l’externalId du Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: L’id de l’Enrichment
          required: true
      responses:
        "200":
          description: Enrichment supprimé
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/enrichments/{id}/cancel:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-enrichments-cancel
      summary: Annuler un Enrichment en cours d’exécution
      description: Tous les enrichissements en cours seront annulés. Vous ne pourrez
        pas reprendre un Enrichment après son annulation.
      tags:
        - Enrichments
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: L’id ou l’externalId du Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: L’id de l’Enrichment
          required: true
      responses:
        "200":
          description: Enrichment annulé
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetEnrichment"
  /v0/websets/{webset}/items/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-get
      summary: Obtenir un Item
      description: Renvoie un Item du Webset.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: L’id ou l’externalId du Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: L’id de l’Item du Webset
          required: true
      responses:
        "200":
          description: Item du Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
    delete:
      operationId: websets-items-delete
      summary: Supprimer un Item
      description: |-
        Supprime un Item du Webset.

        Cette opération annule tout processus d’enrichissement le concernant.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: L’id ou l’externalId du Webset
          required: true
        - in: path
          name: id
          schema:
            type: string
          description: L’id de l’Item du Webset
          required: true
      responses:
        "200":
          description: Item du Webset supprimé
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebsetItem"
  /v0/websets/{webset}/items:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: websets-items-list
      summary: Lister tous les Items d’un Webset
      description: >-
        Renvoie une liste d’Items du Webset.


        Vous pouvez parcourir les Items par pagination à l’aide du paramètre
        `cursor`.
      tags:
        - Items
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: webset
          schema:
            type: string
          description: L’id ou l’externalId du Webset
          required: true
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Le curseur permettant de paginer les résultats
        - in: query
          name: limit
          schema:
            default: 20
            minimum: 1
            maximum: 100
            type: integer
          required: false
          description: Le nombre de résultats à renvoyer
        - in: query
          name: sourceId
          schema:
            type: string
          required: false
          description: L’id de la source
      responses:
        "200":
          description: Items du Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebsetItemResponse"
  /v0/websets/preview:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: websets-preview
      summary: Prévisualiser un Webset
      description: >-
        Prévisualisez la manière dont une requête de recherche sera décomposée
        avant de créer un Webset. Cet endpoint effectue la même analyse de
        requête que lors de la création d’un Webset, ce qui vous permet de voir
        à l’avance le type d’entité détecté, les critères de recherche générés
        et les colonnes d’enrichissement disponibles.


        Utilisez cette fonctionnalité pour aider les utilisateurs à comprendre
        comment leur recherche sera interprétée avant de créer entièrement un
        Webset.
      tags:
        - Websets Preview
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: search
          schema:
            type: boolean
          required: false
          description: Indique si vous souhaitez rechercher une liste d’aperçu d’Items
      requestBody:
        required: true
        description: Paramètres de recherche
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PreviewWebsetParameters"
      responses:
        "200":
          description: Aperçu du Webset
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PreviewWebsetResponse"
        "422":
          description: Impossible de détecter une entité ou des critères à partir de la
            requête
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
  /v0/monitors:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: monitors-create
      summary: Créer un Monitor
      description: >-
        Crée un nouveau `Monitor` pour maintenir vos Websets continuellement à
        jour avec des données récentes.


        Les Monitors s’exécutent automatiquement selon le calendrier que vous
        définissez afin que vos Websets restent à jour sans intervention
        manuelle :


        - **Trouver du nouveau contenu** : exécutez des opérations `search` pour
        découvrir de nouveaux Items correspondant à vos critères

        - **Mettre à jour le contenu existant** : exécutez des opérations
        `refresh` pour mettre à jour le contenu et les enrichissements des Items

        - **Planification automatisée** : configurez des expressions `cron` et
        `timezone` pour contrôler précisément la planification
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMonitorParameters"
      responses:
        "201":
          description: Monitor créé avec succès
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    get:
      operationId: monitors-list
      summary: Lister les Monitors
      description: Répertorie tous les Monitors du Webset.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Le curseur permettant de paginer les résultats
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Le nombre de résultats à renvoyer
        - in: query
          name: websetId
          schema:
            type: string
          required: false
          description: L’id du Webset dont les Monitors doivent être répertoriés
      responses:
        "200":
          description: Liste des Monitors
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorsResponse"
  /v0/monitors/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-get
      summary: Obtenir un Monitor
      description: Récupère un Monitor spécifique.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’id du Monitor
          required: true
      responses:
        "200":
          description: Détails du Monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    patch:
      operationId: monitors-update
      summary: Mettre à jour un Monitor
      description: Met à jour la configuration d’un Monitor.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’id du Monitor
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMonitor"
      responses:
        "200":
          description: Monitor mis à jour avec succès
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
    delete:
      operationId: monitors-delete
      summary: Supprimer un Monitor
      description: Supprime un Monitor.
      tags:
        - Monitors
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’id du Monitor
          required: true
      responses:
        "200":
          description: Monitor supprimé avec succès
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Monitor"
  /v0/monitors/{monitor}/runs:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-list
      summary: Lister les exécutions de Monitor
      description: Répertorie toutes les exécutions du Monitor.
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: L’id du Monitor dont les exécutions doivent être répertoriées
          required: true
      responses:
        "200":
          description: Liste des exécutions du Monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMonitorRunsResponse"
  /v0/monitors/{monitor}/runs/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: monitors-runs-get
      summary: Obtenir une exécution de Monitor
      description: Récupère une exécution de Monitor spécifique.
      tags:
        - Monitors Runs
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: monitor
          schema:
            type: string
          description: L’id du Monitor dont l’exécution doit être récupérée
          required: true
        - in: path
          name: id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: Détails de l’exécution du Monitor
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MonitorRun"
  /v0/imports:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: imports-create
      summary: Créer un Import
      description: >-
        Crée un nouvel import pour charger vos données dans Websets. Les imports
        peuvent servir à :


        - **Enrichir** : enrichissez vos données avec des informations
        supplémentaires grâce à notre moteur d’enrichissement alimenté par l’IA

        - **Rechercher** : interrogez vos données à l’aide de la recherche
        agentique de Websets avec des filtres en langage naturel

        - **Exclure** : empêchez l’apparition de résultats dupliqués ou déjà
        connus dans vos recherches


        Une fois l’import créé, vous pouvez charger vos données vers
        l’`uploadUrl` renvoyée jusqu’à `uploadValidUntil` (1 heure par défaut).
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImportParameters"
      responses:
        "201":
          description: Import créé avec succès
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateImportResponse"
    get:
      operationId: imports-list
      summary: Lister les Imports
      description: Répertorie tous les imports du Webset.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Le curseur pour paginer les résultats
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Le nombre de résultats à renvoyer
      responses:
        "200":
          description: Liste des imports
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListImportsResponse"
  /v0/imports/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: imports-get
      summary: Obtenir un Import
      description: Récupère un import spécifique.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’identifiant de l’Import
          required: true
      responses:
        "200":
          description: Détails de l’import
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    patch:
      operationId: imports-update
      summary: Mettre à jour un Import
      description: Met à jour la configuration d’un import.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’identifiant de l’Import
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateImport"
      responses:
        "200":
          description: Import mis à jour avec succès
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
    delete:
      operationId: imports-delete
      summary: Supprimer un Import
      description: Supprime un import.
      tags:
        - Imports
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’identifiant de l’Import
          required: true
      responses:
        "200":
          description: Import supprimé avec succès
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Import"
  /v0/webhooks:
    servers:
      - url: https://api.exa.ai/websets
    post:
      operationId: webhooks-create
      summary: Créer un Webhook
      description: >-
        Crée un Webhook qui transmet les événements sélectionnés à votre URL
        lorsqu’ils se produisent.


        La réponse inclut le `secret` de signature utilisé pour vérifier les
        envois ; il n’est renvoyé qu’à la création.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookParameters"
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
    get:
      operationId: webhooks-list
      summary: Lister les webhooks
      description: |-
        Renvoie les Webhooks actifs de votre équipe.

        Vous pouvez paginer les résultats à l’aide du paramètre `cursor`.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: query
          name: cursor
          schema:
            minLength: 1
            type: string
          required: false
          description: Le curseur pour paginer les résultats
        - in: query
          name: limit
          schema:
            default: 25
            minimum: 1
            maximum: 200
            type: integer
          required: false
          description: Le nombre de résultats à renvoyer
      responses:
        "200":
          description: Liste des webhooks
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
  /v0/webhooks/{id}:
    servers:
      - url: https://api.exa.ai/websets
    get:
      operationId: webhooks-get
      summary: Obtenir un Webhook
      description: Renvoie un Webhook par identifiant, y compris son statut, les
        événements auxquels il est abonné, son URL cible et ses métadonnées. Le
        `secret` de signature n’est pas renvoyé.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’identifiant du webhook
          required: true
      responses:
        "200":
          description: Webhook
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Webhook"
        "404":
          description: Webhook introuvable
          headers:
            X-Request-Id:
              schema:
                type: string
              description: Identifiant unique de la requête.
              example: req_N6SsgoiaOQOPqsYKKiw5
              required: true
    patch:
      operationId: webhooks-update
      summary: Mettre à jour un Webhook
      description: Met à jour l’URL cible, les événements auxquels un Webhook est
        abonné ou ses métadonnées. Les champs omis restent inchangés.
      tags:
        - Webhooks
      security:
        - apiKey: []
        - bearer: []
      parameters:
        - in: path
          name: id
          schema:
            type: string
          description: L’identifiant du webhook
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookParameters"
      responses:
        "200":
          description: Webhook
          headers:
[...]
