openapi: 3.1.0
info:
  version: 1.0.0
  title: Team Management API
  description: API permettant de gérer les API keys au sein des équipes. Fournit
    des opérations CRUD pour créer, lister, mettre à jour et supprimer des API
    keys avec des contrôles d’accès basés sur les équipes. L’API est activée par
    équipe. Contactez support@exa.ai pour demander l’accès.
servers:
  - url: https://admin-api.exa.ai/team-management
security:
  - apikey: []
paths:
  /api-keys:
    post:
      operationId: create-api-key
      summary: Créer une API key
      description: Crée une nouvelle API key pour l’équipe authentifiée. Vous pouvez
        éventuellement spécifier un nom, une limite de débit et un budget pour
        l’API key.
      x-codeSamples:
        - lang: bash
          label: Create API key with name and rate limit
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Production API Key",
                "rateLimit": 1000
              }'
        - lang: python
          label: Create API key with name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Production API Key',
                'rateLimit': 1000
            }

            response = requests.post(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Create API key with name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'POST',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Production API Key',
                rateLimit: 1000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Create API key without optional parameters
          source: |
            curl -X POST 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nom facultatif de l’API key
                  example: Production API Key
                rateLimit:
                  type: integer
                  description: Limite de débit facultative pour l’API key (requêtes par seconde)
                  example: 1000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: Budget de dépenses facultatif pour l’API key, en centimes.
                    Définissez-le sur null pour supprimer le budget.
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: API key créée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: Identifiant unique de l’API key
                      name:
                        type: string
                        description: Nom de l’API key
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Limite de débit en requêtes par seconde
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Budget de dépenses pour l’API key, en centimes
                      isOverBudget:
                        type: boolean
                        description: Indique si l’API key dépasse actuellement son budget
                      teamId:
                        type: string
                        format: uuid
                        description: ID de l’équipe à laquelle appartient cette clé
                      userId:
                        type: string
                        format: uuid
                        description: ID de l’utilisateur qui a créé cette clé
                      createdAt:
                        type: string
                        format: date-time
                        description: Date de création de la clé
        "400":
          description: Requête incorrecte - Paramètres non valides
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - No user found for team
                      - Rate limit cannot exceed team's limit of 500 QPS
                      - "Unexpected parameters: invalidParam. Allowed: name,
                        rateLimit, budgetCents."
        "401":
          description: Non autorisé - Clé de service non valide ou manquante
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
      tags:
        - Team Management
      security:
        - apikey: []
    get:
      operationId: list-api-keys
      summary: Lister les API keys
      description: Renvoie toutes les API keys appartenant à l’équipe authentifiée.
        Inclut l’ID, le nom et la limite de débit de chaque clé.
      parameters:
        - name: api_key_id
          in: query
          required: false
          schema:
            type: string
          description: ID d’API key facultatif pour récupérer une clé spécifique.
      x-codeSamples:
        - lang: bash
          label: List all API keys
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: List all API keys
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: List all API keys
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys', {
              method: 'GET',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: Liste des API keys récupérée avec succès
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      apiKeys:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              format: uuid
                            name:
                              type: string
                            rateLimit:
                              type:
                                - integer
                                - "null"
                              description: Limite de débit en requêtes par seconde
                            budgetCents:
                              type:
                                - integer
                                - "null"
                              description: Budget de dépenses pour l’API key, en centimes
                            isOverBudget:
                              type: boolean
                              description: Indique si l’API key dépasse actuellement son budget
                  - type: object
                    properties:
                      apiKey:
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                          name:
                            type: string
                          rateLimit:
                            type:
                              - integer
                              - "null"
                            description: Limite de débit en requêtes par seconde
                          budgetCents:
                            type:
                              - integer
                              - "null"
                            description: Budget de dépenses pour l’API key, en centimes
                          isOverBudget:
                            type: boolean
                            description: Indique si l’API key dépasse actuellement son budget
                          teamId:
                            type: string
                            format: uuid
                          createdAt:
                            type: string
                            format: date-time
        "400":
          description: Requête incorrecte - Format d’ID d’API key non valide
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: Non autorisé - Clé de service non valide ou manquante
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: Interdit - Autorisations insuffisantes pour accéder à cette API key
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Insufficient permissions to access this API key
        "404":
          description: Introuvable - API key ou équipe introuvable
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - API key not found
                      - Team not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}:
    get:
      operationId: get-api-key
      summary: Obtenir une API key
      description: Récupère les détails d’une API key spécifique à partir de son ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: L’identifiant unique de l’API key.
      x-codeSamples:
        - lang: bash
          label: Get a specific API key
          source: >
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY'
      responses:
        "200":
          description: API key récupérée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Limite de débit en requêtes par seconde
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Budget de dépenses pour l’API key, en centimes
                      isOverBudget:
                        type: boolean
                        description: Indique si l’API key dépasse actuellement son budget
                      teamId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
        "400":
          description: Requête incorrecte - Format d’ID d’API key non valide
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Invalid API key ID format.
        "401":
          description: Non autorisé - Clé de service non valide ou manquante
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: Introuvable - L’API key n’existe pas
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    put:
      operationId: update-api-key
      summary: Mettre à jour une API key
      description: Met à jour le nom et/ou la limite de débit d’une API key existante.
        Seules les API keys appartenant à l’équipe authentifiée peuvent être
        mises à jour.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: L’identifiant unique de l’API key à mettre à jour.
      x-codeSamples:
        - lang: bash
          label: Update API key name and rate limit
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "Updated Production Key",
                "rateLimit": 2000
              }'
        - lang: python
          label: Update API key name and rate limit
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            data = {
                'name': 'Updated Production Key',
                'rateLimit': 2000
            }

            response = requests.put(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers,
                json=data
            )

            print(response.json())
        - lang: javascript
          label: Update API key name and rate limit
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'PUT',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({
                name: 'Updated Production Key',
                rateLimit: 2000
              })
            });


            const result = await response.json();

            console.log(result);
        - lang: bash
          label: Update only the name
          source: >
            curl -X PUT 'https://admin-api.exa.ai/team-management/api-keys/{id}'
            \
              -H 'x-api-key: YOUR-SERVICE-KEY' \
              -H 'Content-Type: application/json' \
              -d '{
                "name": "New Name Only"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Nouveau nom facultatif de l’API key
                  example: Updated Production Key
                rateLimit:
                  type: integer
                  description: Nouvelle limite de débit facultative pour l’API key (requêtes par
                    seconde)
                  example: 2000
                budgetCents:
                  type:
                    - integer
                    - "null"
                  minimum: 0
                  description: Nouveau budget de dépenses facultatif pour l’API key, en centimes.
                    Définissez-le sur null pour supprimer le budget.
                  example: 5000
              additionalProperties: false
      responses:
        "200":
          description: API key mise à jour avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKey:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      rateLimit:
                        type:
                          - integer
                          - "null"
                        description: Limite de débit en requêtes par seconde
                      budgetCents:
                        type:
                          - integer
                          - "null"
                        description: Budget de dépenses pour l’API key, en centimes
                      isOverBudget:
                        type: boolean
                        description: Indique si l’API key dépasse actuellement son budget
                      teamId:
                        type: string
                        format: uuid
                      userId:
                        type: string
                        format: uuid
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
        "400":
          description: Requête incorrecte - Paramètres non valides
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: Non autorisé - Clé de service non valide ou manquante
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: Interdit - L’API key appartient à une autre équipe
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: Introuvable - L’API key n’existe pas
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
    delete:
      operationId: delete-api-key
      summary: Supprimer une API key
      description: Supprime une API key. Seules les API keys appartenant à l’équipe
        authentifiée peuvent être supprimées.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: L’identifiant unique de l’API key à supprimer.
      x-codeSamples:
        - lang: bash
          label: Delete an API key
          source: >
            curl -X DELETE
            'https://admin-api.exa.ai/team-management/api-keys/{id}' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Delete an API key
          source: |
            import requests

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY',
                'Content-Type': 'application/json'
            }

            response = requests.delete(
                'https://admin-api.exa.ai/team-management/api-keys/{id}',
                headers=headers
            )

            print(response.json())
        - lang: javascript
          label: Delete an API key
          source: >
            const response = await
            fetch('https://admin-api.exa.ai/team-management/api-keys/{id}', {
              method: 'DELETE',
              headers: {
                'x-api-key': 'YOUR-SERVICE-KEY'
              }
            });


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: API key supprimée avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Requête incorrecte - Paramètres non valides
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - api_key_id is required
                      - Invalid API key ID format.
        "401":
          description: Non autorisé - Clé de service non valide ou manquante
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "403":
          description: Interdit - L’API key appartient à une autre équipe
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: You do not have permission to access this API key
        "404":
          description: Introuvable - L’API key n’existe pas
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
      tags:
        - Team Management
      security:
        - apikey: []
  /api-keys/{id}/usage:
    get:
      operationId: get-api-key-usage
      summary: Obtenir l’utilisation d’une API key
      description: Récupère les données d’utilisation et de facturation d’une API key
        spécifique sur une période donnée. Renvoie la répartition des coûts par
        type de tarif depuis le système de facturation.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: L’identifiant unique de l’API key.
        - name: start_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: "Date de début de la période d’utilisation (format ISO 8601). Par
            défaut : il y a 30 jours. Doit se situer dans les 6 derniers mois
            (180 jours)."
          example: 2025-01-01T00:00:00Z
        - name: end_date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: "Date de fin de la période d’utilisation (format ISO 8601). Par
            défaut : l’heure actuelle."
          example: 2025-01-31T23:59:59Z
        - name: group_by
          in: query
          required: false
          schema:
            type: string
            enum:
              - hour
              - day
              - month
          description: Granularité temporelle pour le regroupement des résultats.
            Actuellement réservée à de futures améliorations et ne modifie pas
            la structure de la réponse. La valeur par défaut est 'day'.
          example: day
      x-codeSamples:
        - lang: bash
          label: Get usage for the last 30 days (default)
          source: >
            curl -X GET
            'https://admin-api.exa.ai/team-management/api-keys/{id}/usage' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: bash
          label: Get usage for a specific date range
          source: |
            curl -X GET 'https://admin-api.exa.ai/team-management/api-keys/{id}/usage?start_date=2025-01-01&end_date=2025-01-31' \
              -H 'x-api-key: YOUR-SERVICE-KEY'
        - lang: python
          label: Get usage for a specific date range
          source: |
            import requests
            from datetime import datetime, timedelta

            headers = {
                'x-api-key': 'YOUR-SERVICE-KEY'
            }

            params = {
                'start_date': '2025-01-01T00:00:00Z',
                'end_date': '2025-01-31T23:59:59Z'
            }

            response = requests.get(
                'https://admin-api.exa.ai/team-management/api-keys/{id}/usage',
                headers=headers,
                params=params
            )

            print(response.json())
        - lang: javascript
          label: Get usage for a specific date range
          source: >
            const params = new URLSearchParams({
              start_date: '2025-01-01T00:00:00Z',
              end_date: '2025-01-31T23:59:59Z'
            });


            const response = await fetch(
              `https://admin-api.exa.ai/team-management/api-keys/{id}/usage?${params}`,
              {
                method: 'GET',
                headers: {
                  'x-api-key': 'YOUR-SERVICE-KEY'
                }
              }
            );


            const result = await response.json();

            console.log(result);
      responses:
        "200":
          description: Données d’utilisation récupérées avec succès
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: L’identifiant unique de l’API key.
                  api_key_id:
                    type: string
                    format: uuid
                    description: L’ID de l’API key.
                  api_key_name:
                    type:
                      - string
                      - "null"
                    description: Le nom de l’API key
                  team_id:
                    type: string
                    format: uuid
                    description: L’ID de l’équipe à laquelle appartient cette clé
                  period:
                    type: object
                    properties:
                      start:
                        type: string
                        format: date-time
                        description: Début de la période d’utilisation
                      end:
                        type: string
                        format: date-time
                        description: Fin de la période d’utilisation
                  total_cost_usd:
                    type: number
                    description: Coût total en USD pour la période
                    example: 45.67
                  cost_breakdown:
                    type: array
                    description: Répartition des coûts par type de tarif
                    items:
                      type: object
                      properties:
                        price_id:
                          type: string
                          description: Identifiant unique du tarif
                        price_name:
                          type: string
                          description: Nom du tarif (p. ex., "Neural Search", "Content Retrieval")
                        quantity:
                          type: number
                          description: Quantité totale consommée
                        amount_usd:
                          type: number
                          description: Coût en USD pour ce type de tarif
                  metadata:
                    type: object
                    properties:
                      generated_at:
                        type: string
                        format: date-time
                        description: Date de génération de ce rapport
              example:
                id: key_abc123def456
                api_key_id: 550e8400-e29b-41d4-a716-446655440000
                api_key_name: Production API Key
                team_id: 660e8400-e29b-41d4-a716-446655440000
                period:
                  start: 2025-01-01T00:00:00Z
                  end: 2025-01-31T23:59:59Z
                total_cost_usd: 45.67
                cost_breakdown:
                  - price_id: price_neural_search
                    price_name: Neural Search
                    quantity: 1000
                    amount_usd: 30
                  - price_id: price_content_retrieval
                    price_name: Content Retrieval
                    quantity: 500
                    amount_usd: 15.67
                metadata:
                  generated_at: 2025-02-01T10:30:00Z
        "400":
          description: Requête incorrecte - Paramètres non valides
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    examples:
                      - Invalid API key ID format.
                      - Invalid date format. Use ISO 8601 format (YYYY-MM-DD or
                        YYYY-MM-DDTHH:mm:ss)
                      - start_date must be before end_date
                      - Date range too far in the past. start_date must be
                        within the last 6 months.
                      - "Invalid group_by parameter. Must be one of: hour, day,
                        month"
        "401":
          description: Non autorisé - Clé de service non valide ou manquante
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Unauthorized
        "404":
          description: Introuvable - L’API key n’existe pas
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: API key not found
        "500":
          description: Erreur interne du serveur - Échec de récupération des données
            d’utilisation
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: Failed to fetch usage data. Please try again later.
      tags:
        - Team Management
      security:
        - apikey: []
components:
  securitySchemes:
    apikey:
      type: apiKey
      in: header
      name: x-api-key
      description: API key de service pour l’authentification de l’équipe
